<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
            <h1 class="text-center display-3">404</h1>
        </b-col>
      </b-row>
      <b-row class="justify-content-center">
        <b-col md="6" class="text-center">
            <h4 class="pt-3">Ups! Chyba się zgubiłeś.</h4>
            <p class="text-muted">Strona, której szukasz nie istnieje.</p>
          <div class="d-flex justify-content-center">
            <router-link to="/" class="btn btn-info">Wróć do strony głównej</router-link>
          </div>
         <!--  <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-search"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
            <b-input-group-append>
              <b-button variant="info">Search</b-button>
            </b-input-group-append>
          </b-input-group> -->
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Page404'
}
</script>
