<template>
  <b-row>
     <b-col lg="12">
      <b-card :header="caption">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">L.p.</th>
              <th scope="col">Nr zamówienia</th>
              <th scope="col">Firma</th>
              <th scope="col">Adres siedziby</th>
              <th scope="col">Data utworzenia</th>
              <th scope="col">Czas realizacji</th>
              <th scope="col">Wartośc zamówienia</th>
              <th scope="col">Dodał</th>
              <!-- <th scope="col">Status zamówienia</th> -->
              <th scope="col">Akcje</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(offer, index) in offers" :key="offer.id">
              <td scope="row"><strong>{{ index+1 }}.</strong></td>
              <td>#{{ offer.orderNumberAsString }}</td>
              <td>{{ offer.company.name }}</td>
              <td v-if="offer.company.addresses.length > 0">{{ mainAddress(offer.company.addresses) }}</td>
              <td v-else>Odbiór osobisty</td>
              <td>{{ new Date(offer.createDate).toLocaleDateString() }}</td>
              <td>{{ computeFinalizeOrderDate(offer.unit, offer.completion) }}</td>
              <td>{{ computeOverallCost(offer).toFixed() }} zł</td>
              <td>{{ `${offer.createUser.username} (${offer.createUser.email})` }} </td>
              <td>
                <router-link class="btn btn-outline-primary btn-sm" :to="'/offers/'+(offer.id)">Wyświetl</router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'

export default {
  name: 'c-table',
  data () {
    return {
      offers: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      caption: 'Lista zamówień'
    }
  },
  mounted () {
    this.getOffers()
  },
  methods: {
    getOffers () {
      axios.get('/ajax/inquiry/list')
        .then(response => {
          this.offers = this.sortOffers(response.data)
        })
        .catch(err => console.log(err))
    },
    computeFinalizeOrderDate (unit, value) {
      if (value) {
        switch (unit) {
          case 'DAY':
            return value === 1 ? `${value} dzień` : `${value} dni`
          case 'WEEK':
            switch (value) {
              case 1:
                return `${value} tydzień`
              case 2:
              case 3:
              case 4:
                return `${value} tygodnie`
              default:
                return `${value} tygodni`
            }
          case 'MONTH':
            switch (value) {
              case 1:
                return `${value} miesiąc`
              case 2:
              case 3:
              case 4:
                return `${value} miesiące`
              default:
                return `${value} miesięcy`
            }
          default:
            return 'Brak danych'
        }
      } else {
        return 'Brak danych'
      }
    },
    computeOverallCost (offer) {
      const reducer = (acc, val) => acc + val
      let allCosts = offer.products.map(product => product.quantity * product.price)
      return allCosts.reduce(reducer)
    },
    getMainCompanyAddress (addresses) {
      return addresses.filter(address => address.main)[0]
    },
    mainAddress (data) {
      let mainAddr = data.filter(el => el.main)[0]
      return `${mainAddr.street ? mainAddr.street : ''}, ${mainAddr.postal ? mainAddr.postal : ''} ${mainAddr.city ? mainAddr.city : ''}`
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    sortOffers (offers) {
      return offers.sort((a, b) => {
        return new Date(a.createDate) - new Date(b.createDate)
      }).reverse()
    }
  }
}
</script>
