<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile />
      <b-link v-if="isDevelopment" class="navbar-brand" to="/">
        <img class="navbar-brand-full" src="static/img/frezwid/logo.png" width="130" height="25" alt="Frezwid Logo">
        <img class="navbar-brand-minimized" src="static/img/frezwid/sygnet.png" width="30" height="30" alt="Frezwid Logo">
      </b-link>
      <b-link v-else class="navbar-brand" to="/">
        <img class="navbar-brand-full" src="resources/img/frezwid/logo.png" width="130" height="25" alt="Frezwid Logo">
        <img class="navbar-brand-minimized" src="resources/img/frezwid/sygnet.png" width="30" height="30" alt="Frezwid Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg" />
      <!--
      <b-navbar-nav class="d-md-down-none ml-auto">
        <b-nav-item class="d-md-down-none">
          <DefaultHeaderDropdown/>
        </b-nav-item>
      </b-navbar-nav>
      <AsideToggler class="d-none d-lg-block" />
       -->
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="navItems">
        </SidebarNav>
        <span class="nav-item">
          <a class="nav-link" href="/logout"><i class="nav-icon icon-lock-open"></i> Wyloguj</a>
        </span>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>

      <!-- <AppAside fixed>
        <DefaultAside/>
      </AppAside>
       -->
    </div>
    <Footer>
      <!--footer-->
    </Footer>
  </div>
</template>

<script>
import nav from '../_nav'
import { Header as AppHeader, SidebarToggler, Sidebar as AppSidebar, SidebarFooter, SidebarForm, SidebarHeader, SidebarMinimizer, SidebarNav, Aside as AppAside, AsideToggler, Breadcrumb } from '@coreui/vue'
import Footer from './custom/Footer'
import DefaultAside from './DefaultAside'
import DefaultHeaderDropdown from './DefaultHeaderDropdown'

export default {
  name: 'DefaultContainer',
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    Footer,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdown,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer
  },
  data () {
    return {
      navItems: null,
      isDevelopment: false
    }
  },
  methods: {
    filteredNavItems () {
      return nav.items.filter(item => {
        return !item.forAdmin
      })
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched
    }
  },
  created () {
    const userRole = this.$root.$data.store.getUserRole()
    this.navItems = userRole === 'ADMIN' ? nav.items : this.filteredNavItems()

    this.isDevelopment = process.env.NODE_ENV === 'development'
  }
}
</script>
<style lang="css">
.logout-button{
  position: absolute!important;
  bottom: 0;
  width: 100%;
}
</style>
