<template>
  <form @submit.prevent="collectDataToFinalizeOrder" class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
      <b-col lg="12" xl="6">
        <b-card>
          <div slot="header">
            <strong>Dodawanie oferty</strong>
          </div>
          <div class="form-group d-flex justify-content-around">
            <div class="d-flex flex-column justify-content-start">
              <span>
                Data stworzenia: <strong>{{ selectedDate.start.toLocaleDateString("pl", options) }}</strong>
              </span>
              <span>
                Data realizacji: <strong>{{ selectedDate.end.toLocaleDateString("pl", options) }}</strong>
              </span>
            </div>
            <div>
              <v-date-picker
                mode='range'
                v-model='selectedDate'
                is-inline
                show-caps>
              </v-date-picker>
            </div>
          </div>
            <b-form-group
              label="Osoba przyjmująca zamówienie"
              label-for="orderRecipient"
              :label-cols="4"
              :horizontal="true">
              <b-form-input id="orderRecipient"
                :plain="true"
                name="orderRecipient"
                v-validate="'required'"
                data-vv-as="osoby przyjmującej zlecenie"
                :class="{'is-invalid': errors.has('orderRecipient')}"
                v-model="orderRecipient"
                >
              </b-form-input>
              <b-form-invalid-feedback v-if="errors.has('orderRecipient')">{{ errors.first('orderRecipient') }}</b-form-invalid-feedback>
            </b-form-group>
        </b-card>
        <b-card>
          <div slot="header"><strong>Dane klienta</strong></div>
          <!-- <b-form-group
              label="Typ klienta"
              label-for="clientType"
              :label-cols="3"
              :horizontal="true">
              <b-form-select id="clientType"
                :plain="true"
                required
                name="clientType"
                v-validate="'required'"
                data-vv-as="typu klienta"
                :class="{'is-invalid': errors.has('clientType')}"
                v-model="clientType"
                :options="['Z bazy danych', 'Nowy']"
                >
              </b-form-select>
                <b-form-invalid-feedback v-if="errors.has('clientType')">{{ errors.first('clientType') }}</b-form-invalid-feedback>
          </b-form-group> -->
          <div class="form-group d-flex justify-content-between">
            <v-select ref="clientsFromDb" maxHeight="200px" id="clientFromDB" v-model="selectedClient" :options="clientsList" class="flex-10 mr-3" placeholder="Wybierz klienta z bazy"></v-select>
            <b-btn @click="toggleAddNewClientField" variant="light" class="flex-1">
              Nowy <span :class="[ isAddNewClientFieldVisible ? 'icon-minus' : 'icon-plus', 'ml-1' ]"></span></b-btn>
          </div>
          <b-form-group
            class="animated fadeIn"
            v-if="isAddNewClientFieldVisible"
            description="Wpisz REGON, NIP lub KRS by wyszukać."
            label="Nowy klient"
            label-for="newClientSearch"
            :label-cols="3"
            :horizontal="true">
            <div class="d-flex">
              <b-form-input class="flex-10 mr-3" id="newClientSearch" name="newClientSearch" type="text" v-model="newClientSearch"></b-form-input>
              <b-btn class="flex-1" variant="light">Szukaj <i class="ml-2 fa fa-search"></i></b-btn>
            </div>
          </b-form-group>

            <b-form-group
              description="Pełne imię i nazwisko lub nazwa firmy."
              label="Nazwa"
              label-for="clientName"
              :label-cols="3"
              :horizontal="true">
              <b-form-input required v-validate="'required|min:3'" :class="{'is-invalid': errors.has('clientName')}" name="clientName"
               id="clientName" type="text" v-model="client.name" data-vv-as="nazwa" autocomplete="name"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('clientName')">
                {{ errors.first('clientName') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
            description="Adres"
            label="Adres"
            label-for="address"
            :label-cols="3"
            :horizontal="true">
              <b-form-input id="address" required v-validate="'required|min:3'" :class="{'is-invalid': errors.has('clientAddress')}"
               name="clientAddress" type="text" v-model="client.address" data-vv-as="adres" autocomplete="address"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('clientAddress')">
                {{ errors.first('clientAddress') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              description="Numer telefonu"
              label="Numer telefonu"
              label-for="phoneNumber"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="phoneNumber" required v-validate="'required|min:9'" :class="{'is-invalid': errors.has('clientPhone')}"
               name="clientPhone" v-model="client.phoneNumber" type="tel" data-vv-as="telefon" autocomplete="phone"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('clientPhone')">
                {{ errors.first('clientPhone') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              description="Email"
              label="Email"
              label-for="emailAddress"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="emailAddress" name="clientEmail" v-validate="'required|email'" :class="{'is-invalid': errors.has('clientEmail')}" required type="email" v-model="client.emailAddress" data-vv-as="email" autocomplete="email"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('clientEmail')">
                {{ errors.first('clientEmail') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <!-- CHOOSE END CLIENT -->
            <b-form-group
              label="Wybrany klient jest klientem końcowym"
              label-for="isEndClientNeeded"
              :label-cols="5"
              :horizontal="true">
              <b-form-radio-group
                id="isEndClientNeeded"
                name="isEndClientNeeded">
                <div class="custom-control custom-radio custom-control-inline">
                  <input v-model="isEndClientNeeded" type="radio" id="isEndClientNeeded1" name="isEndClientNeeded" class="custom-control-input" value="false" checked>
                  <label class="custom-control-label" for="isEndClientNeeded1">Tak</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input v-model="isEndClientNeeded" type="radio" id="isEndClientNeeded2" name="isEndClientNeeded" class="custom-control-input" value="true">
                  <label class="custom-control-label" for="isEndClientNeeded2">Nie</label>
                </div>
              </b-form-radio-group>
            </b-form-group>
            <div v-if="showAdditionalClientForm" class="animated fadeIn">
              <b-form-group
              description="Pełne imię i nazwisko lub nazwa firma."
              label="Nazwa"
              label-for="endClientName"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="endClientName" name="endClientName" data-vv-as="nazwa" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientName') }" required v-model="endClient.name" type="text"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('endClientName')">
                {{ errors.first('endClientName') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
            description="Adres"
            label="Adres"
            label-for="endClientAddress"
            :label-cols="3"
            :horizontal="true">
              <b-form-input id="endClientAddress" name="endClientAddress" data-vv-as="adres" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientAddress') }" required v-model="endClient.address" type="text"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('endClientAddress')">
                {{ errors.first('endClientAddress') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              description="Numer telefonu"
              label="Numer telefonu"
              label-for="endClientPhoneNumber"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="endClientPhoneNumber" name="endClientPhoneNumber" data-vv-as="telefon" v-validate="'required|min:9'" :class="{ 'is-invalid': errors.has('endClientPhoneNumber') }" required v-model="endClient.phoneNumber" type="tel"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('endClientPhoneNumber')">
                {{ errors.first('endClientPhoneNumber') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              description="Email"
              label="Email"
              label-for="endClientEmailAddress"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="endClientEmailAddress" name="endClientEmailAddress" data-vv-as="email" v-validate="'required|email'" :class="{ 'is-invalid': errors.has('endClientEmailAddress') }" required v-model="endClient.emailAddress" type="email"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('endClientEmailAddress')">
                {{ errors.first('endClientEmailAddress') }}
              </b-form-invalid-feedback>
            </b-form-group>
            </div>

            <!--  Choose which client is the end one (ordering or custom one) -->
            <b-form-group
              v-show="client.name"
              label="Odbiorca zamówienia"
              label-for="deliveryRecipient"
              :label-cols="5"
              :horizontal="true">
              <b-form-radio-group
                id="deliveryRecipient"
                name="deliveryRecipient">
                <div class="custom-control custom-radio custom-control-inline">
                  <input v-model="deliveryRecipient" type="radio" id="deliveryRecipient1" name="deliveryRecipient" class="custom-control-input" value="client" checked>
                  <label class="custom-control-label" for="deliveryRecipient1">{{ client.name }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" v-show="endClient.name">
                  <input v-model="deliveryRecipient" type="radio" id="deliveryRecipient2" name="deliveryRecipient" class="custom-control-input" value="endClient">
                  <label class="custom-control-label" for="deliveryRecipient2">{{ endClient.name }}</label>
                </div>
              </b-form-radio-group>
            </b-form-group>
            <!-- RECIPIENT ADDRESS -->
            <b-form-group
              v-show="client.address"
              label="Adres dostawy"
              label-for="recipientAddress"
              :label-cols="3"
              :horizontal="true">
              <template v-if="!endClient.address">
                <b-form-select id="recipientAddress"
                  v-model="recipientAddress"
                  :plain="true"
                  required
                  :options="[client.address, 'Inny']"
                  value="Wybierz">
                </b-form-select>
              </template>
              <template v-else>
                <b-form-select id="recipientAddress"
                  v-model="recipientAddress"
                  :plain="true"
                  required
                  :options="[client.address, endClient.address, 'Inny']"
                  value="Wybierz">
                </b-form-select>
              </template>
            </b-form-group>
            <b-form-group
              v-if="recipientAddress === 'Inny'"
              description="Adres dostawy"
              label="Nowy adres dostawy"
              label-for="recipientAdditionalAddress"
              :label-cols="3"
              :horizontal="true">
              <b-form-input name="recipientAdditionalAddress" data-vv-as="adres" v-validate="'required'" :class="{ 'is-invalid': errors.has('recipientAdditionalAddress') }" id="recipientAdditionalAddress" required v-model="recipientAdditionalAddress" type="text"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('recipientAdditionalAddress')">
                {{ errors.first('recipientAdditionalAddress') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              description="Jeżeli klient taki posiada"
              label="Numer zamówienia klienta"
              label-for="clientOrderNumber"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="clientOrderNumber" v-model="clientOrderNumber" type="text"></b-form-input>
            </b-form-group>
        </b-card>

        <template v-for="(order, index) in orders">
          <b-card :key="index">
            <div slot="header">
              <strong>Dane zamówienia #{{index+1}}</strong>
              <b-button @click="removeOrder(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
            </div>

            <OrderBaseForm
              class="animated fadeIn"
              :order="orders[index]"
              :errors="errors"
              :index="index"
              />

            <OrderService v-if="orders[index].isOrderService" :orderService="orders[index].orderService" />
            <OrderNewProduct v-if="orders[index].isOrderNewProduct" :orderNewProduct="orders[index].orderNewProduct" />
            <OrderCatalogProduct v-if="orders[index].isOrderCatalogProduct" :orderCatalogProduct="orders[index].orderCatalogProduct" />

            <b-form-group
              label="Ilość elementów"
              label-for="orderElementsAmount"
              :label-cols="3"
              :horizontal="true"
              >
                <b-form-input
                  v-model="orders[index].orderElementsAmount"
                  required
                  type="number"
                  min="0"
                  name="orderElementsAmount"
                  v-validate="'required'"
                  data-vv-as="z ilością elementów"
                  :class="{'is-invalid': errors.has('orderElementsAmount')}"
                  id="orderElementsAmount"
                  placeholder=""></b-form-input>
                  <b-form-invalid-feedback v-if="errors.has('orderElementsAmount')">
                    {{ errors.first('orderElementsAmount') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
              label="Cena elementu"
              label-for="orderElementsPrice"
              :label-cols="3"
              :horizontal="true"
              >
                <input
                  v-model="orders[index].orderElementsPrice"
                  type="number"
                  step=0.01
                  required
                  min=0
                  id="orderElementsPrice"
                  name="orderElementsPrice"
                  v-validate="'required'"
                  data-vv-as="z ceną elementu"
                  :class="{'is-invalid': errors.has('orderElementsPrice')}"
                  class="form-control">
                  <b-form-invalid-feedback v-if="errors.has('orderElementsPrice')">
                    {{ errors.first('orderElementsPrice') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                label="Cena pozycji"
                description="Całościowa cena pozycji"
                label-for="orderElementsSummary"
                :label-cols="3"
                :horizontal="true"
                >
                <b-form-input
                  type="number"
                  disabled
                  id="orderElementsSummary"
                  :value="(orders[index].orderElementsPrice * orders[index].orderElementsAmount).toFixed(2)">
                </b-form-input>
              </b-form-group>
          </b-card>
        </template>
          <b-card v-if="orders.length > 0">
            <div slot="header">
              <strong>Podsumowanie zamówienia</strong>
            </div>
            <b-form-group
              label="Cena łączna pozycji"
              description="Całościowa cena zamówienia"
              label-for="orderSummary"
              :label-cols="3"
              :horizontal="true"
              >
                <b-form-input type="number" disabled id="orderSummary" :value="computedSummaryValue">
                </b-form-input>
              </b-form-group>
          </b-card>
          <div class="mb-3">
            <b-button @click="addNewOrder" variant="info" class="text-white"><span class="icon-plus mr-1"></span> Dodaj pozycję zamówienia</b-button>
            <b-button variant="warning" class="text-white" @click="$validator.validateAll()">Sprawdź poprawność danych</b-button>
            <b-button v-if="orders.length > 0"  type="submit" variant="info" class="text-white float-right"><span class="fa fa-send mr-2"></span>Zatwierdź</b-button>
          </div>

      </b-col>
    </b-row>
  </form>
</template>
<script>
import { setupCalendar, DatePicker } from 'v-calendar'
import axios from 'axios'
import 'v-calendar/lib/v-calendar.min.css'
import vSelect from 'vue-select'
import VueNotifications from 'vue-notifications'

import OrderBaseForm from './OrderBaseForm'
import OrderService from './orderVariants/OrderService'
import OrderNewProduct from './orderVariants/OrderNewProduct'
import OrderCatalogProduct from './orderVariants/OrderCatalogProduct'

// temp url for local fake server
import { BASE_URL } from '@/shared/sharedData'

setupCalendar({
  firstDayOfWeek: 2 // Monday
})

const today = new Date()

export default {
  name: 'AddOffer',
  components: {
    'v-date-picker': DatePicker,
    vSelect,
    OrderBaseForm,
    OrderService,
    OrderNewProduct,
    OrderCatalogProduct
  },
  data () {
    return {
      newClientSearch: null,
      isAddNewClientFieldVisible: false,
      isClientTypeChosen: false,
      clientType: null,
      selectedClient: null,
      deliveryRecipient: 'client',
      recipientAdditionalAddress: '',
      recipientAddress: 'clientAddress',
      clientOrderNumber: '',
      orderRecipient: null,
      orders: [],
      orderElementsAmount: null,
      orderElementsPrice: null,
      computedSummaryValue: 0,
      client: {
        name: '',
        address: '',
        phoneNumber: '',
        emailAddress: ''
      },
      endClient: {
        name: '',
        address: '',
        phoneNumber: '',
        emailAddress: ''
      },
      isEndClientNeeded: false,
      showAdditionalClientForm: false,
      selectedDate: {
        start: today,
        end: today
      },
      options: [
        { year: 'numeric' },
        { month: 'numeric' },
        { day: 'numeric' }
      ],
      clientsList: [
        { value: 'AL', label: 'Jan Alabama', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'AK', label: 'Jan Alaska', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'AS', label: 'Jan American Samoa', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'AZ', label: 'Jan Arizona', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'AR', label: 'Jan Arkansas', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'CA', label: 'Jan California', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'CO', label: 'Jan Colorado', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'CT', label: 'Jan Connecticut', address: 'Main St. 14', phoneNumber: '777-777-777', email: 'email@test.org' },
        { value: 'DE', label: 'Jan Delaware' },
        { value: 'DC', label: 'Jan District Of Columbia' },
        { value: 'FM', label: 'Jan Federated States Of Micronesia' },
        { value: 'FL', label: 'Jan Florida' },
        { value: 'GA', label: 'Jan Georgia' },
        { value: 'GU', label: 'Jan Guam' },
        { value: 'HI', label: 'Jan Hawaii' }
      ]
    }
  },
  methods: {
    addNewOrder () {
      this.orders.push({
        id: null,
        orderDK: null,
        orderDKInfo: null,
        orderDescription: null,
        isOrderService: null,
        isOrderCatalogProduct: null,
        isOrderNewProduct: null,
        orderElementsPrice: null,
        orderElementsAmount: null
      })
    },
    removeOrder (e) {
      this.orders.splice(e, 1)
    },
    orderUpdate (e) {
      this.orders[e.id] = e
    },
    async collectDataToFinalizeOrder () {
      this.$forceUpdate()
      const client = this.client
      let endClient
      if (this.isEndClientNeeded) {
        endClient = this.endClient
      }
      let orderSummary = {
        client: client,
        endClient: endClient,
        clientOrderNumber: this.clientOrderNumber,
        orderRecipient: this.orderRecipient,
        computedSummaryValue: this.computedSummaryValue,
        deliveryRecipient: this.deliveryRecipient,
        recipientAdditionalAddress: this.recipientAdditionalAddress,
        recipientAddress: this.recipientAddress,
        selectedDate: this.selectedDate,
        orders: this.orders
      }
      await this.$validator.validateAll()

      if (this.errors.items.length === 0) {
        this.sendOrder(orderSummary)
      } else {
        this.showWarnMsg()
      }
    },
    sendOrder (order) {
      axios.post(BASE_URL, order)
        .then(resp => {
          this.showSuccessMsg()
        })
        .catch(err => console.log(err))
    },
    toggleAddNewClientField () {
      this.isAddNewClientFieldVisible = !this.isAddNewClientFieldVisible
      if (this.isAddNewClientFieldVisible) {
        this.client = {
          name: '',
          address: '',
          phoneNumber: '',
          emailAddress: ''
        }
        this.$refs.clientsFromDb.clearSelection()
      }
    }
  },
  watch: {
    selectedClient: function (client) {
      if (client) {
        this.client = {
          name: client.label,
          address: client.address,
          phoneNumber: client.phoneNumber,
          emailAddress: client.email
        }
      }
    },
    isEndClientNeeded: function (val) { this.showAdditionalClientForm = val === 'true' },
    orders: {
      handler: function () {
        let positionSum = 0
        let summary = 0
        this.orders.forEach(order => {
          let price = parseFloat(order.orderElementsPrice)
          let amount = parseFloat(order.orderElementsAmount)
          if (price && amount) {
            positionSum = (price * amount)
            summary += positionSum
          }
        })
        this.computedSummaryValue = summary.toFixed(2)
      },
      deep: true
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano zamówienie',
      message: 'Twoje zamówienie zostało wysłane!'
    }
  }
}

</script>
<style lang="scss">
@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i;
  }
}
</style>
