<template>
  <div class="animated fadeIn">
      <!-- offers list table is placed in ./offersList/Table -->
      <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'OffersList'
}
</script>
