<template>
  <div>
    <b-form-group
        label="Dział Konstrukcyjny"
        description="Dział Konstrukcyjny odpowiedzialny za pozycję zamówienia"
        label-for="orderDK"
        :label-cols="3"
        :horizontal="true">
        <b-form-select id="orderDK"
          :plain="true"
          required
          :class="{ 'is-invalid': errors.has('orderDK') }"
          name="orderDK"
          v-validate="'required'"
          data-vv-as="Dział Konstrukcyjny"
          value="Wybierz..."
          v-model="order.orderDK"
          :options="['DK1', 'DK2', 'DK3', 'DK4', 'DK5', 'Sklep']"
          >
        </b-form-select>
        <b-form-invalid-feedback v-if="errors.has('orderDK')">{{ errors.first('orderDK') }}</b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
        label="Uwagi"
        description="Komentarz do DK"
        label-for="orderDKinfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="orderDKinfo" v-model="order.orderDKInfo" type="text"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Typ pozycji zamówienia"
        label-for="orderDescription"
        :label-cols="3"
        :horizontal="true">
        <b-form-select id="orderDescription"
          :plain="true"
          :class="{ 'is-invalid': errors.has('orderDescription') }"
          data-vv-as="typ zamówienia"
          v-validate="'required'"
          required
          name="orderDescription"
          value="Wybierz..."
          v-model="orderType"
          :options="['Nowy produkt', 'Produkt katalogowy', 'Usługa']"
          >
        </b-form-select>
        <b-form-invalid-feedback v-if="errors.has('orderDescription')">{{ errors.first('orderDescription') }}</b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'OrderBaseForm',
  props: [
    'index', 'order'
  ],
  // make validation work in nested component
  inject: ['$validator'],
  data () {
    return {
      orderType: null
    }
  },
  created () {
    this.order.id = this.guidGenerator()
  },
  methods: {
    guidGenerator () {
      const S4 = () => (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1)
      return (S4() + S4() + '-' + S4() + '-' + S4() + '-' + S4() + '-' + S4() + S4() + S4())
    }
  },
  watch: {
    orderType:
    function (type) {
      switch (type) {
        case 'Nowy produkt':
          this.order.orderDescription = type
          this.order.isOrderNewProduct = true
          this.order.orderNewProduct = {
            newToolType: null,
            newToolSubType: null
          }
          this.order.isOrderService = this.order.isOrderCatalogProduct = false
          if (this.order.orderCatalogProduct || this.order.orderService) {
            delete this.order.orderCatalogProduct
            delete this.order.orderService
          }
          break
        case 'Produkt katalogowy':
          this.order.orderDescription = type
          this.order.isOrderCatalogProduct = true
          this.order.orderCatalogProduct = {
            selectedProduct: null,
            selectedProductIndex: null,
            productDesctiption: null
          }
          this.order.isOrderService = this.order.isOrderNewProduct = false
          if (this.order.orderNewProduct || this.order.orderService) {
            delete this.order.orderNewProduct
            delete this.order.orderService
          }
          break
        case 'Usługa':
          this.order.orderDescription = type
          this.order.isOrderService = true
          this.order.orderService = {
            serviceType: null,
            productSerialNumber: null,
            toolType: null,
            description: null,
            attachments: null
          }
          this.order.isOrderNewProduct = this.order.isOrderCatalogProduct = false
          if (this.order.orderCatalogProduct || this.order.orderNewProduct) {
            delete this.order.orderCatalogProduct
            delete this.order.orderNewProduct
          }
          break
        default:
          this.order.isOrderNewProduct = this.order.isOrderCatalogProduct = this.order.isOrderService = false
      }
    }
  }
}
</script>
