<template>
<div class="animated fadeIn">
  <b-row class="d-flex justify-content-center">
      <b-col lg="12" xl="6" v-if="offer">

      <b-card>
        <h5>Zamówienie #{{ offer.id }}
        <small v-if="offer.clientOrderNumber"> / nr zamówienia klienta #{{ offer.clientOrderNumber }}</small>
        </h5>
      </b-card>

      <b-card>
        <div slot="header">
          <strong>Dane klienta</strong>
        </div>
        <ClientData :client="offer.client" />
      </b-card>

      <b-card v-if="offer && offer.endClient">
        <div slot="header">
          <strong>Dane klienta końcowego</strong>
        </div>
        <ClientData :client="offer.endClient" />
      </b-card>

      <b-card>
        <div slot="header">
          <strong>Adres dostawy</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%">Wybrany adres</td>
              <td style="width: 50%" v-if="offer.recipientAddress === 'Inny'">{{ offer.recipientAdditionalAddress }}</td>
              <td style="width: 50%" v-else>{{ offer.recipientAddress }}</td>
            </tr>
          </tbody>
        </table>
      </b-card>

      <b-card>
        <div slot="header">
          <strong>Kalendarz</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%">Data złożenia zamówienia</td>
              <td style="width: 50%">{{ shortenedDate(offer.selectedDate.start) }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Data stworzenia zamówienia</td>
              <td style="width: 50%">{{ shortenedDate(offer.selectedDate.start) }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Termin realizacji zamówienia</td>
              <td style="width: 50%">{{ shortenedDate(offer.selectedDate.end) }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Status zamówienia</td>
              <td style="width: 50%">-- TO IMPLEMENT --</td>
            </tr>
          </tbody>
        </table>
      </b-card>

     <template v-for="(order, index) in offer.orders">
       <b-card :key="order.id">
         <div slot="header">
           <strong>#{{ index+1 }}: {{ order.orderDescription }}</strong>
         </div>
          <!-- if OrderService -->
          <OrderedService
            v-if="order.isOrderService"
            :orderedService="order.orderService" />
          <!-- if OrderCatalogProduct -->
          <OrderedCatalogProduct
            v-if="order.isOrderCatalogProduct"
            :orderedCatalogProduct="order.orderCatalogProduct" />
          <!-- if OrderNewProduct -->
          <!-- TODO -->
          <OrderedNewProduct
            v-if="order.isOrderNewProduct"
            :newProduct="order.orderNewProduct"
          />
            <!-- frezarka, zgrzewarka, and so on... -->
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%">Dział konstrukcyjny</td>
                <td style="width: 50%">{{ order.orderDK }}</td>
              </tr>
              <tr>
                <td style="width: 50%">Ilość elementów</td>
                <td style="width: 50%">{{ order.orderElementsAmount }}</td>
              </tr>
              <tr>
                <td style="width: 50%">Cena elementu</td>
                <td style="width: 50%">{{ order.orderElementsPrice }} zł</td>
              </tr>
              <tr>
                <td style="width: 50%">Suma</td>
                <td style="width: 50%">{{ serviceCost(order.orderElementsAmount, order.orderElementsPrice) }} zł</td>
              </tr>
            </tbody>
          </table>

       </b-card>
     </template>

     <b-card>
       <div slot="header">
         <strong>Podsumowanie</strong>
       </div>
       <table class="table">
         <tbody>
           <tr>
              <td style="width: 50%">Os. odpowiedzialna</td>
              <td style="width: 50%">{{ offer.orderRecipient }}</td>
           </tr>
           <tr>
             <td style="width: 50%">Cena całości</td>
             <td style="width: 50%">{{ offer.computedSummaryValue }} zł</td>
           </tr>
           <tr>
             <td style="width: 50%"></td>
             <td style="width: 50%"></td>
           </tr>
         </tbody>
       </table>
     </b-card>

    </b-col>
  </b-row>
</div>
</template>
<script>
import axios from 'axios'
import ClientData from './viewOffer/ClientData'
import OrderedService from './viewOffer/productTypes/OrderedService'
import OrderedCatalogProduct from './viewOffer/productTypes/OrderedCatalogProduct'
import OrderedNewProduct from './viewOffer/productTypes/OrderedNewProduct'

import { BASE_URL } from '@/shared/sharedData'

export default {
  name: 'ViewOffer',
  components: {
    ClientData,
    OrderedService,
    OrderedCatalogProduct,
    OrderedNewProduct
  },
  data () {
    return {
      offer: null
    }
  },
  methods: {
    getOffer (id) {
      axios.get(`${BASE_URL}/${id}`)
        .then(resp => {
          this.offer = resp.data
        })
        .catch(err => console.log(err))
    },
    shortenedDate (dateString) {
      return dateString.split('').splice(0, 10).join('')
    },
    serviceCost (amount, price) {
      return amount * price
    }
  },
  created () {
    const id = this.$router.currentRoute.params['id']
    this.getOffer(id)
  }
}
</script>
