<template>
  <form @submit.prevent="collectDataToFinalizeOrder" enctype="multipart/form-data" class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
      <b-col lg="12" xl="6">
        <b-card>
          <div slot="header">
            <strong>Dodawanie oferty</strong>
          </div>
            <b-form-group
              label="Data utworzenia zamówienia"
              :label-cols="4"
              :horizontal="true">
              <b-form-input :value="selectedDate.start.toLocaleDateString()" disabled type="text"></b-form-input>
            </b-form-group>
            <b-row>
              <b-col sm="8">
                <b-form-group
                  label="Czas realizacji zamówienia"
                  :label-cols="6"
                  :horizontal="true">
                  <b-form-input v-model="selectedDate.end.value" type="number"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col sm="4">
                <b-form-select
                    :plain="true"
                    v-model="selectedDate.end.format"
                    :options="endDateFormatTypes"
                     ></b-form-select>
              </b-col>
            </b-row>
<!--      <div><v-date-picker mode='single' :min-date="new Date()" v-model='selectedDate.end' is-inline show-caps></v-date-picker></div> -->
        </b-card>
        <b-card>
          <div slot="header"><strong>Dane klienta</strong></div>
          <div class="form-group d-flex justify-content-between">
            <v-select @search="onClientSearch" ref="clientsFromDb" maxHeight="200px" id="clientFromDB" v-model="selectedClient" :options="clientsList" class="flex-10 mr-3" placeholder="Wybierz klienta z bazy">
              <span slot="no-options">
                Nie znaleziono klientów
              </span>
            </v-select>
            <b-btn v-if="!selectedClient"  @click="toggleAddNewClientField" variant="light" class="flex-1">
              Nowy <span :class="[ isAddNewClientFieldVisible ? 'icon-minus' : 'icon-plus', 'ml-1' ]"></span></b-btn>
          </div>

          <!-- ADDING NEW CLIENT -->
          <template v-if="isAddNewClientFieldVisible">
 <!--       <b-form-group
              class="animated fadeIn"
              description="Wpisz REGON, NIP lub KRS by wyszukać."
              label="Nowy klient"
              label-for="newClientSearch"
              :label-cols="3"
              :horizontal="true">
              <div class="d-flex">
                <b-form-input class="flex-10 mr-3" id="newClientSearch" name="newClientSearch" type="text" v-model="newClientSearch"></b-form-input>
                <b-btn class="flex-1" @click="searchNewClient" variant="light">Szukaj <i class="ml-2 fa fa-search"></i></b-btn>
              </div>
            </b-form-group> -->

            <b-form-group
              label="Nazwa"
              description="Pełne imię i nazwisko lub nazwa firmy."
              label-for="companyName"
              :label-cols="3"
              :horizontal="true">
              <b-form-input required v-validate="'required|min:1'" :class="{'is-invalid': errors.has('companyName')}" name="companyName"
                id="companyName" type="text" v-model="client.name" data-vv-as="nazwa" autocomplete="name"></b-form-input>
              <b-form-invalid-feedback v-if="errors.has('companyName')">
                {{ errors.first('companyName') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
            label="Typ"
            label-for="companyType"
            :label-cols="3"
            :horizontal="true">
            <b-form-select id="companyType"
              :plain="true"
              required
              name="companyType"
              v-validate="'required'"
              data-vv-as="Dział Konstrukcyjny"
              value="Wybierz..."
              v-model="client.type"
              :options="[{ text: 'Klient indywidualny', value: 'INDIVIDUAL' },{ text: 'Firma', value: 'COMPANY' }]"
              >
          </b-form-group>
            <b-form-group
              label="NIP"
              description="Numer NIP"
              label-for="nip"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="nip" name="clientNip"
                type="text" v-model="client.taxId" autocomplete="nip"></b-form-input>
            </b-form-group>
            <b-form-group
              label="KRS"
              description="Numer KRS"
              label-for="krs"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="krs" name="clientKrs"
                type="text" v-model="client.krs" autocomplete="nip"></b-form-input>
            </b-form-group>
            <p>
              <strong>Osoba kontaktowa</strong>
            </p>
            <ClientClient v-on:updateData="data => client.clientForm[0] = data" />

            <p>
              <strong>Adres dostawy</strong>
            </p>
            <ClientAddress v-on:addresParamUpdate="data => client.addresses[0] = data" />
          </template>

          <b-form-group
            description="Jeżeli klient taki posiada"
            label="Numer zamówienia klienta"
            label-for="clientOrderNumber"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="clientOrderNumber" v-model="clientOrderNumber" type="text"></b-form-input>
          </b-form-group>

          <!-- add endclient flag  -->
          <b-form-group
            v-if="selectedClient"
            label="Wybrany klient jest klientem końcowym"
            label-for="isEndClientNeeded"
            :label-cols="3"
            :horizontal="true">
            <c-switch class="m-1" id="isEndClientNeeded" v-model="isEndClientNeeded" checked color="primary" variant="pill" />
          </b-form-group>
          <!-- print company data pulled from DB -->
          <template v-if="!isAddNewClientFieldVisible && selectedClient && !showAdditionalClientForm && !showEndClientSummary">
            <template v-if="selectedClient.clients.length > 0">
              <div v-for="(contactPerson, i) in contactPeople"
                  :key="contactPerson">
                <b-button @click="contactPeople.splice(i, 1)" variant="sm" class="pull-right"><span class="fa fa-remove"></span></b-button>
                <b-form-group
                  label="Osoba kontaktowa"
                  label-for="contactPerson"
                  :label-cols="3"
                  :horizontal="true">
                  <b-form-select id="contactPerson"
                    v-model="contactPeople[i]"
                    :plain="true"
                    required
                    v-validate="'required'"
                    data-vv-as="osoba kontaktowa"
                    :options="client.clients"
                    value="Wybierz">
                  </b-form-select>
                  <b-form-invalid-feedback v-if="errors.has('contactPerson')">
                    {{ errors.first('contactPerson') }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </div>
              <b-btn @click="contactPeople.push('')" size="sm" variant="primary">Dodaj osobę kontaktową</b-btn>
            </template>
            <p v-else>Brak osób kontaktowych w tej firmie!</p>

            <!-- RECIPIENT ADDRESS -->
            <b-form-group
              v-if="selectedClient.addresses.length > 0"
              label="Adres dostawy"
              label-for="recipientAddress"
              :label-cols="3"
              :horizontal="true">
                <b-form-select id="recipientAddress"
                  v-model="recipientAddress"
                  :plain="true"
                  required
                  v-validate="'required'"
                  data-vv-as="adres dostawy"
                  :options="client.addresses"
                  value="Wybierz">
                </b-form-select>
              <b-form-invalid-feedback v-if="errors.has('recipientAddress')">
                {{ errors.first('recipientAddress') }}
              </b-form-invalid-feedback>
            </b-form-group>
            <p v-else>Odbiór osobisty</p>
          </template>

          <!-- ENDCLIENT FORM -->
          <div v-if="showAdditionalClientForm" class="animated fadeIn">
            <!-- SEARCH FIELD -->
            <div class="form-group d-flex justify-content-between">
              <v-select v-if="endClient == null" @search="onEndClientSearch" @input="data => selectEndClient(data)" ref="clientsEndClientsFromDb" maxHeight="200px" v-model="endClient" id="clientsEndClientsFromDB" :options="endClientsTable" class="flex-10 mr-3" placeholder="Wybierz klienta końcowego z bazy">
                <span slot="no-options">
                  Nie znaleziono klientów
                </span>
              </v-select>
              <b-btn v-if="!endClient"  @click="endClient = {}" variant="light" class="flex-1">
                Nowy <span :class="[ isAddNewClientFieldVisible ? 'icon-minus' : 'icon-plus', 'ml-1' ]"></span>
              </b-btn>
            </div>
            <!-- FORM FIELD -->
            <template v-if="endClient !== null && endClientId == null">
              <b-form-group
                description="Pełne imię i nazwisko lub nazwa firmy."
                label="Nazwa"
                label-for="endClientName"
                :label-cols="3"
                :horizontal="true">
                <b-form-input id="endClientName" name="endClientName" data-vv-as="nazwa" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientName') }" required v-model="endClient.name" type="text"></b-form-input>
                <b-form-invalid-feedback v-if="errors.has('endClientName')">
                  {{ errors.first('endClientName') }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                description="Miasto"
                label="Miasto"
                label-for="endClientCity"
                :label-cols="3"
                :horizontal="true">
                  <b-form-input id="endClientCity" name="endClientCity" data-vv-as="miasto" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientCity') }" required v-model="endClient.city" type="text"></b-form-input>
                  <b-form-invalid-feedback v-if="errors.has('endClientCity')">
                    {{ errors.first('endClientCity') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                description="Kod pocztowy"
                label="Kod pocztowy"
                label-for="endClientPostal"
                :label-cols="3"
                :horizontal="true">
                  <b-form-input id="endClientPostal" name="endClientPostal" data-vv-as="miasto" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientPostal') }" required v-model="endClient.postal" type="text"></b-form-input>
                  <b-form-invalid-feedback v-if="errors.has('endClientPostal')">
                    {{ errors.first('endClientPostal') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                description="Adres"
                label="Adres"
                label-for="endClientAddress"
                :label-cols="3"
                :horizontal="true">
                  <b-form-input id="endClientAddress" name="endClientAddress" data-vv-as="adres" v-validate="'required'" :class="{ 'is-invalid': errors.has('endClientAddress') }" required v-model="endClient.street" type="text"></b-form-input>
                  <b-form-invalid-feedback v-if="errors.has('endClientAddress')">
                    {{ errors.first('endClientAddress') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                description="Numer telefonu"
                label="Numer telefonu"
                label-for="endClientPhoneNumber"
                :label-cols="3"
                :horizontal="true">
                <b-form-input id="endClientPhoneNumber" name="endClientPhoneNumber" data-vv-as="telefon" v-validate="'required|min:9'" :class="{ 'is-invalid': errors.has('endClientPhoneNumber') }" required v-model="endClient.phone" type="tel"></b-form-input>
                <b-form-invalid-feedback v-if="errors.has('endClientPhoneNumber')">
                  {{ errors.first('endClientPhoneNumber') }}
                </b-form-invalid-feedback>
              </b-form-group>
            </template>
          </div>
          <!-- END OF END CLIENT -->

          <!-- ENDCLIENT SUMMARY -->
          <template v-if="!isEndClientNeeded && showEndClientSummary && endClient !== null">
            <b-form-group
              v-if="endClientId"
              label="Klient końcowy"
              label-for="endClientSummary"
              :label-cols="3"
              :horizontal="true">
              <b-form-input  id="endClientSummary"
                :value="parsedEndClientData()"
                disabled></b-form-input>
            </b-form-group>
          </template>

          <!--NOTE: CUSTOM ADDRESS -->
          <ClientAddress v-if="recipientAddress === 'Inny'"
            v-on:addresParamUpdate="addressData => updateOrderDeliveryAddress(addressData)"/>
          <!-- <b-form-group
            v-if="recipientAddress === 'Inny'"
            description="Adres dostawy"
            label="Nowy adres dostawy"
            label-for="recipientAdditionalAddress"
            :label-cols="3"
            :horizontal="true">
            <b-form-input name="recipientAdditionalAddress" data-vv-as="adres" v-validate="'required'" :class="{ 'is-invalid': errors.has('recipientAdditionalAddress') }" id="recipientAdditionalAddress" required v-model="recipientAdditionalAddress" type="text"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('recipientAdditionalAddress')">
              {{ errors.first('recipientAdditionalAddress') }}
            </b-form-invalid-feedback>
          </b-form-group> -->
        </b-card>

        <template v-for="(order, index) in orders">
          <b-card :key="index">
            <div slot="header">
              <strong>Dane zamówienia #{{index+1}}</strong>
              <b-button @click="removeOrder(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
            </div>

            <OrderBaseForm
              class="animated fadeIn"
              :order="orders[index]"
              :errors="errors"
              :index="index"
              />

            <OrderCatalogProduct
              v-if="orders[index].isOrderCatalogProduct"
              v-on:updatePrice="price => orders[index].orderElementsPrice = price"
              :orderType="orders[index].orderDescription"
              :orderCatalogProduct="orders[index].orderCatalogProduct"
              v-on:updateFileAtOrderForm="(data) => onFileFormAtOrder(data, index)"
              v-on:updateFileDataAtOrderForm="(data) => onFileLoadFormAtOrder(data, index)"
              v-on:removeParamFile="removeParamFile(index)"
              v-on:clearArray="clearArray(index)"
              v-on:removeOrderAttachment="data => removeOrderAttachment(data, index)" />

            <b-form-group
              label="Ilość elementów"
              label-for="orderElementsAmount"
              :label-cols="3"
              :horizontal="true"
              >
                <b-form-input
                  v-model="orders[index].orderElementsAmount"
                  required
                  type="number"
                  min="0"
                  name="orderElementsAmount"
                  v-validate="'required'"
                  data-vv-as="z ilością elementów"
                  :class="{'is-invalid': errors.has('orderElementsAmount')}"
                  id="orderElementsAmount"
                  placeholder=""></b-form-input>
                  <b-form-invalid-feedback v-if="errors.has('orderElementsAmount')">
                    {{ errors.first('orderElementsAmount') }}
                  </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group
              label="Cena elementu"
              label-for="orderElementsPrice"
              :label-cols="3"
              :horizontal="true"
              >
                <input
                  v-model="orders[index].orderElementsPrice"
                  type="number"
                  step=0.01
                  required
                  min=0
                  id="orderElementsPrice"
                  name="orderElementsPrice"
                  v-validate="'required'"
                  data-vv-as="z ceną elementu"
                  :class="{'is-invalid': errors.has('orderElementsPrice')}"
                  class="form-control">
                  <b-form-invalid-feedback v-if="errors.has('orderElementsPrice')">
                    {{ errors.first('orderElementsPrice') }}
                  </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                label="Cena pozycji"
                description="Całościowa cena pozycji"
                label-for="orderElementsSummary"
                :label-cols="3"
                :horizontal="true"
                >
                <b-form-input
                  type="number"
                  disabled
                  id="orderElementsSummary"
                  :value="(orders[index].orderElementsPrice * orders[index].orderElementsAmount).toFixed(2)">
                </b-form-input>
              </b-form-group>
          </b-card>
        </template>
          <b-card v-if="orders.length > 0">
            <div slot="header">
              <strong>Podsumowanie</strong>
            </div>
            <b-form-group
                label="Załącznik"
                label-for="attachments"
                :label-cols="3"
                class="mt-1"
                :horizontal="true">
                <vue-base64-file-upload
                  class="form-control base64-file-input"
                  v-if="isImageFieldAvailable"
                  accept="image/*,.pdf,.doc,.docx,.odt"
                  image-class="v1-image"
                  input-class="v1-input"
                  placeholder="Kliknij, by dodać plik lub pliki"
                  @file="(file) => onFileForm(file)"
                  @load="(data) => onFileLoadForm(data)"
                  v-on:removeOrderAttachment="index => removeOrderAttachmentFromOffer(index)"/>
            </b-form-group>
            <b-form-group v-show="isResetButtonVisible">
              <b-button @click="resetOfferFile" class="mb-1 text-white pull-right" size="sm" variant="danger">Usuń wszystko</b-button>
            </b-form-group>
              <!-- :max-size="maxFileSize"
              @size-exceeded="onSizeExceeded" -->
            <b-form-group
                label="Uwagi"
                label-for="description"
                :label-cols="3"
                :horizontal="true">
                <b-form-input id="productDescription" v-model="overallOrderDescription" type="text"></b-form-input>
            </b-form-group>
            <b-form-group
              label="Cena łączna pozycji"
              description="Całościowa cena zamówienia"
              label-for="orderSummary"
              :label-cols="3"
              :horizontal="true"
              >
                <b-form-input type="number" disabled id="orderSummary" :value="computedSummaryValue">
                </b-form-input>
              </b-form-group>
          </b-card>
          <div class="mb-3">
            <b-button
              @click="addNewOrder"
              :disabled="recipientAddress === 'Inny' || isAddNewClientFieldVisible || !selectedClient"
              variant="info" class="text-white">
              <span class="icon-plus mr-1"></span>
              Dodaj pozycję zamówienia
            </b-button>
            <b-button
              v-if="recipientAddress === 'Inny'" variant="primary"
              class="text-white" @click="addNewAddressToChosenCompany">
              <span class="fa fa-send mr-2"></span>
              Dodaj nowy adres dostawy
            </b-button>
            <b-button
              v-if="isAddNewClientFieldVisible" variant="primary"
              class="text-white" @click="addNewClient">
              <span class="fa fa-send mr-2"></span>
              Dodaj nowego klienta
            </b-button>
            <b-button
              v-if="showAdditionalClientForm && endClientId == null" variant="primary"
              class="text-white" @click="addNewEndClient">
              <span class="fa fa-send mr-2"></span>
              Dodaj nowego klienta końcowego
            </b-button>
            <b-button
              v-if="orders.length > 0"
              :disabled="recipientAddress === 'Inny' || isAddNewClientFieldVisible || !selectedClient"
              type="submit" variant="info" class="text-white float-right">
              <span class="fa fa-send mr-2"></span>
              Zatwierdź
            </b-button>
          </div>
      </b-col>
    </b-row>
  </form>
</template>
<script>
import Vue from 'vue'
import { setupCalendar, DatePicker } from 'v-calendar'
import axios from 'axios'
import _ from 'lodash'
import 'v-calendar/lib/v-calendar.min.css'
import vSelect from 'vue-select'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'// https://github.com/se-panfilov/mini-toastr
import { toastTypes, options } from '@/shared/toasts'
// import VueBase64FileUpload from 'vue-base64-file-upload'
import VueBase64FileUpload from '@/shared/fileUploader'
import { Switch as cSwitch } from '@coreui/vue'

import ClientAddress from '@/views/clients/adding/ClientAddress'
import ClientClient from '@/views/clients/adding/ClientClient'
import OrderBaseForm from './OrderBaseForm'
import OrderCatalogProduct from './orderVariants/OrderCatalogProduct'

setupCalendar({
  locale: 'pl-PL',
  firstDayOfWeek: 2 // Monday
})

miniToastr.init({types: toastTypes})

Vue.use(VueNotifications, options)

const today = new Date()

export default {
  name: 'AddOffer',
  components: {
    'v-date-picker': DatePicker,
    OrderBaseForm,
    vSelect,
    OrderCatalogProduct,
    cSwitch,
    ClientAddress,
    ClientClient,
    VueBase64FileUpload
  },
  data () {
    return {
      endDateFormatTypes: [
        { text: 'dni', value: 'DAY' },
        { text: 'tygodnie', value: 'WEEK' },
        { text: 'miesiące', value: 'MONTH' }
      ],
      newClientSearch: null,
      isAddNewClientFieldVisible: false,
      isImageFieldAvailable: true,
      isResetButtonVisible: false,
      isClientTypeChosen: false,
      clientType: null,
      selectedClient: null,
      selectedClientNewAddress: null,
      contactPerson: null,
      contactPeople: [1],
      deliveryRecipient: 'client',
      recipientAdditionalAddress: '',
      recipientAddress: null,
      clientOrderNumber: '',
      orderRecipient: null,
      orders: [],
      orderElementsAmount: null,
      orderElementsPrice: null,
      overallOrderDescription: null,
      computedSummaryValue: 0,
      client: {
        id: null,
        name: '',
        address: '',
        phone: '',
        email: ''
      },
      endClient: null,
      endClientsTable: [],
      isEndClientNeeded: false,
      showAdditionalClientForm: false,
      showEndClientSummary: false,
      selectedDate: {
        start: today,
        end: {
          format: 'DAY'
        }
      },
      dateOptions: [
        { year: 'numeric' },
        { month: 'numeric' },
        { day: 'numeric' }
      ],
      clientsList: [],
      formFile: []
    }
  },
  methods: {
    addNewOrder () {
      this.orders.push({
        orderDescription: null,
        isOrderService: null,
        isOrderCatalogProduct: null,
        isOrderNewProduct: null,
        orderElementsPrice: null,
        orderElementsAmount: 1,
        formFile: []
      })
    },
    selectEndClient (data) {
      this.endClientId = data.id
    },
    removeHeaderFromBase64Img (base64String) {
      let indexOfComma = base64String.indexOf(',')
      return base64String.substr(indexOfComma + 1)
    },
    onFileForm (file) {
      this.formFile.push({
        name: '',
        file: ''
      })
      let size = this.formFile.length - 1
      this.formFile[size].name = file.name
      this.isResetButtonVisible = true
    },
    onFileLoadForm (data) {
      let size = this.formFile.length - 1
      this.formFile[size].file = this.removeHeaderFromBase64Img(data)
    },
    onFileFormAtOrder (fileName, index) {
      this.orders[index].formFile.push({
        name: '',
        file: ''
      })
      let size = this.orders[index].formFile.length - 1
      this.orders[index].formFile[size].name = fileName
    },
    onFileLoadFormAtOrder (data, index) {
      let size = this.orders[index].formFile.length - 1
      this.orders[index].formFile[size].file = this.removeHeaderFromBase64Img(data)
    },
    clearArray (index) {
      this.orders[index].formFile = []
    },
    removeOrderAttachment (fileIndex, orderIndex) {
      this.orders[orderIndex].formFile.splice(fileIndex, 1)
    },
    removeOrderAttachmentFromOffer (index) {
      this.formFile.splice(index, 1)
    },
    removeParamFile (index) {
      if (this.orders[index].formFile[0].image) { delete this.orders[index].formFile[0].image }
      this.orders[index].formFile = []
      this.$forceUpdate()
    },
    resetOfferFile () {
      this.formFile = []
      this.isImageFieldAvailable = false
      this.isResetButtonVisible = false

      setTimeout(() => {
        this.isImageFieldAvailable = true
        this.$forceUpdate()
      }, 50)
    },
    removeOrder (e) {
      this.orders.splice(e, 1)
    },
    parsedEndClientData () {
      let name = this.endClient.name ? this.endClient.name : ''
      let phone = this.endClient.phone ? this.endClient.phone : ''
      let street = this.endClient.street ? this.endClient.street : ''
      let postal = this.endClient.postal ? this.endClient.postal : ''
      let city = this.endClient.city ? this.endClient.city : ''
      return `${name}, ${phone}, ${street} ${postal} ${city}`
    },
    updateOrderDeliveryAddress (addressData) {
      this.selectedClientNewAddress = addressData
    },
    async addNewAddressToChosenCompany () {
      this.$forceUpdate()
      await this.$validator.validateAll()
      if (this.errors.items.length === 0) {
        axios.post(`/ajax/company/${this.selectedClient.id}/addresses/add`, this.selectedClientNewAddress)
          .then(response => {
            if (response.data.responseEnum === 'SUCCESS') {
              axios.get(`/ajax/company/${this.selectedClient.id}/addresses/get`)
                .then(response => {
                  if (response.status === 200) {
                    this.client.addresses = this.filterCompanyAddressesObjectToAddressSelectOption(response.data)
                    let newAddr = response.data.filter(addr => addr.name === this.selectedClientNewAddress.name)[0]
                    this.selectedClientNewAddress.id = newAddr.id
                    this.recipientAddress = this.selectedClientNewAddress.id
                  } else {
                    this.showErrorMsg()
                  }
                })
                .catch(err => {
                  console.log(err)
                })
            } else {
              this.showErrorMsg()
            }
          })
          .catch(err => console.log(err))
      } else {
        this.showWarnMsg()
      }
    },
    addNewEndClient () {
      axios.post(`/ajax/end/client/${this.client.id}/add`, this.endClient)
        .then(response => {
          console.log(response)
          if (response.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg({ message: 'Dodano klienta końcowego' })
            this.endClientId = response.data.result.id
            this.showAdditionalClientForm = false
            this.showEndClientSummary = true
          } else {
            this.showWarnMsg()
          }
        })
        .catch(error => {
          console.log(error)
          this.showErrorMsg()
        })
    },
    async addNewClient () {
      await this.$validator.validateAll()
      if (this.errors.items.length === 0) {
        this.client.addresses[0].main = true
        axios.post('/ajax/company/add', this.client)
          .then(response => {
            if (response.data.responseEnum === 'SUCCESS') {
              axios.get('/ajax/companies/get')
                .then(response => {
                  if (response.status === 200) {
                    let currentClient = response.data.filter(company => company.taxId.toLowerCase() === this.client.taxId.toLowerCase())[0]
                    currentClient.label = currentClient.name
                    this.selectedClient = currentClient
                    this.isAddNewClientFieldVisible = false
                    this.$forceUpdate()
                  } else {
                    console.log(response)
                    this.showErrorMsg()
                  }
                })
                .catch(err => {
                  this.showErrorMsg()
                  console.log(err)
                })
            } else {
              console.log(response)
              this.showErrorMsg()
            }
          })
          .catch(error => {
            console.log(error)
            this.showErrorMsg()
          })
      }
    },
    parseOrdersArrayToBackendRequestStructure (orders) {
      return orders.map(order => {
        return {
          name: order.orderCatalogProduct.selectedProduct.name,
          templateId: order.orderCatalogProduct.selectedProduct.id,
          quantity: order.orderElementsAmount,
          price: order.orderElementsPrice,
          form: order.formFile, // = [ { name: '', file: '' }, ... ]
          params: this.parseOrderSelectedProductParamsToFinalizeOrder(order.orderCatalogProduct.selectedProduct.tempateHasParams)
        }
      })
    },
    parseOrderSelectedProductParamsToFinalizeOrder (tempParams) {
      return tempParams.map(param => {
        console.log(param)
        if (typeof param.param.value === 'object' && param.param.value !== null) {
          return {
            templateHasParamId: param.id,
            paramHasOptionId: param.param.value.id
          }
        } else {
          return {
            templateHasParamId: param.id,
            value: param.param.value
          }
        }
      })
    },
    // helper func just to print finalized structure
    computeFinalOrder () {
      const finalOrder = this.parseOrdersArrayToBackendRequestStructure(this.orders)
      console.log(finalOrder)
    },
    async collectDataToFinalizeOrder () {
      this.$forceUpdate()
      await this.$validator.validateAll()
      const finalizedOrder = this.parseOrdersArrayToBackendRequestStructure(this.orders)
      let orderSummary = {
        companyId: this.selectedClient.id,
        // FIXME: clientId has to be changed when backend will be ready
        clientId: this.contactPeople[0],
        addressId: this.recipientAddress,
        unit: this.selectedDate.end.format,
        completion: this.selectedDate.end.value,
        description: this.overallOrderDescription,
        clientOrderNumber: this.clientOrderNumber,
        filesForm: this.formFile,
        form: finalizedOrder
      }
      if (this.endClient) {
        if (this.endClient.id) {
          orderSummary.endClientId = this.endClient.id
        }
      }
      if (this.endClientId) orderSummary.endClientId = this.endClientId

      if (this.errors.items.length === 0) {
        this.sendOrder(orderSummary)
      } else {
        this.showWarnMsg()
      }
    },
    sendOrder (order) {
      axios.post('/ajax/inquiry/add', order)
        .then(resp => {
          // add validation from backend handler, is there any?
          if (resp.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.$router.push(`/offers/`)
          } else {
            this.showWarnMsg()
          }
        })
        .catch(err => {
          this.showErrorMsg()
          console.error(err)
        })
    },
    toggleAddNewClientField () {
      this.isAddNewClientFieldVisible = !this.isAddNewClientFieldVisible
      if (this.isAddNewClientFieldVisible) {
        this.client = {
          name: '',
          taxId: '',
          krs: '',
          addresses: [],
          clientForm: []
        }
        this.$refs.clientsFromDb.clearSelection()
      }
    },
    fetchClients () {
      axios.get('/ajax/companies/get')
        .then(response => {
          response.data.map(el => {
            el.label = el.name
            this.clientsList.push(el)
          })
        })
        .catch(err => console.log(err))
    },
    filterCompanyAddressesObjectToAddressSelectOption (addresses) {
      if (addresses.length > 0) {
        return addresses.map(addressObj => {
          return {
            value: addressObj.id,
            text: `${addressObj.name} (${addressObj.street}, ${addressObj.city})`
          }
        })
      } else {
        return []
      }
    },
    filterCompanyClientsObjectToClientSelectOption (clients) {
      if (clients.length > 0) {
        return clients.map(companyClient => {
          return {
            value: companyClient.id,
            text: `${companyClient.name} ${companyClient.surname} (${companyClient.phone}, ${companyClient.email})`
          }
        })
      } else {
        return []
      }
    },
    onClientSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, vm) => {
      axios.get('/ajax/companies/get')
        .then(response => {
          vm.clientsList = []
          response.data.map(el => {
            el.label = el.name
            vm.clientsList.push(el)
          })
          loading(false)
        })
        .catch(err => console.log(err))
    }, 400),
    onEndClientSearch (search, loading) {
      loading(true)
      this.searchEndClient(loading, search, this)
    },
    searchEndClient: _.debounce((loading, search, self) => {
      axios.get(`/ajax/end/client/${self.client.id}/get`)
        .then(response => {
          self.endClientsTable = []
          response.data.map(el => {
            el.label = el.name
            self.endClientsTable.push(el)
          })
          loading(false)
        })
        .catch(error => {
          console.log(error)
        })
    }, 400)
  },
  watch: {
    selectedClient: function (client) {
      if (client) {
        this.isAddNewClientFieldVisible = false
        this.client = {
          id: client.id,
          name: client.name,
          addresses: [...this.filterCompanyAddressesObjectToAddressSelectOption(client.addresses), 'Inny'],
          clients: [...this.filterCompanyClientsObjectToClientSelectOption(client.clients)]
        }
      }
      if (client === null) {
        this.recipientAddress = null
      }
    },
    isEndClientNeeded: function (val) {
      this.showAdditionalClientForm = !val
      this.showEndClientSummary = !val
      this.endClientId = null
      this.endClient = null
    },
    orders: {
      handler: function () {
        let positionSum = 0
        let summary = 0
        this.orders.forEach(order => {
          let price = parseFloat(order.orderElementsPrice)
          let amount = parseFloat(order.orderElementsAmount)
          if (price && amount) {
            positionSum = (price * amount)
            summary += positionSum
          }
        })
        this.computedSummaryValue = summary.toFixed(2)
      },
      deep: true
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola.'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Wystąpił błąd',
      message: 'Po wysłaniu formularza. Spróbuj ponownie później.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano zamówienie',
      message: 'Twoje zamówienie zostało wysłane!'
    }
  },
  mounted () {
    this.fetchClients()
  }
}

</script>
<style lang="scss">
@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i;
  }
}
.vue-base64-file-upload{
  max-width: 100%!important;
}
.v1-image{
  max-width: 200px;
  max-height: 100px;
  margin: 10px;
}
.vue-base-64-img-container{
  display: flex;
  flex-wrap: wrap;
}
</style>
