<template>
  <div>
    <b-form-group
      label="Typ pozycji zamówienia"
      label-for="orderDescription"
      :label-cols="3"
      :horizontal="true">
      <b-form-select id="orderDescription"
        :plain="true"
        :class="{ 'is-invalid': errors.has('orderDescription') }"
        data-vv-as="typ zamówienia"
        v-validate="'required'"
        required
        name="orderDescription"
        value="Wybierz..."
        v-model="orderType"
        :options="selectOptions"
        >
      </b-form-select>
      <b-form-invalid-feedback v-if="errors.has('orderDescription')">{{ errors.first('orderDescription') }}</b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'OrderBaseForm',
  props: [
    'index', 'order'
  ],
  // make validation work in nested component
  inject: ['$validator'],
  data () {
    return {
      orderType: null,
      selectOptions: [
        {
          value: 'NEW_PRODUCT',
          text: 'Nowy produkt'
        },
        {
          value: 'CATALOG',
          text: 'Produkt katalogowy'
        },
        {
          value: 'SERVICE',
          text: 'Usługa'
        }
      ]
    }
  },
  methods: {},
  watch: {
    orderType: function (type) {
      switch (type) {
        // case 'Nowy produkt':
        //   this.order.orderDescription = type
        //   this.order.isOrderNewProduct = true
        //   this.order.orderNewProduct = {
        //     newToolType: null,
        //     newToolSubType: null
        //   }
        //   this.order.isOrderService = this.order.isOrderCatalogProduct = false
        //   if (this.order.orderCatalogProduct || this.order.orderService) {
        //     delete this.order.orderCatalogProduct
        //     delete this.order.orderService
        //   }
        //   break
        case 'NEW_PRODUCT':
        case 'CATALOG':
        case 'SERVICE':
          this.order.orderDescription = type
          this.order.isOrderCatalogProduct = true
          this.order.orderCatalogProduct = {
            selectedProduct: null,
            selectedProductIndex: null
          }
          this.order.isOrderService = this.order.isOrderNewProduct = false
          if (this.order.orderNewProduct || this.order.orderService) {
            delete this.order.orderNewProduct
            delete this.order.orderService
          }
          break
        case 'Usługa':
          this.order.orderDescription = type
          this.order.isOrderService = true
          this.order.orderService = {
            serviceType: null,
            productSerialNumber: null,
            toolType: null,
            description: null,
            attachments: null
          }
          this.order.isOrderNewProduct = this.order.isOrderCatalogProduct = false
          if (this.order.orderCatalogProduct || this.order.orderNewProduct) {
            delete this.order.orderCatalogProduct
            delete this.order.orderNewProduct
          }
          break
        default:
          this.order.isOrderNewProduct = this.order.isOrderCatalogProduct = this.order.isOrderService = false
      }
    }
  }
}
</script>
