<template>
<div class="animated fadeIn">
  <b-row class="d-flex justify-content-center" v-if="offer">
    <b-col lg="12" >
      <b-card>
        <h5>Zamówienie #{{ offer.orderNumberAsString }}
        <small v-if="offer.clientOrderNumber"> / nr zam. klienta: #{{ offer.clientOrderNumber }}</small>
        </h5>
      </b-card>
    </b-col>

    <b-col lg="6">
      <b-card>
        <div slot="header">
          <strong>Kalendarz</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%">Data złożenia zamówienia</td>
              <td style="width: 50%">{{ shortenedDate(offer.createDate) }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Termin realizacji zamówienia</td>
              <td style="width: 50%">{{ computeFinalizeOrderDate(offer.unit, offer.completion) }}</td>
            </tr>
            <!-- <tr>
              <td style="width: 50%">Status zamówienia</td>
              <td style="width: 50%"></td>
            </tr> -->
          </tbody>
        </table>
      </b-card>

      <b-card>
        <div slot="header">
          <strong>Dane klienta</strong>
        </div>
        <ClientData v-if="offer.company" :client="offer.client" :company="offer.company" :deliveryAddress="offer.deliveryAddress" />
      </b-card>

      <b-card v-if="offer.endClient">
        <div slot="header">
          <strong>Dane klienta końcowego</strong>
        </div>
         <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%;">Klient końcowy</td>
              <td style="width: 50%;">{{ offer.endClient.name }}</td>
            </tr>
            <tr>
              <td style="width: 50%;">Telefon</td>
              <td style="width: 50%;">{{ offer.endClient.phone }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Wybrany adres</td>
              <td style="width: 50%">{{ finalEndClientAddress(offer.endClient) }}</td>
            </tr>
          </tbody>
        </table>
      </b-card>

      <b-card  v-if="offer.deliveryAddress">
        <div slot="header">
          <strong>Adres dostawy</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%;">Nazwa</td>
              <td style="width: 50%;">{{ offer.deliveryAddress.name }}</td>
            </tr>
            <tr>
              <td style="width: 50%;">Telefon</td>
              <td style="width: 50%;">{{ offer.deliveryAddress.phone }}</td>
            </tr>
            <tr>
              <td style="width: 50%">Wybrany adres</td>
              <td style="width: 50%">{{ `${offer.deliveryAddress.street}, ${offer.deliveryAddress.postal} ${offer.deliveryAddress.city}, ${offer.deliveryAddress.country}` }}</td>
            </tr>
          </tbody>
        </table>
      </b-card>
      <b-card>
       <div slot="header">
         <strong>Podsumowanie</strong>
       </div>
       <table class="table">
         <tbody>
           <tr>
             <td style="width: 50%">Uwagi do zamówienia</td>
             <td style="width: 50%">{{ offer.description }}</td>
           </tr>
           <tr>
              <td style="width: 50%">Utworzył</td>
              <td style="width: 50%">{{ `${offer.createUser.username}, ${offer.createUser.email}` }}</td>
           </tr>
           <tr>
             <td style="width: 50%">Cena całości</td>
             <td style="width: 50%">{{ computeOverallCost().toFixed(2) }} zł</td>
           </tr>
           <tr>
             <td style="width: 50%"></td>
             <td style="width: 50%"></td>
           </tr>
         </tbody>
       </table>
       <div v-if="offer.attachments.length > 0">
         <p>Załączniki</p>
         <ul>
           <li v-for="attachment in offer.attachments" :key="attachment.id">
             <a v-if="isAttachmentTextFile(attachment)" target="_blank" :href="`${imagePath}/static/${attachment.path}`">{{ attachment.name }}</a>
             <template v-else>
               <img @click="openImageInNewWindow(attachment.path)" class="offer-img" :src="`${imagePath}/static/${attachment.path}`">
               <figcaption>{{ attachment.name }}</figcaption>
             </template>
           </li>
         </ul>
       </div>
     </b-card>
    </b-col>

    <b-col lg="6">
     <template v-for="order in offer.products">
       <b-card :key="order.id">
          <div slot="header">
            <strong>{{ order.name }}: #{{ `${offer.orderNumberAsString}/${order.odr}` }}</strong>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%">Dział konstrukcyjny</td>
                <td style="width: 50%">{{ order.department.name }}</td>
              </tr>
            </tbody>
          </table>
          <ProductView v-for="field in order.params"
            :key="field.id"
            :field="field"
          />
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%">Ilość elementów</td>
                <td style="width: 50%">{{ order.quantity }}</td>
              </tr>
              <tr>
                <td style="width: 50%">Cena elementu</td>
                <td style="width: 50%">{{ order.price }} zł</td>
              </tr>
              <tr>
                <td style="width: 50%">Suma</td>
                <td style="width: 50%">{{ (order.quantity * order.price).toFixed(2) }} zł</td>
              </tr>
            </tbody>
          </table>
          <b-row>
            <b-col lg="12">
              <div v-if="order.attachments.length > 0">
               <p>Załączniki</p>
               <ul>
                 <li v-for="attachment in order.attachments" :key="attachment.id">
                   <a v-if="isAttachmentTextFile(attachment)" target="_blank" :href="`${imagePath}/static/${attachment.path}`">{{ attachment.name }}</a>
                   <template v-else>
                     <img @click="openImageInNewWindow(attachment.path)" class="offer-img" :src="`${imagePath}/static/${attachment.path}`">
                     <figcaption>{{ attachment.name }}</figcaption>
                   </template>
                 </li>
               </ul>
             </div>
            </b-col>
          </b-row>
       </b-card>
     </template>
    </b-col>
  </b-row>
  <!-- modal with img here? -->
  <b-modal cancel-title="Anuluj" v-model="isModalShown" @ok="isModalShown = false">
  </b-modal>
  <!-- currently empty -->
</div>
</template>
<script>
import axios from 'axios'
import ClientData from './viewOffer/ClientData'
import OrderedService from './viewOffer/productTypes/OrderedService'
import OrderedCatalogProduct from './viewOffer/productTypes/OrderedCatalogProduct'
import OrderedNewProduct from './viewOffer/productTypes/OrderedNewProduct'
import ProductView from './viewOffer/ProductView'
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'ViewOffer',
  components: {
    ClientData,
    OrderedService,
    OrderedCatalogProduct,
    OrderedNewProduct,
    ProductView
  },
  data () {
    return {
      isModalShown: false,
      imagePath: IMAGE_PATH,
      id: this.$route.params.id,
      offer: null
    }
  },
  methods: {
    isAttachmentTextFile (attachment) {
      let name = attachment.name
      if (name.includes('.pdf') || name.includes('.doc') || name.includes('.docx')) return true
      else return false
    },
    getOffer () {
      axios.get(`/ajax/inquiry/${this.id}/get`)
        .then(resp => {
          this.offer = resp.data
        })
        .catch(err => console.log(err))
    },
    computeFinalizeOrderDate (unit, value) {
      if (value) {
        switch (unit) {
          case 'DAY':
            return value === 1 ? `${value} dzień` : `${value} dni`
          case 'WEEK':
            switch (value) {
              case 1:
                return `${value} tydzień`
              case 2:
              case 3:
              case 4:
                return `${value} tygodnie`
              default:
                return `${value} tygodni`
            }
          case 'MONTH':
            switch (value) {
              case 1:
                return `${value} miesiąc`
              case 2:
              case 3:
              case 4:
                return `${value} miesiące`
              default:
                return `${value} miesięcy`
            }
          default:
            return 'Brak danych'
        }
      } else {
        return 'Brak danych'
      }
    },
    computeOverallCost () {
      const reducer = (acc, val) => acc + val
      let allCosts = this.offer.products.map(product => product.quantity * product.price)
      return allCosts.reduce(reducer)
    },
    shortenedDate (date) {
      return new Date(date).toLocaleDateString()
    },
    finalEndClientAddress (client) {
      let street = client.street ? client.street : ''
      let postal = client.postal ? client.postal : ''
      let city = client.city ? client.city : ''
      return `${street} ${postal} ${city}`
    },
    serviceCost (amount, price) {
      return (amount * price).toFixed(2)
    },
    openImageInNewWindow (path) {
      console.log('opening')
      let url = `${this.imagePath}/static/${path}`
      window.open(url)
    }
  },
  created () {
    this.getOffer()
  }
}
</script>
<style>
  .offer-img{
    max-width: 200px;
    max-height: 100px;
    margin: 10px;
    cursor: pointer;
  }
</style>
