<template>
  <b-row class="d-flex justify-content-center">
      <b-col lg="10">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
          </div>
          <Table :sortBy="sortBy" :items="departments" :fields="fields" v-on:reloadData="fetchAllDepartments" v-on:updateDK="updateDepartment" />
        </b-card>
        <b-button variant="success" @click="$router.push('/departments/add')">
        <i class="icon-plus mr-1"></i> Nowy
        </b-button>
      </b-col>
  </b-row>
</template>
<script>
import axios from 'axios'
import Table from './viewComponents/Table'

export default {
  name: 'DepartmentsList',
  components: { Table },
  data () {
    return {
      caption: 'Lista działów konstrukcyjnych',
      departments: [],
      fields: [
        {
          key: 'index',
          label: 'L.p.'
        },
        {
          key: 'name',
          label: 'Nazwa',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Akcje'
        }
      ]
    }
  },
  methods: {
    updateDepartment (dk) {
      let dkToSend = { name: dk.name }
      axios.post(`/ajax/departments/${dk.id}/edit`, dkToSend)
        .then(resp => {
          console.log(resp)
          this.fetchAllDepartments()
        })
        .catch(err => console.log(err))
    },
    fetchAllDepartments () {
      axios.get('/ajax/departments/get')
        .then(response => {
          console.log(response)
          this.departments = response.data
        })
        .catch(error => console.log(error))
    }
  },
  created () {
    this.fetchAllDepartments()
  }
}
</script>
