<template>
  <div class="animated fadeIn">
    <b-row>
      <div class="d-flex justify-content-center col-sm-12">
      <b-col lg="6">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
          </div>
          <b-form-group
            label="Nazwa działu"
            label-for="dkName"
            :label-cols="3"
            :horizontal="true">
            <b-form-input
              id="dkName"
              name="dkName"
              data-vv-as="nazwa DK"
              v-validate="'required'"
              v-model="department.name"
              type="text"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('dkName')">{{ errors.first('dkName') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-card>
        <b-button variant="success" @click="submitDepartment">
          <i class="icon-plus mr-1"></i> Nowy
        </b-button>
      </b-col>
      </div>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
import VueNotifications from 'vue-notifications'

export default {
  name: 'DepartmentAdd',
  data () {
    return {
      caption: 'Nowy dział konstrukcyjny',
      isEditingDK: false,
      department: {
        name: ''
      }
    }
  },
  methods: {
    async submitDepartment () {
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        for (let err of this.errors) {
          this.showWarnMsg({
            message: err.msg
          })
        }
        console.log(this.errors)
        this.$forceUpdate()
        return false
      }
      let url = ''
      if (this.isEditingDK) {
        url = `/ajax/departments/${this.department.id}/edit`
      } else {
        url = '/ajax/departments/add'
      }
      axios.post(url, this.department)
        .then(response => {
          console.log(response)
          if (response.data.responseEnum === 'SUCCESS') {
            this.$router.push('/departments')
            this.showSuccessMsg()
          } else {
            if (response.data.errors.length > 0) {
              this.showWarnMsg({ message: 'DK o podanej nazwie już istnieje' })
            } else {
              this.showWarnMsg()
            }
          }
        })
        .catch(err => {
          console.log(err)
          this.showErrorMsg()
        })
    },
    isEditing () {
      return this.$router.currentRoute.path.match(/edit/) ? this.fetchDKToEdit() : null
    },
    fetchDKToEdit () {
      this.isEditingDK = true
      this.caption = 'Edycja działu konstrukcyjnego'
    }
  },
  created () {
    this.isEditing()
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola.'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Wystąpił nieoczekiwany błąd'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano!',
      message: 'DK został zapisany!'
    }
  }
}
</script>
