<template>
  <div class="animated fadeIn">
    <b-form-group>
      <v-select maxHeight="200px"
        id="productSearch"
        v-model="orderNewProduct.selectedProduct"
        :options="products"
        @search="onSearch"
        @input="handleSelection"
        placeholder="Nazwa produktu"
        v-validate="'required'"
        name="productName"
        data-vv-as="wybranego produktu"
        :class="{ 'invalid-field': errors.has('productName') }"></v-select>
        <span style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #f86c6b;" v-if="errors.has('productName')">{{ errors.first('productName') }}</span>
    </b-form-group>

    <!-- TODO:
      Po wybraniu "Inne" wyświetlają się:
        - pole tekstowe na nazwę produktu
        - pole tekstowe "Opis słowny"
        - załączniki
    -->

    <div class="row">
          <component v-for="(field, index) in schema"
                     :key="index"
                     :options="field.options"
                     :labelCols="3"
                     :is="field.type"
                     v-bind="field">
          </component>
        </div>
    <!-- <b-form-group>
      <v-select maxHeight="200px" id="productSearch" v-model="orderNewProduct.selectedProductIndex" :options="products" placeholder="Index produktu"></v-select>
    </b-form-group> -->
    <b-form-group
        label="Uwagi"
        label-for="description"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="productDescription" v-model="orderNewProduct.productDescription" type="text"></b-form-input>
    </b-form-group>
  </div>
</template>
<script>
import vSelect from 'vue-select'
import axios from 'axios'
import _ from 'lodash'
import TextField from '@/views/templateConfigurator/components/TextField'
import NumField from '@/views/templateConfigurator/components/NumField'
import SelectField from '@/views/templateConfigurator/components/SelectField'
import CheckboxField from '@/views/templateConfigurator/components/CheckboxField'
import RadioField from '@/views/templateConfigurator/components/RadioField'

import { SHORT_URL } from '@/shared/sharedData'

export default {
  name: 'OrderNewProduct',
  components: {
    vSelect,
    TextField,
    NumField,
    SelectField,
    CheckboxField,
    RadioField
  },
  inject: ['$validator'],
  props: ['orderNewProduct'],
  data () {
    return {
      products: [],
      schema: []
    }
  },
  created () {
    this.getProducts()
  },
  methods: {
    getProducts () {
      axios.get(`${SHORT_URL}/templates`)
        .then(response => {
          response.data.forEach(el => {
            el.label = el.name
            this.products.push(el)
          })
          this.products.push('Inne')
        })
    },
    handleSelection () {
      const selectedProduct = this.orderNewProduct.selectedProduct
      this.$emit('productHasBeenSelected', selectedProduct)
      this.schema = selectedProduct.params
    },
    onSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, vm) => {
      axios.get(`${SHORT_URL}/templates?q=${search}`)
        .then(response => {
          vm.products = []
          response.data.map(el => {
            el.label = el.name
            vm.products.push(el)
          })
          vm.products.push('Inne')
          loading(false)
        })
        .catch(err => console.log(err))
    }, 400) // duration of delay before sending request
  }
}
</script>
<style>
  .invalid-field{
    border: 1px solid rgb(248, 108, 107);
    border-radius: 6px;
  }
</style>
