<template>
  <div class="animated fadeIn">
    <b-form-group>
      <v-select maxHeight="200px"
        id="productSearch"
        v-model="orderCatalogProduct.selectedProduct"
        :options="products"
        @search="onSearch"
        @input="data => refreshPrice(data)"
        placeholder="Nazwa produktu"
        v-validate="'required'"
        name="productName"
        data-vv-as="wybranego produktu"
        :class="{ 'invalid-field': errors.has('productName') }"></v-select>
        <span style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #f86c6b;" v-if="errors.has('productName')">{{ errors.first('productName') }}</span>
    </b-form-group>
    <template v-if="orderCatalogProduct.selectedProduct">
      <p v-if="orderCatalogProduct.selectedProduct.image.length > 0">
        <img :src="`/ajax/static/${orderCatalogProduct.selectedProduct.image[0].path}`" class="product-image">
      </p>
      <b-form-group
        label="Dział konstrukcyjny"
        :label-cols="3"
        :horizontal="true">
        <b-form-input
          disabled
          :value="orderCatalogProduct.selectedProduct.department.name"
        ></b-form-input>
      </b-form-group>
      <div class="col-sm-12">
        <!-- add passing and displaying unit in parameter!! -->
        <component v-for="(field, index) in orderCatalogProduct.selectedProduct.tempateHasParams"
               :key="'uniq' + index + 'id' + 1"
               :id="'uniq' + index + 'id' + 1"
               :name="field.param.name"
               :symbol="field.param.symbol"
               :unit="field.param.unit"
               :options="field.param.paramHasOptions"
               :labelCols="3"
               :editValue="field.param.value"
               v-on:newValue="data => orderCatalogProduct.selectedProduct.tempateHasParams[index].param.value = data"
               :is="computedFieldType(field.param.type)"
               v-bind="field">
        </component>
      </div>
      <b-form-group
          label="Załącznik"
          label-for="attachments"
          :label-cols="3"
          class="mt-1"
          :horizontal="true">
          <vue-base64-file-upload
            v-if="isAvailable"
            class="form-control vue-base64-file-upload"
            accept="image/*,.pdf,.doc,.docx"
            image-class="v1-image"
            input-class="v1-input"
            placeholder="Kliknij, by dodać plik lub pliki"
            @clearArray="clearFilesArray"
            @file="(file) => onFileFormAtOrder(file)"
            @load="(data) => onFileLoadFormAtOrder(data)"
            v-on:removeOrderAttachment="index => removeOrderAttachment(index)"/>
      </b-form-group>
      <b-form-group v-show="isResetButtonVisible">
        <b-button @click="removeParamFile" class="mb-1 text-white pull-right" size="sm" variant="danger">Usuń wszystko</b-button>
      </b-form-group>
    </template>
  </div>
</template>
<script>
import TextField from '@/views/templateConfigurator/components/TextField'
import NumField from '@/views/templateConfigurator/components/NumField'
import SelectField from '@/views/templateConfigurator/components/SelectField'
import CheckboxField from '@/views/templateConfigurator/components/CheckboxField'
import RadioField from '@/views/templateConfigurator/components/RadioField'
import FixedValueField from '@/views/templateConfigurator/components/FixedValueField'

import vSelect from 'vue-select'
import axios from 'axios'
import _ from 'lodash'
import VueBase64FileUpload from '@/shared/fileUploader'

export default {
  name: 'OrderCatalogProduct',
  components: {
    vSelect,
    TextField,
    NumField,
    SelectField,
    CheckboxField,
    RadioField,
    FixedValueField,
    VueBase64FileUpload
  },
  inject: ['$validator'],
  props: ['orderCatalogProduct', 'orderType'],
  data () {
    return {
      products: [],
      files: [],
      isAvailable: true,
      isResetButtonVisible: false
    }
  },
  methods: {
    computedFieldType (type) {
      switch (type) {
        case 'VALUE':
          return 'NumField'
        case 'FIELD':
          return 'TextField'
        case 'SCROLL_LIST':
          return 'SelectField'
        case 'ONE':
          return 'RadioField'
        case 'MANY':
          return 'CheckboxField'
        case 'SET':
          return 'FixedValueField'
        default:
          return 'N/A'
      }
    },
    clearFilesArray () {
      this.files = []
      this.$emit('clearArray')
    },
    onFileFormAtOrder (file) {
      this.isResetButtonVisible = true
      this.files.push(file.name)
      this.$emit('updateFileAtOrderForm', file.name)
    },
    onFileLoadFormAtOrder (data) {
      this.$emit('updateFileDataAtOrderForm', data)
    },
    removeParamFile () {
      this.$emit('removeParamFile')
      this.files = []
      this.isAvailable = false
      this.isResetButtonVisible = false

      setTimeout(() => {
        this.isAvailable = true
        this.$forceUpdate()
      }, 50)
    },
    removeOrderAttachment (index) {
      this.files.splice(index, 1)
      this.$emit('removeOrderAttachment', index)
    },
    getRandomInt () {
      let stamp = Math.floor(Math.random() * Math.floor(10000))
      return 'uid' + stamp + 'n'
    },
    refreshPrice (payload) {
      this.$forceUpdate()
      this.$emit('updatePrice', payload.price)
    },
    getProducts (type) {
      axios.get(`/ajax/templates/type/${type}/get`)
        .then(response => {
          response.data.map(el => {
            el.label = el.name
            this.products.push(el)
          })
        })
        .catch(error => console.log(error))
    },
    onSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, vm) => {
      axios.get(`/ajax/templates/type/${vm.orderType}/get`)
        .then(response => {
          vm.products = []
          response.data.map(el => {
            el.label = el.name
            vm.products.push(el)
          })
          loading(false)
        })
        .catch(err => console.log(err))
    }, 400)
  },
  mounted () {
    this.getProducts(this.orderType)
  },
  watch: {
    orderType: function (val) {
      this.products = []
      this.getProducts(val)
    }
  }
}
</script>
<style lang="scss">
.invalid-field{
  border: 1px solid rgb(248, 108, 107);
  border-radius: 6px;
}
.product-image{
  max-width: 100%;
}
.vue-base64-file-upload{
  max-width: 100%!important;
}
.v1-image{
  max-width: 200px;
  max-height: 100px;
  margin: 10px;
}
.vue-base-64-img-container{
  display: flex;
  flex-wrap: wrap;
}
</style>
