<template>
  <b-row class="d-flex justify-content-center">
      <b-col lg="10">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
          </div>
          <Table :sortBy="sortBy" :items="parameters" :fields="fields" v-on:reloadData="fetchAllParams" />
        </b-card>
        <b-button variant="success" @click="$router.push('/param-configurator')">
        <i class="icon-plus mr-1"></i> Nowy
        </b-button>
      </b-col>
  </b-row>
</template>

<script>
import Table from './viewComponents/Table'
import axios from 'axios'

export default {
  name: 'ParamList',
  components: {
    Table
  },
  data () {
    return {
      sortBy: 'name',
      caption: 'Lista parametrów',
      parameters: [],
      fields: [
        {
          key: 'index',
          label: 'L.p.'
        },
        {
          key: 'fullname',
          label: 'Nazwa',
          sortable: true
        },
        {
          key: 'symbol',
          sortable: true
        },
        {
          key: 'unit',
          label: 'Jednostka',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Akcje'
        }
      ]
    }
  },
  methods: {
    fetchAllParams () {
      axios.get(`/ajax/param/get`)
        .then(resp => {
          this.parameters = resp.data
        })
        .catch(err => console.log(err))
    }
  },
  created () {
    this.fetchAllParams()
  }
}
</script>
