<template>
  <div class="animated fadeIn">
  <b-row>
    <div class="d-flex justify-content-center col-sm-12">
      <b-card>
        <div slot="header">
          <strong>Nowy parametr</strong>
        </div>
        <b-form-group
          label="Nazwa parametru"
          label-for="paramName"
          :label-cols="3"
          :horizontal="true">
          <b-form-input
            id="paramName"
            name="paramName"
            data-vv-as="nazwa parametru"
            v-validate="'required'"
            v-model="formParam.name"
            type="text"></b-form-input>
          <b-form-invalid-feedback v-if="errors.has('paramName')">{{ errors.first('paramName') }}</b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          label="Symbol"
          label-for="paramSymbol"
          :label-cols="3"
          :horizontal="true">
          <b-form-input
            id="paramSymbol"
            name="paramSymbol"
            v-model="formParam.symbol"
            type="text"></b-form-input>
        </b-form-group>

        <b-form-group
          label="Jednostka"
          label-for="paramUnit"
          :label-cols="3"
          :horizontal="true">
          <b-form-input
            id="paramUnit"
            name="paramUnit"
            v-model="formParam.unit"
            type="text"></b-form-input>
        </b-form-group>

        <b-form-group
          label="Typ parametru"
          label-for="fieldType"
          :label-cols="3"
          :horizontal="true">
          <b-form-select id="fieldType"
            :plain="true"
            required
            :name="fieldType"
            v-validate="'required'"
            data-vv-as="Typ parametru"
            value="Wybierz..."
            v-model="formParam.type"
            :options="paramTypeOptions"
            >
          </b-form-select>
          <b-form-invalid-feedback v-if="errors.has('fieldType')">{{ errors.first('fieldType') }}</b-form-invalid-feedback>
        </b-form-group>

        <div v-if="formParam.type === 'SET'">
          <b-form-group
            label="Wartość"
            label-for="setValue"
            :horizontal="true"
            :label-cols="3">
            <b-form-input type="text" id="setValue" v-model="formParam.value" placeholder="Wartość parametru"></b-form-input>
          </b-form-group>
        </div>

        <div v-else-if="formParam.type === 'SCROLL_LIST'">
          <b-form-group v-for="(item, optIndex) in formParam.paramHasOptions"
            :key="optIndex">
            <b-input-group>
              <b-form-input
                v-if="typeof formParam.paramHasOptions[optIndex].name === 'string'"
                :id="`selectOption${optIndex}`"
                v-model="formParam.paramHasOptions[optIndex].name"
                type="text" placeholder="Nazwa pola"></b-form-input>
                <b-form-input
                v-else
                :id="`selectOption${optIndex}`"
                v-model="formParam.paramHasOptions[optIndex].name.name"
                type="text" placeholder="Nazwa pola"></b-form-input>
              <b-input-group-append>
                <b-button @click="removeOption(optIndex)" size="sm" variant="danger">Usuń</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <div class="mb-3">
            <b-button
              @click="addNewOption()"
              size="sm"
              variant="warning"
              class="text-white">
              <span class="icon-plus mr-1"></span> Dodaj pole
            </b-button>
          </div>
        </div>
        <div v-else-if="formParam.type === 'MANY' || formParam.type === 'ONE'">
          <b-form-group v-for="(item, optIndex) in formParam.paramHasOptions"
            :key="optIndex">
            <b-input-group>
              <b-form-input
                v-if="typeof formParam.paramHasOptions[optIndex].name === 'string'"
                :id="`selectOption${optIndex}`"
                v-model="formParam.paramHasOptions[optIndex].name"
                type="text" placeholder="Nazwa pola"></b-form-input>
              <b-form-input
              v-else
              :id="`selectOption${optIndex}`"
              v-model="formParam.paramHasOptions[optIndex].name.name"
              type="text" placeholder="Nazwa pola"></b-form-input>
              <b-input-group-append>
                <b-button @click="removeOption(optIndex)" size="sm" variant="danger">Usuń</b-button>
              </b-input-group-append>
            </b-input-group>
            <!-- <b-form-group v-if="formParam.paramHasOptions[optIndex].form.forms">
              <img v-if="formParam.paramHasOptions[optIndex].form.forms.length > 0" :src="`${image_path}/static/${formParam.paramHasOptions[optIndex].form.forms[0].path}`" class="param-item-img"/>
            </b-form-group> -->

            <template v-if="formParam.paramHasOptions[optIndex].image">
              <div v-if="formParam.paramHasOptions[optIndex].image.length > 0" class="d-flex justify-content-between align-items-center">
                <img :src="`${image_path}/static/${formParam.paramHasOptions[optIndex].image[0].path}`" class="param-item-img"/>
                <div class="d-flex flex-column justify-content-around align-items-center mr-2">
                  <b-button
                    @click="removeImage('paramOpt', optIndex)"
                    class="mb-1 text-white"
                    size="sm"
                    variant="warning">Usuń</b-button>
                </div>
              </div>
              <b-form-group
                v-else-if="formParam.paramHasOptions[optIndex].image.length === 0"
                label="Załącznik do opcji"
                label-for="attachments"
                :label-cols="4"
                class="mt-1"
                :horizontal="true">
                <vue-base64-file-upload
                  class="form-control base64-file-input"
                  accept="image/png,image/jpeg"
                  image-class="v1-image"
                  input-class="v1-input"
                  placeholder="Kliknij, by wybrać plik"
                  :max-size="maxFileSize"
                  @size-exceeded="onSizeExceeded"
                  @file="(file) => onFileAtParamOption(file, optIndex)"
                  @load="(data) => onLoadAtParamOption(data, optIndex)"/>
              </b-form-group>
            </template>

            <b-form-group
              v-else
              label="Załącznik do opcji"
              label-for="attachments"
              :label-cols="4"
              class="mt-1"
              :horizontal="true">
              <vue-base64-file-upload
                class="form-control base64-file-input"
                accept="image/png,image/jpeg"
                image-class="v1-image"
                input-class="v1-input"
                placeholder="Kliknij, by wybrać plik"
                :max-size="maxFileSize"
                @size-exceeded="onSizeExceeded"
                @file="(file) => onFileAtParamOption(file, optIndex)"
                @load="(data) => onLoadAtParamOption(data, optIndex)"/>
            </b-form-group>
          </b-form-group>

          <div class="mb-3">
            <b-button
              @click="addNewOption()"
              size="sm"
              variant="warning"
              class="text-white">
              <span class="icon-plus mr-1"></span> Dodaj pole
            </b-button>
          </div>
        </div>
        <div v-else-if="formParam.type === 'PARAM'">
        </div>
        <template v-if="formParam.image">
          <div v-if="formParam.image.length > 0" class="d-flex justify-content-between align-items-center">
            <img :src="`${image_path}/static/${formParam.image[0].path}`" class="param-item-img"/>
            <div class="d-flex flex-column justify-content-around align-items-center mr-2">
              <b-button
                @click="removeImage('param', null)"
                class="mb-1 text-white"
                size="sm"
                variant="warning">Usuń</b-button>
            </div>
          </div>
          <b-form-group
            v-else-if="formParam.image.length === 0"
            v-show="typeof formParam === 'object'"
            label="Załączniki do parametru"
            label-for="attachments"
            :label-cols="3"
            :horizontal="true">
            <vue-base64-file-upload
              class="form-control"
              accept="image/png,image/jpeg"
              image-class="v1-image"
              input-class="v1-input"
              placeholder="Kliknij, by wybrać plik"
              :max-size="maxFileSize"
              @size-exceeded="onSizeExceeded"
              @file="(file) => onFileAtParam(file)"
              @load="(data) => onLoadAtParam(data)"/>
          </b-form-group>
        </template>

        <b-form-group
          v-else
          v-show="typeof formParam === 'object'"
          label="Załączniki do parametru"
          label-for="attachments"
          :label-cols="3"
          :horizontal="true">
          <vue-base64-file-upload
            class="form-control"
            v-if="isAvailable"
            accept="image/png,image/jpeg"
            image-class="v1-image"
            input-class="v1-input"
            placeholder="Kliknij, by wybrać plik"
            :max-size="maxFileSize"
            @size-exceeded="onSizeExceeded"
            @file="(file) => onFileAtParam(file)"
            @load="(data) => onLoadAtParam(data)"/>
        </b-form-group>
        <b-form-group v-show="isResetButtonVisible">
            <b-button @click="removeParamFile" class="mb-1 text-white pull-right"
                size="sm" variant="warning">Usuń</b-button>
        </b-form-group>
      </b-card>
    </div>
  </b-row>
  <b-row>
    <div class="col-12 d-flex justify-content-center mb-3">
      <b-button
        class="mr-2"
        @click="goBack"
        variant="info text-white"
        ><i class="fa fa-undo mr-1"></i> Wróć</b-button>
      <b-button v-if="isEditingForm"
        @click="updateFormParam"
        variant="success text-white"
        ><i class="fa fa-send mr-1"></i> Zaktualizuj parametr</b-button>
      <b-button v-else
        @click="sendCreatedParam"
        variant="success text-white"
        ><i class="fa fa-send mr-1"></i> Zapisz parametr</b-button>
     </div>
    </b-row>
</div>
</template>
<script>
import VueBase64FileUpload from 'vue-base64-file-upload'
import VueNotifications from 'vue-notifications'
import axios from 'axios'
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'ParamConfigurator',
  components: {
    VueBase64FileUpload
  },
  data () {
    return {
      isEditingForm: false,
      id: this.$router.currentRoute.params['id'],
      isAvailable: true,
      image_path: IMAGE_PATH,
      isResetButtonVisible: false,
      formParam: {
        name: null,
        symbol: null,
        unit: null,
        paramHasOptions: [],
        type: null
      },
      paramTypeOptions: [
        { text: 'Wartość liczbowa', value: 'VALUE' },
        { text: 'Pole tekstowe', value: 'FIELD' },
        { text: 'Lista rozwijana', value: 'SCROLL_LIST' },
        { text: 'Wiele z wielu', value: 'MANY' },
        { text: 'Jeden z wielu', value: 'ONE' },
        { text: 'Pole z wartością', value: 'SET' }
      ]
    }
  },
  methods: {
    // CREATE METHODS
    addNewOption () {
      this.formParam.paramHasOptions.push({
        name: ''
      })
    },
    removeOption (optionIndex) {
      this.formParam.paramHasOptions.splice(optionIndex, 1)
    },
    printValidationErrors (errors) {
      errors.forEach(el => {
        switch (el.defaultMessage) {
          case 'name.exist':
            this.showWarnMsg({ message: 'Parametr o takiej nazwie już istnieje' })
            break
          case 'symbol.exist':
            this.showWarnMsg({ message: 'Parametr z takim symbolem już istnieje' })
            break
          case 'name.symbol.exist':
            this.showWarnMsg({ message: 'Parametr z takim symbolem lub nazwą już istnieje' })
            break
          case 'ParamForm.type.NotNull':
            this.showWarnMsg({ message: 'Typ parametru musi zostać wybrany' })
            break
          default:
            this.showWarnMsg({ message: el.defaultMessage })
        }
      })
    },
    removeParamFile () {
      if (this.formParam.image) { delete this.formParam.image }
      delete this.formParam.form

      this.isAvailable = false
      this.isResetButtonVisible = false

      setTimeout(() => { this.isAvailable = true }, 50)
      this.$forceUpdate()
    },
    sendCreatedParam () {
      this.checkParamTypeAndClearUnnecessaryField()
      const paramForm = this.formParam
      axios.post('/ajax/param/add', paramForm)
        .then(response => {
          console.log(response)
          if (response.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.$router.push('/parameters/list')
          } else if (response.data.responseEnum === 'ERROR' || response.data.responseEnum === 'FAIL') {
            this.printValidationErrors(response.data.errors)
            console.error('There were some errors')
          } else {
            this.showErrorMsg()
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    goBack () {
      this.$router.go(-1)
    },
    removeHeaderFromBase64Img (base64String) {
      let indexOfComma = base64String.indexOf(',')
      return base64String.substr(indexOfComma + 1)
    },
    onFileAtParam (file) {
      if (this.formParam.form === undefined) {
        this.formParam.form = [
          {
            name: '', file: ''
          }
        ]
      }
      if (this.formParam.form.forms == null) {
        this.formParam.form = [
          {
            name: '', file: ''
          }
        ]
      }
      this.formParam.form[0].name = file.name
      this.isResetButtonVisible = true
    },
    onLoadAtParam (dataUri) {
      this.formParam.form[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    onFileAtParamOption (file, optIndex) {
      if (this.formParam.paramHasOptions[optIndex].form === undefined) {
        this.formParam.paramHasOptions[optIndex].form = []
        this.formParam.paramHasOptions[optIndex].form[0] = {
          name: '', file: ''
        }
      }
      if (this.formParam.paramHasOptions[optIndex].form == null) {
        this.formParam.paramHasOptions[optIndex].form = [
          {
            name: '', file: ''
          }
        ]
      }
      this.formParam.paramHasOptions[optIndex].form[0].name = file.name
    },
    onLoadAtParamOption (dataUri, optIndex) {
      this.formParam.paramHasOptions[optIndex].form[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    onSizeExceeded () {
      alert('Rozmiar pliku jest zbyt duży!')
    },
    checkParamTypeAndClearUnnecessaryField () {
      switch (this.formParam.type) {
        case 'VALUE':
        case 'FIELD':
          this.formParam.paramHasOptions = []
          this.formParam.value = null
          break
        case 'SET':
          this.formParam.paramHasOptions = []
          break
        case 'SCROLL_LIST':
        case 'MANY':
        case 'ONE':
          this.formParam.value = null
          break
        default:
          break
      }
    },
    // EDITING METHODS
    isEditing () {
      return this.$router.currentRoute.path.match(/edit/) ? this.fetchParamToEdit() : null
    },
    updateFormParam () {
      this.checkParamTypeAndClearUnnecessaryField()
      axios.post(`/ajax/param/${this.id}/edit`, this.formParam)
        .then(response => {
          console.log(response)
          if (response.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.$router.push('/parameters/list')
          } else if (response.data.responseEnum === 'ERROR') {
            this.printValidationErrors(response.data.errors)
            console.error('There was some errors')
          } else if (response.data.responseEnum === 'FAIL') {
            this.printValidationErrors(response.data.errors)
            console.error('There was some errors')
          } else {
            this.showErrorMsg()
          }
        })
        .catch(error => {
          console.log(error)
          this.showErrorMsg()
        })
    },
    fetchParamToEdit () {
      this.isEditingForm = true
      axios.get(`/ajax/param/${this.id}/get`)
        .then(response => {
          this.formParam = response.data
          this.formParam.image = response.data.image
        })
        .catch(error => console.log(error))
    },
    removeImage (param, paramIndex, optIndex) {
      switch (param) {
        case 'param':
          const imageId = this.formParam.image[0].id
          axios.get(`/ajax/image/${imageId}/delete`)
            .then(resp => {
              console.log(resp)
              delete this.formParam.image
              this.removeParamFile()
            })
            .catch(err => {
              console.error(err)
            })
          // this.formParam.form = []
          break
        case 'paramOpt':
          const imageParamId = this.formParam.paramHasOptions[paramIndex].image[0].id

          axios.get(`/ajax/image/${imageParamId}/delete`)
            .then(resp => {
              console.log(resp)
              delete this.formParam.paramHasOptions[paramIndex].image
              this.$forceUpdate()
              // this.removeParamFile()
            })
            .catch(err => {
              console.error(err)
            })
          // this.formParam.params[paramIndex].form = []
          break
        default:
          break
      }
      this.$forceUpdate()
    }
  },
  created () {
    this.isEditing()
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola.'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dodano parametr',
      message: 'Parametr został pomyślnie dodany!'
    }
  }
}
</script>
<style lang="scss">
  .file-reset-button{
    position: absolute;
    top: 5px;
    right: 10px;
  }
</style>
