<template>
  <div class="row d-flex justify-content-center">
    <div class="loading" v-if="loading">
      <b-card>
        <div class="text-center">
          <p>Pobieram dane...</p>
          <i class="fa fa-spinner fa-3x spinner"></i>
        </div>
      </b-card>
    </div>
    <div v-if="parameter" class="col-6">
      <b-card>
        <div slot="header">
          <strong>
            {{ parameter.name }}
          </strong>
          <button class="btn btn-danger btn-sm pull-right" @click="deleteParam">Usuń</button>
          <router-link class="btn btn-dark btn-sm pull-right mr-2" :to="'/parameters/'+(paramId)+'/edit'">Edytuj</router-link>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 50%;">Nazwa</td>
              <td style="width: 50%;">{{ parameter.name }}</td>
            </tr>
            <tr>
              <td style="width: 50%;">Symbol</td>
              <td style="width: 50%;">{{ parameter.symbol }}</td>
            </tr>
            <tr v-if="parameter.unit">
              <td style="width: 50%;">Jednostka</td>
              <td style="width: 50%;">{{ parameter.unit }}</td>
            </tr>
            <tr>
              <td style="width: 50%;">Typ:</td>
              <td style="width: 50%;">{{ computedFieldType(parameter.type) }}</td>
            </tr>
            <tr v-if="parameter.value">
              <td style="width: 50%;">Wartość:</td>
              <td style="width: 50%;">{{ parameter.value }}</td>
            </tr>
          </tbody>
        </table>
        <table v-if="parameter.paramHasOptions.length > 0" class="table">
          <tbody>
            <tr>
              <th colspan="2">Opcje:</th>
            </tr>
            <tr>
              <ul>
                <li v-for="item in parameter.paramHasOptions" :key="item.id">
                    {{ item.name }}
                    <img v-if="item.image.length > 0" class="param-item-img" :src="`${image_path}/static/${item.image[0].path}`" alt="">
                </li>
              </ul>
            </tr>
          </tbody>
        </table>
        <template v-if="parameter.image.length > 0">
          <p>Obraz parametru:</p>
          <img class="param-img" :src="`${image_path}/static/${parameter.image[0].path}`" alt="">
        </template>
      </b-card>
      <b-button
        class="mr-2"
        @click="goBack"
        variant="info text-white"
        ><i class="fa fa-undo mr-1"></i> Wróć</b-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'ParamGenerator',
  data () {
    return {
      loading: true,
      paramId: this.$route.params.id,
      parameter: {},
      image_path: IMAGE_PATH
    }
  },
  methods: {
    computedFieldType (type) {
      switch (type) {
        case 'VALUE':
          return 'Wartość liczbowa'
        case 'FIELD':
          return 'Pole tekstowe'
        case 'SCROLL_LIST':
          return 'Lista rozwijana'
        case 'ONE':
          return 'Jeden z wielu'
        case 'MANY':
          return 'Wiele z wielu'
        case 'SET':
          return 'Pole z wartością'
        default:
          return 'N/A'
      }
    },
    fetchParamData () {
      axios.get(`/ajax/param/${this.paramId}/get`)
        .then(response => {
          this.parameter = response.data
          this.loading = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    goBack () {
      this.$router.go(-1)
    },
    deleteParam () {
      if (confirm('Czy na pewno?')) {
        axios.get(`/ajax/param/${this.paramId}/delete`)
          .then(response => {
            console.log(response)
            this.$router.push('/parameters/list')
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  },
  created () {
    this.fetchParamData()
  }
}
</script>
<style lang="scss">
.param{
  &-img{
    max-width: 300px;
    max-height: 400px;
    margin: 20px;
  }
  &-item-img{
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
  }
}
</style>
