<template>
  <div class="animated fadeIn">
    <b-form-group
        label="Typ usługi"
        label-for="serviceType"
        :label-cols="3"
        :horizontal="true">
        <b-form-select id="serviceType"
          :plain="true"
          required
          name="serviceType"
          v-validate="'required'"
          data-vv-as="typ usługi"
          :class="{ 'is-invalid': errors.has('serviceType') }"
          value="Wybierz..."
          v-model="orderService.serviceType"
          :options="['Regeneracja', 'Ostrzenie', 'Naprawa']"
          >
        </b-form-select>
        <b-form-invalid-feedback v-if="errors.has('serviceType')">{{ errors.first('serviceType') }}</b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
        label="Numer seryjny"
        description="Numer seryjny produktu"
        label-for="productSerialNumber"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="productSerialNumber" v-model="orderService.productSerialNumber" type="text"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Typ narzędzia"
        label-for="toolType"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="toolType" v-model="orderService.toolType" type="text"></b-form-input>
    </b-form-group>
    <b-form-group
        label="Uwagi"
        label-for="description"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="description" v-model="orderService.description" type="text"></b-form-input>
    </b-form-group>
    <b-form-group
      label="Załączniki"
      label-for="attachments"
      :label-cols="3"
      :horizontal="true">
        <b-form-file id="attachments" v-model="orderService.attachments" :multiple="true"></b-form-file>
    </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'OrderService',
  inject: ['$validator'],
  props: ['orderService'],
  data () {
    return {
    }
  }
}
</script>
<style lang="scss">
.custom-file-input~.custom-file-label::after {
  content: "Wybierz";
}
</style>
