<template>
  <div class="animated fadeIn">
      <b-form-group
        label="Typ narzędzia"
        label-for="newToolType"
        :label-cols="3"
        :horizontal="true">
        <b-form-select id="newToolType"
          :plain="true"
          required
          name="newToolType"
          v-validate="'required'"
          data-vv-as="narzędzia"
          :class="{'is-invalid': errors.has('newToolType')}"
          value="Wybierz..."
          v-model="newToolType"
          :options="newToolTypeArr"
          >
        </b-form-select>
        <b-form-invalid-feedback v-if="errors.has('newToolType')">{{ errors.first('newToolType') }}</b-form-invalid-feedback>
    </b-form-group>
    <template v-if="orderNewProduct.newToolType === 'Część wymienna'">
      <b-form-group
        label="Podtyp grupy"
        description="Podtyp z grupy części wymienne"
        label-for="newToolSubType"
        :label-cols="3"
        :horizontal="true">
        <b-form-select id="newToolSubType"
          :plain="true"
          value="Wybierz..."
          v-model="orderNewProduct.newToolSubType"
          :options="spareParts"
        ></b-form-select>
      </b-form-group>
      <b-form-group
        label="Opis słowny"
        label-for="toolDescription"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="toolDescription" v-model="orderNewProduct.toolDescription" type="text"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Załączniki"
        label-for="toolFiles"
        :label-cols="3"
        :horizontal="true">
          <b-form-file id="toolFiles" v-model="orderNewProduct.toolFiles" :plain="true" :multiple="true"></b-form-file>
      </b-form-group>
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Frezarka do słupków'">
      <FrezarkaDoSlupkow :cutter="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Oczyszczarka naroży'">
      <OczyszczarkaNarozy :cleaner="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Piła do profili'">
      <PilaDoProfili :cutter="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Piła do listew przyszybowych'">
      <PilaDoListewPrzyszybowych :cutter="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Zgrzewarka'">
      <Zgrzewarka :welder="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Frez nasadzany' || orderNewProduct.newToolType === 'Frez piłkowy'">
      <FrezNasadzany :cutter="orderNewProduct.newToolTypeOptions" />
    </template>

    <template v-else-if="orderNewProduct.newToolType === 'Piła tarczowa'">
      <FrezNasadzany :cutter="orderNewProduct.newToolTypeOptions" />
      <b-form-group
        label="Rodzaj uzębienia"
        description="Rodzaj uzębienia pił tarczowych"
        :label-cols="3"
        :horizontal="true"
      >
        <b-form-input id="sawType" v-model="orderNewProduct.newToolTypeOptions.sawType" type="text"></b-form-input>
      </b-form-group>
    </template>

    <b-form-group v-else-if="orderNewProduct.newToolType === 'Frez trzpieniowy'"
      label="Podtyp grupy"
      description="Podtyp z grupy frezy trzpieniowe"
      label-for="newToolSubType"
      :label-cols="3"
      :horizontal="true">
      <b-form-select id="newToolSubType"
        :plain="true"
        value="Wybierz..."
        v-model="newToolSubType"
        :options="endMillingCutters"
      ></b-form-select>
    </b-form-group>

    <b-form-group v-else-if="orderNewProduct.newToolType === 'Wiertło'"
      label="Podtyp grupy"
      description="Podtyp z grupy wiertła"
      label-for="newToolSubType"
      :label-cols="3"
      :horizontal="true">
      <b-form-select id="newToolSubType"
        :plain="true"
        value="Wybierz..."
        v-model="orderNewProduct.newToolSubType"
        :options="drills"
      ></b-form-select>
    </b-form-group>

    <template v-else-if="orderNewProduct.newToolType === 'Inne'">
      <b-form-group
        label="Inny podtyp"
        description="Podtyp grupy"
        label-for="newToolSubType"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="newToolSubType" v-model="orderNewProduct.newToolSubType" type="text" value=""></b-form-input>
      </b-form-group>
      <b-form-group
        label="Opis słowny"
        label-for="toolDescription"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="toolDescription" v-model="orderNewProduct.toolDescription" type="text"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Załączniki"
        label-for="toolFiles"
        :label-cols="3"
        :horizontal="true">
          <b-form-file id="toolFiles" :plain="true" :multiple="true"></b-form-file>
      </b-form-group>
    </template>
    <template v-if="newToolSubType === 'Frez monolityczny' && newToolType === 'Frez trzpieniowy'">
      <FrezMonolityczny :cutter="orderNewProduct.newToolTypeOptions" />
    </template>
    <template v-if="newToolSubType === 'Frez lutowany' && newToolType === 'Frez trzpieniowy'">
      <FrezLutowany :cutter="orderNewProduct.newToolTypeOptions" />
    </template>
  </div>
</template>
<script>
import FrezarkaDoSlupkow from './newProducts/FrezarkaDoSlupkow'
import OczyszczarkaNarozy from './newProducts/OczyszczarkaNarozy'
import PilaDoProfili from './newProducts/PilaDoProfili'
import PilaDoListewPrzyszybowych from './newProducts/PilaDoListewPrzyszybowych'
import Zgrzewarka from './newProducts/Zgrzewarka'
import FrezNasadzany from './newProducts/FrezNasadzany'
import FrezMonolityczny from './newProducts/FrezMonolityczny'
import FrezLutowany from './newProducts/FrezLutowany'

export default {
  name: 'OrderNewProduct',
  components: {
    FrezarkaDoSlupkow,
    OczyszczarkaNarozy,
    PilaDoProfili,
    PilaDoListewPrzyszybowych,
    Zgrzewarka,
    FrezNasadzany,
    FrezMonolityczny,
    FrezLutowany
  },
  inject: ['$validator'],
  props: ['orderNewProduct'],
  data () {
    return {
      newToolType: null,
      newToolSubType: null,
      newToolTypeArr: [
        'Frezarka do słupków',
        'Piła do profili',
        'Oczyszczarka naroży',
        'Piła do listew przyszybowych',
        'Zgrzewarka',
        'Frez nasadzany',
        'Frez piłkowy',
        'Piła tarczowa',
        'Część wymienna', // => spareParts
        'Frez trzpieniowy', // => endMillingCutters
        'Wiertło', // => drills
        'Inne'
      ],
      spareParts: [
        'Płytka', 'Nóż', 'Śruba', 'Docisk', 'Uchwyt'
      ],
      endMillingCutters: [
        'Frez monolityczny', 'Frez lutowany', 'Składany z wymienną płytką'
      ],
      drills: [
        'Wiertło przelotowe', 'Wiertło nieprzelotowe'
      ],
      toolDescription: null,
      toolFiles: null
    }
  },
  methods: {
    changeToolType (type) {
      this.orderNewProduct.newToolType = type
      this.orderNewProduct.newToolTypeOptions = {}
    },
    cleanToolSubType () {
      if (this.orderNewProduct.newToolSubType) {
        this.orderNewProduct.newToolSubType = ''
      }
    }
  },
  watch: {
    newToolSubType: function (value) {
      this.orderNewProduct.newToolSubType = value
      switch (value) {
        case 'Frez monolityczny':
          this.orderNewProduct.newToolTypeOptions = {
            cuttingShape: '1',
            cuttingShapeDimensions: [],
            grippingPart: '1',
            grippingPartValue: null,
            forMaterial: null,
            processingType: '1',
            rotationDirection: '1',
            slopeAngle: '1',
            slopeLambda: null,
            bladesOnTop: '1',
            cuttingElementMaterial: '1',
            coverMaterial: '1'
          }
          break
        case 'Frez lutowany':
          this.orderNewProduct.newToolTypeOptions = {
            outerHole: '1',
            outerHoleMM: null,
            materialType: null,
            cutterType: '1',
            grippingHole: null,
            grippingRoller: null,
            grippingCone: false,
            screwType: '1',
            screwSubType: '1',
            cutterMaterial: '1',
            movementType: '1',
            bladesType: '1',
            bladesCount: null,
            bodyMaterial: '1',
            toolWorkingMechanism: '1'
          }
      }
    },
    newToolType: function (type) {
      switch (type) {
        case 'Frezarka do słupków':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            profileSystem: null,
            profileNumbers: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '', 11: '', 12: ''
            },
            producent: null,
            type: null,
            productionYear: null,
            serialNumber: null,
            stakePlacement: '1',
            rotationDirection: '1',
            holeDiameter: null,
            baseDiameter: null,
            maxCutterDiameter: null,
            maxToolDiameter: null,
            innerDiameter: null,
            outerDiameter: null,
            cutterLength: null,
            quickchangeBushing: '1',
            reductionSleeve: '1',
            additionalInfo: null
          }
          break
        case 'Piła do profili':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            profileSystem: null,
            profileNumbers: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '', 11: '', 12: ''
            },
            producent: null,
            type: null,
            productionYear: null,
            serialNumber: null,
            stakePlacement: '1',
            mountType: '1',
            mountTypeOther: '',
            dimensions: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '' },
            additionalInfo: null
          }
          break
        case 'Oczyszczarka naroży':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            profileSystem: null,
            profileTypes: '2',
            profileNumbers: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '', 11: '', 12: ''
            },
            producent: null,
            type: null,
            productionYear: null,
            serialNumber: null,
            stakePlacement: '1',
            wingPlacement: '1',
            rotationDirection: '1',
            holeDiameter: null,
            baseDiameter: null,
            maxCutterDiameter: null,
            maxToolDiameter: null,
            innerDiameter: null,
            outerDiameter: null,
            cutterLength: null,
            quickchangeBushing: '1',
            reductionSleeve: '1',
            wedgeOnShaft: '1',
            additionalInfo: null
          }
          break
        case 'Piła do listew przyszybowych':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            profileSystem: null,
            profileNumbers: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '', 11: '', 12: ''
            },
            producent: null,
            type: null,
            cuttingMethod: '1',
            productionYear: null,
            serialNumber: null,
            stabilization: '1',
            mountType: '1',
            mountTypeOther: '',
            dimensions: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '' },
            additionalInfo: null
          }
          break
        case 'Zgrzewarka':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            profileSystem: null,
            profileNumbers: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '', 11: '', 12: ''
            },
            profileTypes: '1',
            producent: null,
            type: null,
            productionYear: null,
            serialNumber: null,
            stakePlacement: '1',
            wingPlacement: '1',
            welderType: '1',
            mountType: '1',
            mountTypeOther: '',
            dimensions: { 1: '', 2: '', 3: '', 4: '', 5: '', 6: '', 7: '', 8: '', 9: '', 10: '' },
            additionalInfo: null
          }
          break
        case 'Frez nasadzany':
        case 'Frez piłkowy':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            outerHole: '1',
            outerHoleMM: null,
            materialType: null,
            cutterType: '1',
            grippingHole: null,
            grippingRoller: null,
            grippingCone: false,
            screwType: '1',
            screwSubType: '1',
            cutterMaterial: '1',
            movementType: '1',
            bladesType: '1',
            bladesCount: null,
            bodyMaterial: '1',
            toolWorkingMechanism: '1'
          }
          break
        case 'Piła tarczowa':
          this.changeToolType(type)
          this.orderNewProduct.newToolTypeOptions = {
            outerHole: '1',
            outerHoleMM: null,
            materialType: null,
            cutterType: '1',
            grippingHole: null,
            grippingRoller: null,
            grippingCone: false,
            screwType: '1',
            screwSubType: '1',
            cutterMaterial: '1',
            movementType: '1',
            bladesType: '1',
            bladesCount: null,
            bodyMaterial: '1',
            toolWorkingMechanism: '1',
            sawType: null
          }
          break
        case 'Część wymienna':
          this.changeToolType(type)
          break
        case 'Frez trzpieniowy':
          this.changeToolType(type)
          break
        case 'Wiertło':
          this.changeToolType(type)
          break
        case 'Inne':
          this.changeToolType(type)
          break
      }
    }
  }
}
</script>
