<template>
  <div class="animated fadeIn">
    <b-form-group>
      <v-select maxHeight="200px"
        id="productSearch"
        v-model="orderCatalogProduct.selectedProduct"
        :options="products"
        placeholder="Nazwa produktu"
        v-validate="'required'"
        name="productName"
        data-vv-as="wybranego produktu"
        :class="{ 'invalid-field': errors.has('productName') }"></v-select>
        <span style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #f86c6b;" v-if="errors.has('productName')">{{ errors.first('productName') }}</span>
    </b-form-group>
    <b-form-group>
      <v-select maxHeight="200px" id="productSearch" v-model="orderCatalogProduct.selectedProductIndex" :options="products" placeholder="Index produktu"></v-select>
    </b-form-group>
    <b-form-group
        label="Uwagi"
        label-for="description"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="productDescription" v-model="orderCatalogProduct.productDescription" type="text"></b-form-input>
    </b-form-group>
  </div>
</template>
<script>
import vSelect from 'vue-select'

export default {
  name: 'OrderCatalogProduct',
  components: {
    vSelect
  },
  inject: ['$validator'],
  props: ['orderCatalogProduct'],
  data () {
    return {
      products: [
        { value: 'AL', label: 'Alabama' },
        { value: 'AK', label: 'Alaska' },
        { value: 'AS', label: 'American Samoa' },
        { value: 'AZ', label: 'Arizona' },
        { value: 'AR', label: 'Arkansas' },
        { value: 'CA', label: 'California' },
        { value: 'CO', label: 'Colorado' },
        { value: 'CT', label: 'Connecticut' },
        { value: 'DE', label: 'Delaware' },
        { value: 'DC', label: 'District Of Columbia' },
        { value: 'FM', label: 'Federated States Of Micronesia' },
        { value: 'FL', label: 'Florida' },
        { value: 'GA', label: 'Georgia' },
        { value: 'GU', label: 'Guam' },
        { value: 'HI', label: 'Hawaii' }
      ]
    }
  }
}
</script>
<style>
  .invalid-field{
    border: 1px solid rgb(248, 108, 107);
    border-radius: 6px;
  }
</style>
