<template>
  <div class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
      <b-col lg="12" xl="6">
        <b-card>
          <div slot="header">
            <strong>
              {{ cardTitle }}
            </strong>
          </div>
          <EditMainData
            v-if="isEditing === 'company'"
            v-on:updateData="data => updateCompanyData(data)" />
          <EditAddress
            v-else-if="isEditing === 'addresses'"
            v-on:updateData="data => updateAddressData(data)" />
          <EditClientData
            v-else-if="isEditing === 'clients'"
            v-on:updateData="data => updateClientData(data)" />
        </b-card>
        <div class="mb-3">
          <b-button @click="goBack" variant="primary text-white mr-2" class="pull-left"><i class="fa fa-undo mr-2"></i> Wróć</b-button>

          <b-button
            v-if="isEditing === 'company'"
            @click="submitCompany" variant="success text-white" class="pull-left"><i class="fa fa-save mr-2"></i> Zapisz</b-button>
          <b-button
            v-else-if="isEditing === 'addresses'"
            @click="submitAddress" variant="success text-white" class="pull-left"><i class="fa fa-save mr-2"></i> Zapisz</b-button>
          <b-button
            v-else-if="isEditing === 'clients'"
            @click="submitClient" variant="success text-white" class="pull-left"><i class="fa fa-save mr-2"></i> Zapisz</b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
import VueNotifications from 'vue-notifications'

import EditAddress from './editing/EditAddress'
import EditClientData from './editing/EditClientData'
import EditMainData from './editing/EditMainData'
import FormPartial from './FormPartial'

export default {
  name: 'ClientEdit',
  components: {
    FormPartial,
    EditMainData,
    EditAddress,
    EditClientData
  },
  data () {
    return {
      isEditing: null,
      company: null,
      client: null,
      companyClient: null,
      address: null,
      cardTitle: '',
      clientId: this.$route.params.id
    }
  },
  methods: {
    defineWhatIsBeingEdited () {
      if (this.$route.fullPath.includes('company')) {
        this.isEditing = 'company'
        this.cardTitle = 'Edycja danych'
      } else if (this.$route.fullPath.includes('addresses')) {
        this.isEditing = 'addresses'
        this.cardTitle = 'Edycja adresu'
      } else if (this.$route.fullPath.includes('clients')) {
        this.isEditing = 'clients'
        this.cardTitle = 'Edycja danych klienta'
      }
    },
    updateCompanyData (data) {
      this.company = data
    },
    updateClientData (data) {
      this.client = data
    },
    updateAddressData (data) {
      this.address = data
    },
    submitClient () {
      axios.post(`/ajax/client/${this.client.id}/update`, this.client)
        .then(response => {
          console.log(response)
          this.showSuccessMsg()
          this.goBack()
        })
        .catch(error => {
          this.showErrorMsg()
          console.log(error)
        })
    },
    async submitAddress () {
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        this.showWarnMsg()
      } else {
        axios.post(`/ajax/company/${this.clientId}/address/${this.address.id}/update`, this.address)
          .then(response => {
            console.log(response)
            this.showSuccessMsg()
            this.goBack()
          })
          .catch(error => {
            this.showErrorMsg()
            console.log(error)
          })
      }
    },
    submitCompany () {
      axios.post(`/ajax/company/${this.$router.currentRoute.params.id}/update`, this.company)
        .then(response => {
          console.log(response)
          this.showSuccessMsg()
          this.goBack()
        })
        .catch(error => {
          this.showErrorMsg()
          console.log(error)
        })
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  created () {
    this.defineWhatIsBeingEdited()
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Sukces!',
      message: ''
    }
  }
}
</script>
