<template>
  <div class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
      <b-col lg="12" xl="6">
          <!-- BEGIN FORM -->
        <FormPartial
          :client="client"
          v-on:updateAddressParams="updateData => updateAddressData(updateData)"
          v-on:toggleMainAddress="(index) => toggleMainAddress(index)"
          v-on:updateClientParams="updateData => updateClientData(updateData)"
          v-on:delContact="e => removeContact(e)"
          v-on:delAddress="e => removeAddress(e)"
          />
        <div class="mb-3">
          <b-button @click="addAdditionalAddress" variant="info" class="text-white"><span class="icon-plus mr-1"></span> Dodaj dodatkowy adres</b-button>
          <b-button @click="addContactPerson" variant="info" class="text-white"><span class="icon-plus mr-1"></span> Dodaj osobę kontaktową</b-button>
          <b-button @click="validateFormBeforeSubmit" variant="success text-white" class="pull-right"><i class="fa fa-send mr-2"></i> Wyślij</b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import FormPartial from './FormPartial'
import axios from 'axios'
import VueNotifications from 'vue-notifications'

export default {
  name: 'ClientAdd',
  components: {
    FormPartial
  },
  data () {
    return {
      client: {
        type: null,
        addresses: [{
          street: null,
          postal: null,
          city: null,
          phone: null,
          country: null,
          main: true
        }],
        clientForm: []
      }
    }
  },
  methods: {
    updateAddressData (updateData) {
      const addressIndex = updateData.addressIndex
      const addressData = updateData.addressData
      this.client.addresses[addressIndex] = addressData
      this.client.addresses[addressIndex].main = addressIndex === 0
    },
    updateClientData (updateData) {
      const clientIndex = updateData.clientIndex
      const clientData = updateData.clientData
      this.client.clientForm[clientIndex] = clientData
    },
    addContactPerson () {
      this.client.clientForm.push({
        name: null,
        surname: null,
        phone: null,
        email: null
      })
    },
    addAdditionalAddress () {
      this.client.addresses.push({})
    },
    removeAddress (e) {
      this.client.addresses.splice(e, 1)
    },
    removeContact (e) {
      this.client.clientForm.splice(e, 1)
    },
    toggleMainAddress (index) {
      console.log(index)
    },
    async validateFormBeforeSubmit () {
      let clientToDb = this.client
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        this.showWarnMsg()
        this.$forceUpdate()
      } else {
        this.addClientToDB(clientToDb)
      }
    },
    async addClientToDB (clientToDb) {
      axios.post(`/ajax/company/add`, clientToDb)
        .then(resp => {
          console.log(resp)
          if (resp.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.client = {}
            this.$router.push(`/clients/list`)
          } else {
            this.showErrorMsg()
          }
        })
        .catch(err => {
          this.showErrorMsg()
          console.log(err)
        })
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola.'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dodano użytkownika',
      message: 'Użytkownik został pomyślnie dodany!'
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
