<template>
  <b-row class="d-flex justify-content-center">
      <b-col lg="10">
        <b-card>
          <div slot="header">
            <strong>Klienci</strong>
          </div>
          <Table :sortBy="sortBy" :items="clients" :fields="fields" />
        </b-card>
      </b-col>
  </b-row>
</template>

<script>
import Table from './Table.vue'
import axios from 'axios'

export default {
  name: 'ClientsList',
  components: {
    Table
  },
  data () {
    return {
      sortBy: 'name',
      caption: 'Klienci',
      clients: [],
      fields: [
        {
          key: 'index',
          label: 'L.p.'
        },
        {
          key: 'name',
          label: 'Nazwa',
          sortable: true
        },
        {
          key: 'tableAddress',
          label: 'Adres',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Akcje'
        }
      ]
    }
  },
  methods: {
    fetchAllClients () {
      axios.get(`/ajax/companies/get`)
        .then(resp => {
          this.clients = resp.data.map(company => {
            return {
              ...company,
              tableAddress: this.getMainAddress(company.addresses)
            }
          })
        })
        .catch(err => console.log(err))
    },
    getMainAddress (addresses) {
      let mainAddr = addresses.filter(el => el.main)[0]
      if (mainAddr) {
        let city = mainAddr.city ? mainAddr.city : ''
        let street = mainAddr.street ? mainAddr.street : ''
        let postal = mainAddr.postal ? mainAddr.postal : ''
        return {
          city: city,
          rest: `${street}, ${postal}`
        }
      } else {
        let city = addresses[0].city ? addresses[0].city : ''
        let street = addresses[0].street ? addresses[0].street : ''
        let postal = addresses[0].postal ? addresses[0].postal : ''
        return {
          city: city,
          rest: `${street}, ${postal}`
        }
      }
    }
  },
  created () {
    this.fetchAllClients()
  }
}
</script>
<style lang="css" scoped>
</style>
