<template>
  <div>
    <div v-if="loading" class="loading">
        <p>Ładuję dane...</p>
    </div>
    <div v-else class="animated fadeIn" id="User profile">
      <b-button-toolbar>
        <b-button @click="addNewClient" class="m-1" variant="primary">Dodaj osobę kontaktową</b-button>
        <b-button @click="addNewAddress" class="m-1" variant="primary">Dodaj adres</b-button>
        <b-button @click="removeClient" class="m-1" variant="danger text-white">Usuń klienta</b-button>
      </b-button-toolbar>
      <b-row v-if="client">
        <b-col lg="12">
          <b-card>
            <div slot="header">
              <strong>Dane klienta</strong>
              <b-button @click="editProperty('company', client.id)" class="pull-right mr-3" variant="info text-white" size="sm">Edytuj</b-button>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 50%">Nazwa</td>
                  <td style="width: 50%">{{ client.name }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table" v-if="client.type == 'COMPANY'">
              <tbody>
                <tr>
                  <td style="width: 50%">NIP</td>
                  <td style="width: 50%">{{ client.taxId }}</td>
                </tr>
                <tr>
                  <td style="width: 50%">KRS</td>
                  <td style="width: 50%">{{ client.krs }}</td>
                </tr>
                <tr v-if="client.type">
                  <td style="width: 50%">Typ klienta</td>
                  <td style="width: 50%">{{ parsedClientType(client.type) }}</td>
                </tr>
              </tbody>
            </table>
          </b-card>
        </b-col>

        <b-col v-show="client.addresses" lg="6">
          <b-card v-for="address in enabledAddresses" :key="address.id">
            <div slot="header">
              <strong>{{ address.main ? 'Adres główny' : 'Adres dodatkowy' }}</strong>
              <b-button @click="deleteProperty('address', address.id)" class="pull-right mr-3" variant="danger text-white" size="sm">Usuń</b-button>
              <b-button @click="editProperty('addresses', address.id)" class="pull-right mr-3" variant="info text-white" size="sm">Edytuj</b-button>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 50%">Nazwa</td>
                  <td style="width: 50%">{{ address.name }}</td>
                </tr>
                <tr>
                  <td style="width: 50%">Telefon</td>
                  <td style="width: 50%">{{ address.phone }}</td>
                </tr>
                <tr>
                  <td style="width: 50%;">Ulica</td>
                  <td style="width: 50%;">{{ address.street }}</td>
                </tr>
                <tr>
                  <td style="width: 50%;">Miasto</td>
                  <td style="width: 50%;">{{ address.city }}</td>
                </tr>
                <tr>
                  <td style="width: 50%;">Kod pocztowy</td>
                  <td style="width: 50%;">{{ address.postal }}</td>
                </tr>
                <tr>
                  <td style="width: 50%;">Państwo</td>
                  <td style="width: 50%;">{{ address.country }}</td>
                </tr>
              </tbody>
            </table>
          </b-card>
        </b-col>

        <b-col v-if="client.clients && client.clients.length > 0" lg="6">
          <b-card v-for="(contact, index) in enabledClients" :key="index">
            <div slot="header">
              <strong>Lista osób kontaktowych</strong>
              <b-button @click="deleteProperty('client', contact.id)" class="pull-right mr-3" variant="danger text-white" size="sm">Usuń</b-button>
              <b-button @click="editProperty('client', contact.id)" class="pull-right mr-3" variant="info text-white" size="sm">Edytuj</b-button>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 50%"><i class="icon-user mr-3"></i></td>
                  <td style="width: 50%">{{ contact.name }} {{ contact.surname }}</td>
                </tr>
                <tr>
                  <td style="width: 50%"><i class="icon-phone mr-3"></i></td>
                  <td style="width: 50%">{{ contact.phone }}</td>
                </tr>
                <tr>
                  <td style="width: 50%"><i class="icon-envelope mr-3"></i></td>
                  <td style="width: 50%">{{ contact.email ? contact.email : '' }}</td>
                </tr>
              </tbody>
            </table>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import VueNotifications from 'vue-notifications'

export default {
  name: 'ClientProfile',
  data () {
    return {
      loading: true,
      client: null
    }
  },
  methods: {
    getClientData (id) {
      axios.get(`/ajax/company/${id}/get`)
        .then(resp => {
          this.client = resp.data
          this.loading = false
        })
        .catch(err => console.log(err))
    },
    removeClient () {
      const id = this.$router.currentRoute.params['id']
      if (confirm('Ta operacja usunie klienta z bazy danych. Czy potwierdzasz operację?')) {
        axios.get(`/ajax/company/${id}/delete`)
          .then(resp => {
            console.log(resp)
            this.$router.push('/clients/list')
          })
          .catch(err => console.log(err))
      }
    },
    shortenedDate (dateString) {
      return dateString.split('').splice(0, 10).join('')
    },
    parsedClientType (type) {
      switch (type) {
        case 'INDIVIDUAL':
          return 'Indywidualny'
        case 'COMPANY':
          return 'Firma'
        default:
          return 'brak danych'
      }
    },
    addNewClient () {
      this.$router.push(`/clients/${this.client.id}/clients`)
    },
    addNewAddress () {
      this.$router.push(`/clients/${this.client.id}/addresses`)
    },
    editProperty (param, paramId) {
      // param depending on editing part of company [client, addresses, clients]
      const id = this.$router.currentRoute.params['id']
      if (param === 'company') {
        this.$router.push(`/clients/${id}/edit/${param}`)
      } else {
        this.$router.push(`/clients/${id}/edit/${param}/${paramId}`)
      }
    },
    deleteProperty (param, paramId) {
      if (confirm('Czy na pewno?')) {
        axios.post(`/ajax/${param}/${paramId}/delete`, {})
          .then(resp => {
            console.log(resp)
            this.showSuccessMsg()
            this.client = null
            this.loading = true
            this.getClientData(this.$router.currentRoute.params['id'])
          })
          .catch(err => {
            this.showErrorMsg()
            console.log(err)
          })
      }
    }
  },
  computed: {
    enabledAddresses: function () {
      return this.client.addresses.filter(item => {
        return item.enable
      })
    },
    enabledClients: function () {
      return this.client.clients.filter(client => {
        return client.enable
      })
    }
  },
  async created () {
    const id = this.$router.currentRoute.params['id']
    await this.getClientData(id)
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.warn,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Sukces!',
      message: 'Pomyślnie usunięto'
    }
  }
}
</script>
