<template>
  <div>
  <b-card>
    <div slot="header">
      <strong>Dodawanie klienta</strong>
    </div>
      <div class="form-group">
        <div class="d-flex flex-column justify-content-start">
          <b-form-group
            label="Nazwa"
            description="Pełne imię i nazwisko lub nazwa firmy."
            label-for="companyName"
            :label-cols="3"
            :horizontal="true">
            <b-form-input required v-validate="'required|min:1'" :class="{'is-invalid': errors.has('companyName')}" name="companyName"
              id="companyName" type="text" v-model="client.name" data-vv-as="nazwa" autocomplete="name"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('companyName')">
              {{ errors.first('companyName') }}
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            label="Typ"
            label-for="companyType"
            :label-cols="3"
            :horizontal="true">
            <b-form-select id="companyType"
              :plain="true"
              required
              name="companyType"
              v-validate="'required'"
              data-vv-as="Dział Konstrukcyjny"
              value="Wybierz..."
              v-model="client.type"
              :options="[{ text: 'Klient indywidualny', value: 'INDIVIDUAL' },{ text: 'Firma', value: 'COMPANY' }]"
              >
          </b-form-group>
          <div class="animated fadeIn" v-if="client.type == 'COMPANY'">
            <b-form-group
              label="NIP"
              description="Numer NIP"
              label-for="nip"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="nip" :class="{'is-invalid': errors.has('clientNip')}" name="clientNip"
                type="text" v-model="client.taxId" autocomplete="nip"></b-form-input>
            </b-form-group>
            <b-form-group
              label="KRS"
              description="Numer KRS"
              label-for="clientKrs"
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="clientKrs" name="clientKrs"
                type="text" v-model="client.krs"></b-form-input>
            </b-form-group>
          </div>
        </div>
      </div>
    </b-card>

    <!-- COMPANY ADDRESSES -->
    <b-card v-for="(address, index) in client.addresses" :key="index">
      <div slot="header">
        <strong v-if="index === 0" >Adres główny</strong>
        <strong v-else>Adres #{{ index }}</strong>
        <b-button @click="removeAddress(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
      </div>
      <div class="form-group">
        <div class="d-flex flex-column justify-content-start">
          <ClientAddress v-on:addresParamUpdate="addressData => updateAddressParams(addressData, index)" />
        </div>
      </div>
    </b-card>

    <!-- COMPANY CONTACT PEOPLE -->
    <b-card v-for="(contact, index) in client.clientForm" :key="index">
      <div slot="header">
        <strong>Osoba kontaktowa #{{index+1}}</strong>
        <b-button @click="removeContact(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
      </div>
      <ClientClient v-on:updateData="clientData => updateClientParams(clientData, index)" />
    </b-card>
  </div>
</template>
<script>
import ClientAddress from './adding/ClientAddress'
import ClientClient from './adding/ClientClient'
export default {
  name: 'FormPartial',
  props: ['client', 'address'],
  inject: ['$validator'],
  components: {
    ClientAddress,
    ClientClient
  },
  data () {
    return {
      mainAddress: null
    }
  },
  methods: {
    updateAddressParams (addressData, addressIndex) {
      const updateData = { addressData, addressIndex }
      this.$emit('updateAddressParams', updateData)
    },
    updateClientParams (clientData, clientIndex) {
      const updateData = { clientData, clientIndex }
      this.$emit('updateClientParams', updateData)
    },
    toggleMainAddress (index) {
      this.mainAddress = index
    },
    removeContact (e) {
      this.$emit('delContact', e)
    },
    removeAddress (e) {
      this.$emit('delAddress', e)
    }
  }
}
</script>
