<template>
  <div>
    <b-table
      hover
      :sort-by.sync="sortBy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
    >
      <template slot="index" slot-scope="data">
        {{ data.index + 1 }}
      </template>
      <template v-if="data.item.addresses.length > 0" slot="tableAddress" slot-scope="data">
        <div class="main-address">
          <span class="main-address-city">{{ data.item.tableAddress.city }}</span>
          <span class="main-address-rest">{{ data.item.tableAddress.rest }}</span>
        </div>
      </template>
      <template v-else slot="addresses" slot-scope="data">
        Odbiór osobisty
      </template>
      <template slot="actions" slot-scope="data">
        <router-link class="btn btn-outline-primary btn-sm" :to="'/clients/'+(data.item.id)">Wyświetl</router-link>
      </template>
    </b-table>
    <b-pagination align="center" :total-rows="items.length" v-model="currentPage" :per-page="perPage">
    </b-pagination>
  </div>
</template>

<script>
export default {
  name: 'Table',
  props: ['items', 'fields', 'sortBy'],
  data () {
    return {
      currentPage: 1,
      perPage: 10
    }
  },
  methods: {}
}
</script>
<style lang="scss">
.main-address{
  display: flex;
  &-city{
    order: 2;
  }
  &-rest{
    order: 1;
    margin-right: 5px;
  }
}
</style>
