<template>
  <b-card>
    <div slot="header">
      <strong>
        {{ field.name }}
      </strong>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 50%;">Nazwa</td>
          <td style="width: 50%;">{{ field.name }}</td>
        </tr>
        <tr v-if="field.symbol">
          <td style="width: 50%;">Symbol</td>
          <td style="width: 50%;">{{ field.symbol }}</td>
        </tr>
        <tr v-if="field.unit">
          <td style="width: 50%;">Jednostka</td>
          <td style="width: 50%;">{{ field.unit }}</td>
        </tr>
        <tr>
          <td style="width: 50%;">Typ:</td>
          <td style="width: 50%;">{{ computedFieldType(field.type) }}</td>
        </tr>
        <tr v-if="field.value">
          <td style="width: 50%;">Wartość:</td>
          <td style="width: 50%;">{{ field.value }}</td>
        </tr>
      </tbody>
    </table>
    <table v-if="field.paramHasOptions.length > 0" class="table">
      <tbody>
        <tr>
          <th colspan="2">Opcje:</th>
        </tr>
        <tr>
          <ul>
            <li v-for="item in field.paramHasOptions" :key="item.id">
                {{ item.name }}
                <img v-if="item.image.length > 0" class="param-item-img" :src="`${image_path}/static/${item.image[0].path}`" alt="">
            </li>
          </ul>
        </tr>
      </tbody>
    </table>
    <template v-if="field.image.length > 0">
      <p>Obraz parametru:</p>
      <img class="param-img" :src="`${image_path}/static/${field.image[0].path}`" alt="">
    </template>
  </b-card>
</template>
<script>
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'BaseComponent',
  props: ['field'],
  data () {
    return {
      image_path: IMAGE_PATH
    }
  },
  methods: {
    computedFieldType: function (type) {
      switch (type) {
        case 'VALUE':
          return 'Wartość liczbowa'
        case 'FIELD':
          return 'Pole tekstowe'
        case 'SCROLL_LIST':
          return 'Lista rozwijana'
        case 'ONE':
          return 'Jeden z wielu'
        case 'MANY':
          return 'Wiele z wielu'
        case 'SET':
          return 'Pole z wartością'
        default:
          return 'N/A'
      }
    }
  }
}
</script>
<style lang="scss">
.param{
  &-img{
    max-width: 300px;
    max-height: 400px;
    margin: 20px;
  }
  &-item-img{
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
  }
}
</style>
