<template>
  <div>
    <b-table
      hover
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :sort-compare="sortCompareAdvanced"
    >
      <!-- <template slot="index" slot-scope="data">
        {{ parseInt(data.index + 1) }}
      </template> -->
      <template slot="actions" slot-scope="data">
        <router-link class="btn btn-outline-primary btn-sm" :to="'/templates/'+(data.item.id)">Wyświetl</router-link>
        <router-link class="btn btn-outline-dark btn-sm" :to="'/templates/'+(data.item.id)+'/edit'">Edytuj</router-link>
        <button class="btn btn-outline-danger btn-sm" @click="removeTemplate(data.item.id)">Usuń</button>
      </template>
    </b-table>
    <b-pagination align="center" :total-rows="items.length" v-model="currentPage" :per-page="perPage">
    </b-pagination>
  </div>
</template>
<script>
import axios from 'axios'
import flatten from 'flat'

export default {
  name: 'Table',
  props: ['items', 'fields'],
  data () {
    return {
      currentPage: 1,
      sortBy: 'name',
      sortDesc: false,
      perPage: 10
    }
  },
  methods: {
    removeTemplate (templateId) {
      if (confirm('Czy na pewno chcesz usunąć ten szablon?')) {
        axios.post(`/ajax/templates/${templateId}/delete`, {})
          .then(response => {
            console.log(response)
            this.$emit('reloadData')
          })
          .catch(error => {
            console.log(error)
            alert('Wystąpił błąd')
          })
      }
    },
    // https://github.com/bootstrap-vue/bootstrap-vue/issues/1796
    sortCompareAdvanced (a, b, key) {
      if (typeof a[key] === 'number' && typeof b[key] === 'number') {
        // If both compared fields are native numbers
        return a[key] < b[key] ? -1 : (a[key] > b[key] ? 1 : 0)
      } else {
        // Stringify the field data and use String.localeCompare
        return (flatten(a)[key]).toString().localeCompare((flatten(b)[key]).toString(), undefined, {
          numeric: true
        })
      }
    },
    mainAddress (data) {
      return data.filter(el => el.main)[0]
    }
  }
}
</script>
