<template>
  <table class="table">
    <tbody>
      <tr>
        <td style="width: 50%">Nazwa</td>
        <td style="width: 50%">{{ client.name }}</td>
      </tr>
      <tr>
        <td style="width: 50%">Adres</td>
        <td style="width: 50%">{{ client.address }}</td>
      </tr>
      <tr>
        <td style="width: 50%">Numer telefonu</td>
        <td style="width: 50%">{{ client.phoneNumber }}</td>
      </tr>
      <tr>
        <td style="width: 50%">Email</td>
        <td style="width: 50%">{{ client.emailAddress }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default{
  name: 'ClientData',
  props: ['client']
}
</script>
