<template>
  <div>
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 50%">Nazwa produktu</td>
          <td style="width: 50%">{{ orderedCatalogProduct.selectedProduct.label }}</td>
        </tr>
        <tr>
          <td style="width: 50%">Uwagi</td>
          <td style="width: 50%">{{ orderedCatalogProduct.productDescription }}</td>
        </tr>
      </tbody>
    </table>
    <p>Zdjęcie produktu</p>
  </div>
</template>
<script>
export default {
  name: 'OrderedCatalogProduct',
  props: ['orderedCatalogProduct']
}
</script>
