<template>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td style="width: 50%">Typ usługi</td>
            <td style="width: 50%">{{ orderedService.serviceType }}</td>
          </tr>
          <tr>
            <td style="width: 50%">Numer seryjny produktu</td>
            <td style="width: 50%">{{ orderedService.productSerialNumber }}</td>
          </tr>
          <tr>
            <td style="width: 50%">Typ narzędzia</td>
            <td style="width: 50%">{{ orderedService.toolType }}</td>
          </tr>
          <tr>
            <td style="width: 50%">Uwagi</td>
            <td style="width: 50%">{{ orderedService.description }}</td>
          </tr>
        </tbody>
      </table>
      <div v-if="orderedService.attachments">
        <p>Załączniki</p>
        <ul>
          <li v-for="attachment in orderedService.attachments" :key="attachment.id">
            {{ attachment }}
          </li>
        </ul>
      </div>
      <div v-else>
        <p>Brak załączników</p>
      </div>
  </div>
</template>
<script>
export default {
  name: 'OrderedService',
  props: ['orderedService']
}
</script>
