<template>
  <div>
    <!-- if newProduct.newToolType-->
    <FrezarkaDoSlupkow
      v-if="newProduct.newToolType === 'Frezarka do słupków'"
      :cutter="newProduct" />
    <OczyszczarkaNarozy
    v-if="newProduct.newToolType === 'Oczyszczarka naroży'"
    :cutter="newProduct" />
    <PilaDoProfili
      v-if="newProduct.newToolType === 'Piła do profili'"
      :cutter="newProduct" />
    <PilaDoListewPrzyszybowych
      v-if="newProduct.newToolType === 'Piła do listew przyszybowych'"
      :cutter="newProduct" />
    <Zgrzewarka
      v-if="newProduct.newToolType === 'Zgrzewarka'"
      :cutter="newProduct" />
    <FrezNasadzany
      v-if="newProduct.newToolType === 'Frez nasadzany' || newProduct.newToolType === 'Frez piłkowy'"
      :cutter="newProduct" />
    <Wiertlo
      v-if="newProduct.newToolType === 'Wiertło'"
      :cutter="newProduct" />
  </div>
</template>
<script>
import FrezarkaDoSlupkow from './newProducts/FrezarkaDoSlupkow'
import OczyszczarkaNarozy from './newProducts/OczyszczarkaNarozy'
import PilaDoProfili from './newProducts/PilaDoProfili'
import PilaDoListewPrzyszybowych from './newProducts/PilaDoListewPrzyszybowych'
import Zgrzewarka from './newProducts/Zgrzewarka'
import FrezNasadzany from './newProducts/FrezNasadzany'
import Wiertlo from './newProducts/Wiertlo'

export default {
  name: 'OrderedNewProduct',
  props: ['newProduct'],
  components: {
    FrezarkaDoSlupkow,
    OczyszczarkaNarozy,
    PilaDoProfili,
    PilaDoListewPrzyszybowych,
    Zgrzewarka,
    FrezNasadzany,
    Wiertlo
  }
}
</script>
