<template>
  <b-row>
     <b-col lg="12">
      <b-card :header="caption">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">L.p.</th>
              <th scope="col">Nazwa firmy</th>
              <th scope="col">Adres siedziby</th>
              <th scope="col">Data utworzenia</th>
              <th scope="col">Wartośc zamówienia</th>
              <th scope="col">Status zamówienia</th>
              <th scope="col">Opcje</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(offer, index) in offers" :key="offer.id">
              <td scope="row"><strong>{{ index+1 }}.</strong></td>
              <td>{{ offer.client.name }}</td>
              <td>{{ offer.client.address }}</td>
              <td>{{ offer.selectedDate.start.split('').splice(0,10).join('') }}</td>
              <td>{{ offer.computedSummaryValue }}</td>
              <td>status</td>
              <td>
                <router-link
                  class="btn btn-outline-primary btn-sm"
                  :to="'/offer/'+(offer.id)">Wyświetl</router-link>
                <!-- <b-btn variant="warning" size="sm">Edytuj</b-btn> -->
                <!-- <b-btn variant="danger" size="sm">Usuń</b-btn> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="offers" :fields="fields" :current-page="currentPage" :per-page="perPage">
          <template slot="status" slot-scope="data">
            <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
          </template>
        </b-table>
        <nav>
          <b-pagination :total-rows="getRowCount(offers)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
        </nav> -->
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'
import { SHORT_URL } from '@/shared/sharedData'

export default {
  name: 'c-table',
  data () {
    return {
      offers: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      caption: 'Lista zamówień'
    }
  },
  mounted () {
    this.getOffers()
  },
  methods: {
    getOffers () {
      axios.get(`${SHORT_URL}/offers`)
        .then(response => {
          this.offers = this.sortOffers(response.data)
        })
        .catch(err => console.log(err))
    },
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    sortOffers (offers) {
      return offers.sort((a, b) => {
        return new Date(a.selectedDate.start) - new Date(b.selectedDate.start)
      }).reverse()
    }
  }
}
</script>
