<template>
  <div class="row d-flex justify-content-center">
    <div class="loading" v-if="loading">
      <b-card>
        <div class="text-center">
          <p>Pobieram dane...</p>
          <i class="fa fa-spinner fa-3x spinner"></i>
        </div>
      </b-card>
    </div>
    <div class="error" v-if="error">
      {{ error }}
    </div>
    <div v-if="form" class="col-6">
      <b-card>
        <div slot="header">
          <strong>{{ form.name }}</strong>
          <b-button class="pull-right" @click="removeCustomForm()" variant="danger" size="sm">Usuń</b-button>
          <b-button class="pull-right mr-3" @click="editCustomForm()" variant="warning" size="sm">Edytuj</b-button>
        </div>
        <div class="row">
          <b-form-group
            label="Dział konstrukcyjny"
            :label-cols="5"
            :horizontal="true"
            class="col-6"
            >
            <b-form-input disabled :value="form.department.name"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Typ szablonu"
            :label-cols="5"
            :horizontal="true"
            class="col-6"
            >
            <b-form-input disabled :value="computedTemplateType(form.type)"></b-form-input>
          </b-form-group>
          <b-form-group
            v-if="form.price"
            label="Cena"
            :label-cols="5"
            :horizontal="true"
            class="col-6"
            >
            <b-form-input disabled :value="`${form.price}zł`"></b-form-input>
          </b-form-group>
        </div>
        <div class="row">
          <div class="col-12">
            <img v-if="form.image.length > 0" class="template-img" :src="`${image_path}/static/${form.image[0].path}`" alt="">
          </div>
        </div>
        <!-- <div class="row">
           <component v-for="(field, index) in schema"
                     :key="index"
                     :name="field.name"
                     :options="field.paramHasOptions"
                     :labelCols="3"
                     :is="field.type"
                     v-bind="field">
            </component>
          </div>
          -->
      </b-card>
      <BaseComponent v-for="field in form.tempateHasParams"
          :key="field.id"
          :field="field.param"
        />
    </div>
  </div>
</template>

<script>
import { IMAGE_PATH } from '@/shared/sharedData'
import axios from 'axios'
import TextField from './components/TextField'
import NumField from './components/NumField'
import SelectField from './components/SelectField'
import CheckboxField from './components/CheckboxField'
import RadioField from './components/RadioField'
import BaseComponent from './viewComponents/BaseComponent'

import VueNotifications from 'vue-notifications'

export default {
  name: 'FormGenerator',
  components: {
    TextField,
    NumField,
    SelectField,
    CheckboxField,
    RadioField,
    BaseComponent
  },
  data () {
    return {
      loading: false,
      form: null,
      errors: null,
      id: this.$router.currentRoute.params['id'],
      image_path: IMAGE_PATH
    }
  },
  methods: {
    async fetchForm () {
      this.error = this.form = null
      await axios.get(`/ajax/templates/${this.id}/get`)
        .then(resp => {
          this.loading = false
          this.form = resp.data
        })
        .catch(err => {
          console.log(err)
          this.errors = err.data.errors
        })
    },
    computedTemplateType (tempType) {
      switch (tempType) {
        case 'NEW_PRODUCT':
          return 'Nowy produkt'
        case 'SERVICE':
          return 'Usługa'
        case 'CATALOG':
          return 'Produkt katalogowy'
      }
    },
    removeCustomForm () {
      if (confirm('Czy na pewno chcesz usunąć ten formularz?')) {
        axios.post(`/ajax/templates/${this.id}/delete`, {})
          .then(resp => {
            this.showSuccessMsg()
            this.$router.push('/templates')
          })
          .catch(err => {
            console.log(err)
            this.showWarnMsg()
          })
      }
    },
    editCustomForm () {
      this.$router.push(`/templates/${this.id}/edit`)
    }
  },
  async created () {
    await this.fetchForm()
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany błąd. Sprawdź logi aplikacji.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Usunięto szablon',
      message: 'Szablon został poprawnie usunięty'
    }
  }
}
</script>
<style lang="scss">
.spinner{
  animation: spin 1.7s ease-in-out infinite;
}
.text-center{
  text-align: center;
}
.template{
  &-img{
    max-width: 300px;
    max-height: 400px;
    margin: 20px;
  }
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
</style>
