<template>
  <b-row class="d-flex justify-content-center">
      <b-col lg="10">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
            <!-- Filters -->
            <!-- USE POPOVER COMPONENT IN FUTURE -->
            <div class="pull-right filter-section-container">
              <div class="filter-section-buttons">
                <b-btn id="filterSecPopOver" variant="primary">Filtry</b-btn>
                <b-btn @click="resetFilters" variant="primary">Wyczyść filtry</b-btn>
              </div>
              <b-popover target="filterSecPopOver" id="filter-section" title="Filtry">
                <b-form-group
                  label="Typ szablonu"
                  label-for="templateType"
                  :label-cols="5"
                  >
                  <b-form-checkbox-group stacked id="templateType" name="types"
                    :plain="true" v-model="chosenTemplateTypes" :options="templateTypes">
                  </b-form-checkbox-group>
                </b-form-group>
                <b-form-group
                  label="Dział konstrukcyjny"
                  label-for="department"
                  :label-cols="5"
                  >
                  <b-form-checkbox-group stacked id="department" name="department"
                    :plain="true" v-model="chosenDepartments" :options="departments">
                  </b-form-checkbox-group>
                </b-form-group>
              </b-popover>
            </div>
          </div>
          <Table :items="filteredForms" :fields="fields" v-on:reloadData="fetchAllTemplates" />
        </b-card>
        <b-button variant="success" @click="$router.push('/form-configurator')">
        <i class="icon-plus mr-1"></i> Nowy
        </b-button>
      </b-col>
  </b-row>
</template>

<script>
import Table from './viewComponents/Table.vue'
import axios from 'axios'

const TEMPLATES = ['NEW_PRODUCT', 'CATALOG', 'SERVICE']

export default {
  name: 'FormList',
  components: {
    Table
  },
  data () {
    return {
      caption: 'Lista szablonów',
      customForms: [],
      filteredForms: [],
      chosenTemplateTypes: TEMPLATES,
      chosenDepartments: [],
      departments: [],
      templateTypes: [
        { text: 'Nowy produkt', value: 'NEW_PRODUCT' },
        { text: 'Produkt', value: 'CATALOG' },
        { text: 'Usługa', value: 'SERVICE' }
      ],
      fields: [
        {
          key: 'index',
          label: 'L.p.',
          sortable: true
        },
        {
          key: 'name',
          label: 'Nazwa',
          sortable: true
        },
        {
          key: 'department.name',
          label: 'Dział konstrukcyjny',
          sortable: true
        },
        {
          key: 'account.username',
          label: 'Autor',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Akcje'
        }
      ]
    }
  },
  methods: {
    fetchAllTemplates () {
      axios.get(`/ajax/templates/get`)
        .then(resp => {
          this.filteredForms = this.customForms = resp.data.map((el, index) => {
            return { ...el, index: index + 1 }
          })
        })
        .catch(err => console.log(err))
    },
    fetchDepartments () {
      axios.get('/ajax/departments/get')
        .then(response => {
          this.departments = response.data.map(el => {
            return {
              text: el.name,
              value: el.id
            }
          })
          this.chosenDepartments = this.departments.map(el => el.value)
        })
        .catch(err => {
          console.log(err)
          this.departments = []
        })
    },
    resetFilters () {
      this.filteredForms = this.customForms
      this.chosenDepartments = this.departments.map(el => el.value)
      this.chosenTemplateTypes = TEMPLATES
      this.$forceUpdate()
    },
    navigateToForm (id) {
      this.$router.push(`/templates/${id}`)
    }
  },
  created () {
    this.fetchAllTemplates()
    this.fetchDepartments()
  },
  watch: {
    chosenTemplateTypes: function (val) {
      this.filteredForms = this.customForms.filter(obj => val.includes(obj.type))
    },
    chosenDepartments: function (val) {
      this.filteredForms = this.customForms.filter(obj => val.includes(obj.department.id))
    }
  }
}
</script>
<style lang="scss" scoped>
.filter-section{
  &-buttons{
    margin-bottom: 10px;
  }
}
</style>
