<template>
  <div class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
        <b-card class="mr-3">
          <div slot="header">
            <strong>Konfigurator szablonu</strong>
          </div>
          <b-form-group
            label="Typ szablonu"
            label-for="templateType"
            :label-cols="3"
            :horizontal="true">
            <b-form-select id="templateType"
              :plain="true"
              required
              name="templateType"
              v-validate="'required'"
              data-vv-as="typ szablonu"
              value="Wybierz..."
              v-model="customForm.templateType"
              :options="templateTypes"
              >
            </b-form-select>
            <b-form-invalid-feedback v-if="errors.has('departmentId')">{{ errors.first('departmentId') }}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Dział konstrukcyjny"
            description="Dział Konstrukcyjny odpowiedzialny za pozycję zamówienia"
            label-for="departmentId"
            :label-cols="3"
            :horizontal="true">
            <b-form-select id="departmentId"
              :plain="true"
              required
              name="departmentId"
              v-validate="'required'"
              data-vv-as="Dział Konstrukcyjny"
              value="Wybierz..."
              v-model="customForm.departmentId"
              :options="departments"
              >
            </b-form-select>
            <b-form-invalid-feedback v-if="errors.has('departmentId')">{{ errors.first('departmentId') }}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Nazwa szablonu"
            label-for="name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input name="prodName" id="name" data-vv-as="nazwa szablonu" v-validate="'required'" v-model="customForm.name" type="text"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('prodName')">{{ errors.first('prodName') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            label="Cena"
            label-for="price"
            :label-cols="3"
            :horizontal="true">
            <b-form-input name="prodPrice" id="price" v-model="customForm.price" type="text"></b-form-input>
          </b-form-group>

          <!-- IMAGE -->
          <template v-if="customForm.image">
            <div v-if="customForm.image.length > 0" class="d-flex justify-content-between align-items-center">
              <img :src="`${image_path}/static/${customForm.image[0].path}`" class="param-item-img"/>
              <div class="d-flex flex-column justify-content-around align-items-center mr-2">
                <b-button
                  @click="removeImage"
                  class="mb-1 text-white"
                  size="sm"
                  variant="warning">Usuń</b-button>
              </div>
            </div>
            <b-form-group
              v-else-if="customForm.image.length === 0"
              label="Załączniki"
              label-for="files"
              :label-cols="3"
              :horizontal="true">
              <vue-base64-file-upload
                class="form-control"
                accept="image/png,image/jpeg"
                image-class="v1-image"
                input-class="v1-input"
                placeholder="Kliknij, by wybrać plik"
                :max-size="maxFileSize"
                @size-exceeded="onSizeExceeded"
                @file="(file) => onFileAtNewForm(file)"
                @load="(data) => onLoadAtNewForm(data)"/>
            </b-form-group>
          </template>
          <b-form-group
            v-else
            label="Załączniki"
            label-for="files"
            :label-cols="3"
            :horizontal="true">
            <vue-base64-file-upload
              class="form-control"
              accept="image/png,image/jpeg"
              image-class="v1-image"
              input-class="v1-input"
              placeholder="Kliknij, by wybrać plik"
              :max-size="maxFileSize"
              @size-exceeded="onSizeExceeded"
              @file="(file) => onFileAtNewForm(file)"
              @load="(data) => onLoadAtNewForm(data)"/>
          </b-form-group>
        </b-card>

        <b-card class="mr-3" v-for="(formParam, index) in customForm.params" :key="index">
          <div slot="header">
            <strong>Parametr #{{index+1}}</strong>
            <b-button @click="removeParam(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
          </div>
          <!-- SEARCH PARAM FIELD -->
          <div class="form-group">
            <div class="form-row">
              <label class="col-sm-3">Nazwa parametru</label>
              <div class="col-sm-9">
                <v-select
                  @search:focus="clearParamsList()"
                  @search="onSearch"
                  @input="(selectedParam) => customForm.params[index] = selectedParam"
                  label="fullname"
                  maxHeight="200px"
                  :name="`paramName-${index}`"
                  :id="`paramName-${index}`"
                  v-model="customForm.params[index]"
                  :options="paramsList"
                  placeholder="Wyszukaj parametr z bazy"
                  value="null">
                    <span slot="no-options">Brak pasujących parametrów.</span>
                </v-select>
              <b-form-invalid-feedback v-if="errors.has(`paramName-${index}`)">{{ errors.first(`paramName-${index}`) }}</b-form-invalid-feedback>
            </div>
          </div>
        </div>

        <b-form-group
          v-if="formParam.unit"
          label="Jednostka parametru"
          label-for="formUnit"
          :label-cols="3"
          :horizontal="true">
          <b-form-input
            :id="`formUnit-${index}`"
            :name="`formUnit-${index}`"
            disabled
            v-model="formParam.unit"
            type="text"></b-form-input>
        </b-form-group>
        <b-form-group
          v-if="formParam.symbol"
          label="Symbol parametru"
          label-for="formSymbol"
          :label-cols="3"
          :horizontal="true">
          <b-form-input
            :id="`formSymbol-${index}`"
            :name="`formSymbol-${index}`"
            disabled
            v-model="formParam.symbol"
            type="text"></b-form-input>
        </b-form-group>
        <b-form-group
          v-if="formParam.type"
          label="Typ pola"
          label-for="fieldType"
          :label-cols="3"
          :horizontal="true">
          <b-form-input :id="`fieldType-${index}`"
            :name="`fieldType-${index}`"
            disabled
            :value="computedParamType(formParam.type)"
            >
          </b-form-input>
        </b-form-group>

        <div v-if="formParam.type === 'SET'">
          <b-form-group
            label="Wartość"
            label-for="setValue"
            :horizontal="true"
            :label-cols="3">
            <b-form-input type="text" id="setValue" v-model="formParam.value" disabled placeholder="Wartość parametru"></b-form-input>
          </b-form-group>
        </div>

        <div v-else-if="formParam.type === 'SCROLL_LIST'">
          <b-form-group
            label="Opcje"
            :horizontal="true"
            :label-cols="3">
            <ul>
              <li v-for="(item, optIndex) in formParam.paramHasOptions"
                :key="optIndex">
                {{ item.name }}
              </li>
            </ul>
        </div>
        <div v-else-if="formParam.type === 'MANY' || formParam.type === 'ONE'">
          <b-form-group
            label="Opcje"
            :horizontal="true"
            :label-cols="3">
            <ul>
              <li v-for="(item, optIndex) in formParam.paramHasOptions"
                :key="optIndex">
                {{ item.name }}
              <template v-if="formParam.paramHasOptions[optIndex].image">
                <div v-if="formParam.paramHasOptions[optIndex].image.length > 0" class="d-flex justify-content-between align-items-center">
                  <img :src="`${image_path}/static/${formParam.paramHasOptions[optIndex].image[0].path}`" class="param-item-img"/>
                </div>
              </template>
              </li>
            </ul>
          </b-form-group>
        </div>
        <template v-if="customForm.params[index].image">
          <div v-if="customForm.params[index].image.length > 0" class="d-flex justify-content-between align-items-center">
            <img :src="`${image_path}/static/${customForm.params[index].image[0].path}`" class="param-item-img"/>
          </div>
        </template>
      </b-card>
    </b-row>
    <b-row>
     <div class="col-12 d-flex justify-content-center mb-3">
      <b-button
        @click="addNewParam"
        variant="info text-white"
        class="mr-3">
        <span class="icon-plus mr-1"></span> Dodaj nowy parametr
      </b-button>
      <b-button v-if="isEditingForm"
        @click="updateForm"
        variant="success text-white"
        >Zaktualizuj formularz</b-button>
      <b-button v-else
        @click="sendCreatedForm"
        variant="success text-white"
        >Zapisz formularz</b-button>
     </div>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
import _ from 'lodash'
import VueNotifications from 'vue-notifications'
import vSelect from 'vue-select'
import VueBase64FileUpload from 'vue-base64-file-upload'
import { IMAGE_PATH } from '@/shared/sharedData'

// https://blog.rangle.io/how-to-create-data-driven-user-interfaces-in-vue/
export default {
  name: 'FormConfiguratorV2',
  components: {
    vSelect,
    VueBase64FileUpload
  },
  data () {
    return {
      image_path: IMAGE_PATH,
      maxFileSize: 3,
      newParamName: null,
      templateTypes: [
        { text: 'Nowy produkt', value: 'NEW_PRODUCT' },
        { text: 'Usługa', value: 'SERVICE' },
        { text: 'Produkt katalogowy', value: 'CATALOG' }
      ],
      paramTypeOptions: [
        { text: 'Wartość liczbowa', value: 'VALUE' },
        { text: 'Pole tekstowe', value: 'FIELD' },
        { text: 'Lista rozwijana', value: 'SCROLL_LIST' },
        { text: 'Wiele z wielu', value: 'MANY' },
        { text: 'Jeden z wielu', value: 'ONE' },
        { text: 'Pole z wartością', value: 'SET' }
      ],
      // schema of vSelect options: { value: 'VAL', label: 'Printed in select option' }
      paramsList: [],
      departments: [],
      id: this.$router.currentRoute.params['id'],
      isEditingForm: false,
      customForm: {
        name: null,
        departmentId: null,
        params: [],
        form: []
      }
    }
  },
  methods: {
    removeImage () {
      if (confirm('Czy na pewno chcesz usunąć ten załącznik?')) {
        const imageId = this.customForm.image[0].id
        axios.get(`/ajax/image/${imageId}/delete`)
          .then(resp => {
            console.log(resp)
            delete this.customForm.image
            this.$forceUpdate()
          })
          .catch(err => {
            console.error(err)
          })
      }
      this.$forceUpdate()
    },
    clearParamsList () {
      this.paramsList = []
    },
    computedParamType (type) {
      switch (type) {
        case 'VALUE':
          return 'Wartość liczbowa'
        case 'FIELD':
          return 'Pole tekstowe'
        case 'SCROLL_LIST':
          return 'Lista rozwijana'
        case 'MANY':
          return 'Wiele z wielu'
        case 'ONE':
          return 'Jeden z wielu'
        case 'SET':
          return 'Pole z wartością'
        default:
          return 'n/a'
      }
    },
    addNewParam () {
      this.customForm.params.push('')
    },
    removeParam (e) {
      this.customForm.params.splice(e, 1)
    },
    removeHeaderFromBase64Img (base64String) {
      let indexOfComma = base64String.indexOf(',')
      return base64String.substr(indexOfComma + 1)
    },
    parseDepartmentsTitles (departments) {
      return departments.map(department => {
        return {
          value: department.id,
          text: department.name
        }
      })
    },
    getDepartments () {
      axios.get('/ajax/departments/get')
        .then(departments => {
          this.departments = this.parseDepartmentsTitles(departments.data)
        })
        .catch(err => console.error(err))
    },
    onFileAtNewForm (file) {
      if (!this.customForm.form) this.customForm.form = []
      if (this.customForm.form.length === 0) {
        this.customForm.form.push({ name: file.name, file: '' })
      } else {
        this.customForm.form[0].name = file.name
      }
    },
    onLoadAtNewForm (dataUri) {
      this.customForm.form[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    mapCustomFormWithParamIds () {
      this.customForm.paramIds = this.customForm.params.filter(param => param !== '').map(param => {
        return param.id
      })
    },
    prepareFinalOrderForm () {
      return {
        departmentId: this.customForm.departmentId,
        form: this.customForm.form,
        name: this.customForm.name,
        price: this.customForm.price,
        type: this.customForm.templateType,
        paramIds: this.customForm.paramIds
      }
    },
    onSizeExceeded (size) {
      alert('Rozmiar obrazu jest za duży')
    },
    async sendCreatedForm () {
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        for (let err of this.errors) {
          this.showErrorsMsg({
            message: err.msg
          })
        }
        console.log(this.errors)
        this.$forceUpdate()
        return false
      }

      this.mapCustomFormWithParamIds()
      const finalOrder = this.prepareFinalOrderForm()

      axios.post(`/ajax/templates/save`, finalOrder)
        .then(resp => {
          if (resp.data.responseEnum === 'SUCCESS' && resp.data.errors.length === 0) {
            this.showSuccessMsg()
            // this.$router.push(`/templates/${resp.data.id}`)
            this.$router.push('/templates/')
          } else if (resp.data.errors.length > 0) {
            // validation feedback
            for (let err of resp.data.errors) {
              this.showErrorsMsg({
                message: err.defaultMessage
              })
            }
          } else {
            this.showWarnMsg()
          }
        })
        .catch(err => {
          this.showWarnMsg()
          console.error(err)
        })
    },
    async updateForm () {
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        for (let err of this.errors) {
          this.showErrorsMsg({
            message: err.msg
          })
        }
        console.log(this.errors)
        this.$forceUpdate()
        return false
      }

      this.mapCustomFormWithParamIds()
      const finalOrder = this.prepareFinalOrderForm()

      axios.post(`/ajax/templates/${this.id}/edit`, finalOrder)
        .then(resp => {
          if (resp.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.$router.push(`/templates/${this.id}`)
          } else {
            for (let err of resp.data.errors) {
              this.showWarnMsg({
                message: err.defaultMessage
              })
            }
          }
        })
        .catch(err => {
          this.showWarnMsg()
          console.error(err)
        })
    },
    fetchFormToEdit () {
      this.isEditingForm = true
      axios.get(`/ajax/templates/${this.id}/get`)
        .then(response => {
          const params = response.data.tempateHasParams.map(param => param.param)
          this.customForm = {
            departmentId: response.data.department.id,
            templateType: response.data.type,
            name: response.data.name,
            image: response.data.image,
            params: params
          }
        })
        .catch(error => console.log(error))
    },

    // ugliest solution ever. but it works.
    removeUsedParams (params) {
      if (typeof this.customForm.params[0] === 'object') {
        let reducedParams = []
        this.customForm.params.forEach(usedParam => {
          _.filter(params, param => {
            if (param.name !== usedParam.name) {
              if (!this.customForm.params.some(el => el.name === param.name)) {
                reducedParams.push(param)
              }
            }
          })
        })
        return _.uniqBy(reducedParams, 'name')
      } else {
        return params
      }
    },
    // remove backend structure, restore frontend structure
    parseParamHasOptions (params) {
      return params.map(param => {
        return {
          name: param.name,
          form: {
            forms: param.image
          }
        }
      })
    },
    searchForGivenParam (phrase, params) {
      let unusedParams = this.removeUsedParams(params)
      return unusedParams.filter(el => {
        return el.name.toLowerCase().includes(phrase.toLowerCase())
      })
    },
    isEditing () {
      return this.$router.currentRoute.path.match(/edit/) ? this.fetchFormToEdit() : null
    },
    getTemplates () {
      axios.get('/ajax/param/get')
        .then(response => {
          this.paramsList = response.data
        })
        .catch(err => console.log(err))
    },
    onSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, self) => {
      axios.get(`/ajax/param/get`)
        .then(response => {
          self.paramsList = []
          const productParameters = response.data.slice()
          self.paramsList = self.searchForGivenParam(search, productParameters)
          loading(false)
        })
        .catch(err => {
          console.log(err)
          loading(false)
        })
    }, 200)
  },
  created () {
    this.isEditing()
    this.getDepartments()
    // getTemplates for development only!!!
    // this.getTemplates()
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany błąd.'
    },
    showErrorsMsg: {
      type: VueNotifications.types.error,
      title: 'Źle wypełniony formularz',
      message: 'Popraw formularz i spróbuj ponownie.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano!',
      message: 'Formularz został zapisany!'
    }
  }
}
</script>
<style lang="scss">
.custom-file-input~.custom-file-label::after {
  content: "Wybierz";
}
@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i;
  }
}
.invalid-feedback{
  display: block;
}
.vue-base64-file-upload{
  max-width: 300px;
}
.v1-image{
  max-width: 100%;
}
</style>
