<template>
  <div class="animated fadeIn">
    <b-row class="d-flex justify-content-center">
        <!--
          Obowiązkowe elementy
            - Dział konstrukcyjny [select]
            - Nazwa produktu [text]
            - pliki graficzne (unlimited files),
         -->
        <b-card class="mr-3">
          <div slot="header">
            <strong>Konfigurator formularza</strong>
          </div>
          <b-form-group
            label="Dział konstrukcyjny"
            description="Dział Konstrukcyjny odpowiedzialny za pozycję zamówienia"
            label-for="departmentId"
            :label-cols="3"
            :horizontal="true">
            <b-form-select id="departmentId"
              :plain="true"
              required
              name="departmentId"
              v-validate="'required'"
              data-vv-as="Dział Konstrukcyjny"
              value="Wybierz..."
              v-model="customForm.departmentId"
              :options="departments"
              >
            </b-form-select>
            <b-form-invalid-feedback v-if="errors.has('departmentId')">{{ errors.first('departmentId') }}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Nazwa produktu"
            label-for="name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input name="prodName" id="name" data-vv-as="nazwa produktu" v-validate="'required'" v-model="customForm.name" type="text"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('prodName')">{{ errors.first('prodName') }}</b-form-invalid-feedback>
          </b-form-group>

          <b-form-group
            label="Załączniki"
            label-for="files"
            :label-cols="3"
            :horizontal="true">
            <vue-base64-file-upload
              class="form-control"
              accept="image/png,image/jpeg"
              image-class="v1-image"
              input-class="v1-input"
              placeholder="Kliknij, by wybrać plik"
              :max-size="maxFileSize"
              @size-exceeded="onSizeExceeded"
              @file="(file) => onFileAtNewForm(file)"
              @load="(data) => onLoadAtNewForm(data)"/>
              <!-- <b-form-file id="files" v-model="customForm.files" :multiple="true"></b-form-file> -->
          </b-form-group>
        </b-card>
          <!--
          Variables:
            - parametry [do każdego plik graficzny opcjonalnie]
              - name [text]
              - symbol [text]
              - fieldType [text | num | select]
          -->
        <b-card class="mr-3" v-for="(formParam, index) in customForm.params" :key="index">
          <div slot="header">
            <strong>Parametr #{{index+1}}</strong>
            <b-button @click="removeParam(index)" variant="danger" size="sm" class="float-right">Usuń</b-button>
          </div>
          <!-- <b-form-group
            label="Nazwa parametru"
            label-for=""
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="name" v-model="formParam.label" type="text"></b-form-input>
          </b-form-group> -->

          <!-- SEARCH PARAM FIELD -->

          <div class="form-group">
            <div class="form-row">
              <label class="col-sm-3">Nazwa parametru</label>
              <div class="col-sm-9">
                <v-select
                  taggable
                  label="name"
                  @search="onSearch"
                  v-on:option:created="(opt) => createNewParam(opt, index)"
                  v-on:search:focus="() => paramsList = []"
                  maxHeight="200px"
                  :name="`paramName-${index}`"
                  v-validate="'required'"
                  data-vv-as="nazwa parametru"
                  :id="`paramName-${index}`"
                  v-model="customForm.params[index]"
                  :options="paramsList"
                  placeholder="Wyszukaj parametr z bazy"
                  value="null"></v-select>
                <b-form-invalid-feedback v-if="errors.has(`paramName-${index}`)">{{ errors.first(`paramName-${index}`) }}</b-form-invalid-feedback>
              </div>
            </div>
          </div>

          <b-form-group
            label="Symbol parametru"
            label-for="formSymbol"
            :label-cols="3"
            :horizontal="true">
            <b-form-input
              :id="`formSymbol-${index}`"
              :name="`formSymbol-${index}`"
              data-vv-as="symbol parametru"
              v-validate="'required'"
              :disabled="typeof customForm.params[index] !== 'object'"
              v-model="formParam.symbol"
              type="text"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has(`formSymbol-${index}`)">{{ errors.first(`formSymbol-${index}`) }}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            label="Typ pola"
            label-for="fieldType"
            :label-cols="3"
            :horizontal="true">
            <b-form-select :id="`fieldType-${index}`"
              :plain="true"
              required
              :name="`fieldType-${index}`"
              v-validate="'required'"
              :disabled="typeof formParam !== 'object'"
              data-vv-as="Typ pola"
              value="Wybierz..."
              v-model="formParam.type"
              :options="options"
              >
            </b-form-select>
            <b-form-invalid-feedback v-if="errors.has(`fieldType-${index}`)">{{ errors.first(`fieldType-${index}`) }}</b-form-invalid-feedback>
          </b-form-group>

          <div v-if="formParam.type === 'SCROLL_LIST'">
            <b-form-group v-for="(item, optIndex) in formParam.paramHasOptions"
              :key="optIndex">
              <b-input-group>
                <b-form-input :id="`selectOption${optIndex}`" v-model="formParam.paramHasOptions[optIndex].name.name" type="text" placeholder="Nazwa pola"></b-form-input>
                <b-input-group-append>
                  <b-button @click="removeOption(index, optIndex)" size="sm" variant="danger">Usuń</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
            <div class="mb-3">
              <b-button
                @click="addNewOption(index)"
                size="sm"
                variant="warning"
                class="text-white">
                <span class="icon-plus mr-1"></span> Dodaj pole
              </b-button>
            </div>
          </div>
          <div v-else-if="formParam.type === 'MANY' || formParam.type === 'ONE'">
            <b-form-group v-for="(item, optIndex) in formParam.paramHasOptions"
              :key="optIndex">
              <b-input-group>
                <b-form-input :id="`selectOption${optIndex}`" v-model="formParam.paramHasOptions[optIndex].name.name" type="text" placeholder="Nazwa pola"></b-form-input>
                <b-input-group-append>
                  <b-button @click="removeOption(index, optIndex)" size="sm" variant="danger">Usuń</b-button>
                </b-input-group-append>
              </b-input-group>
              <b-form-group
                label="Załącznik do opcji"
                label-for="attachments"
                :label-cols="4"
                class="mt-1"
                :horizontal="true">
                <vue-base64-file-upload
                  class="form-control"
                  accept="image/png,image/jpeg"
                  image-class="v1-image"
                  input-class="v1-input"
                  placeholder="Kliknij, by wybrać plik"
                  :max-size="maxFileSize"
                  @size-exceeded="onSizeExceeded"
                  @file="(file) => onFileAtParamOption(file, index, optIndex)"
                  @load="(data) => onLoadAtParamOption(data, index, optIndex)"/>
                  <!-- <b-form-file id="attachments" v-model="formParam.options[optIndex].image" :multiple="false"></b-form-file> -->
              </b-form-group>
            </b-form-group>

            <div class="mb-3">
              <b-button
                @click="addNewOption(index)"
                size="sm"
                variant="warning"
                class="text-white">
                <span class="icon-plus mr-1"></span> Dodaj pole
              </b-button>
            </div>
          </div>

          <b-form-group
            v-show="typeof customForm.params[index] === 'object'"
            label="Załączniki do parametru"
            label-for="attachments"
            :label-cols="3"
            :horizontal="true">
            <vue-base64-file-upload
              class="form-control"
              accept="image/png,image/jpeg"
              image-class="v1-image"
              input-class="v1-input"
              placeholder="Kliknij, by wybrać plik"
              :max-size="maxFileSize"
              @size-exceeded="onSizeExceeded"
              @file="(file) => onFileAtParam(file, index)"
              @load="(data) => onLoadAtParam(data, index)"/>
          </b-form-group>
        </b-card>
    </b-row>
    <b-row>
     <div class="col-12 d-flex justify-content-center mb-3">
      <b-button
        @click="addNewParam"
        variant="info text-white"
        class="mr-3">
        <span class="icon-plus mr-1"></span> Dodaj nowy parametr
      </b-button>
      <b-button v-if="isEditingForm"
        @click="updateForm"
        variant="success text-white"
        >Zaktualizuj formularz</b-button>
      <b-button v-else
        @click="sendCreatedForm"
        variant="success text-white"
        >Zapisz formularz</b-button>
     </div>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
import _ from 'lodash'
import VueNotifications from 'vue-notifications'
import vSelect from 'vue-select'
import VueBase64FileUpload from 'vue-base64-file-upload'

// https://blog.rangle.io/how-to-create-data-driven-user-interfaces-in-vue/
export default {
  name: 'FormEditor',
  components: {
    vSelect,
    VueBase64FileUpload
  },
  data () {
    return {
      maxFileSize: 3,
      newParamName: null,
      options: [
        { text: 'Wartość liczbowa', value: 'VALUE' },
        { text: 'Pole tekstowe', value: 'FIELD' },
        { text: 'Lista rozwijana', value: 'SCROLL_LIST' },
        { text: 'Wiele z wielu', value: 'MANY' },
        { text: 'Jeden z wielu', value: 'ONE' }
      ],
      // schema of vSelect options: { value: 'VAL', label: 'Printed in select option' }
      paramsList: [],
      departments: [],
      id: this.$router.currentRoute.params['id'],
      isEditingForm: false,
      customForm: {
        name: null,
        departmentId: null,
        params: [],
        form: {
          forms: [
            {
              file: null, name: null
            }
          ]
        }
      }
    }
  },
  methods: {
    addNewParam () {
      this.customForm.params.push('')
    },
    createNewParam (option, index) {
      setTimeout(() => {
        this.customForm.params[index] = {
          name: option,
          form: { forms: null },
          symbol: '',
          type: '',
          paramHasOptions: []
        }
        this.$forceUpdate()
      }, 100)
    },
    removeParam (e) {
      this.customForm.params.splice(e, 1)
    },
    addNewOption (id) {
      this.customForm.params[id].paramHasOptions.push({
        name: '',
        form: {
          forms: null
        }
      })
    },
    removeOption (id, index) {
      this.customForm.params[id].paramHasOptions.splice(index, 1)
    },
    getSpecifiedFields (data, eligibleField) {
      return data.filter(el => el.type === eligibleField)
    },
    // change needed after picking param from  vue-select
    parseParamTitles (data) {
      return data.map(item => {
        if (item.name.label) {
          item.name = item.name.label
        }
      })
    },
    removeHeaderFromBase64Img (base64String) {
      let indexOfComma = base64String.indexOf(',')
      return base64String.substr(indexOfComma + 1)
    },
    parseDepartmentsTitles (departments) {
      return departments.map(department => {
        return {
          value: department.id,
          text: department.name
        }
      })
    },
    setNullIfFileIsEmpty () {
      if (this.customForm.form.forms) {
        if (this.customForm.form.forms[0].file == null && this.customForm.form.forms[0].name == null) {
          this.customForm.form.forms = null
        }
      }
    },
    setNullIfParamFileIsEmpty (id) {
      if (this.customForm.params[id].form) {
        if (this.customForm.params[id].form.forms) {
          if (this.customForm.params[id].form.forms[0].file === '' && this.customForm.params[id].form.forms[0].name === '') {
            this.customForm.params[id].form.forms = null
          }
        }
      }
    },
    getDepartments () {
      axios.get('/ajax/departments/get')
        .then(departments => {
          this.departments = this.parseDepartmentsTitles(departments.data)
        })
        .catch(err => console.error(err))
    },
    onFileAtNewForm (file) {
      if (this.customForm.form === undefined) {
        this.customForm.form = {}
        this.customForm.form.forms = []
        this.customForm.form.forms[0] = {
          name: '', file: ''
        }
      }
      if (this.customForm.form.forms == null) {
        this.customForm.form.forms = []
        this.customForm.form.forms[0] = {
          name: '', file: ''
        }
      }
      this.customForm.form.forms[0].name = file.name
    },
    onLoadAtNewForm (dataUri) {
      this.customForm.form.forms[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    onFileAtParam (file, paramIndex) {
      if (this.customForm.params[paramIndex].form === undefined) {
        this.customForm.params[paramIndex].form = {}
        this.customForm.params[paramIndex].form.forms = []
        this.customForm.params[paramIndex].form.forms[0] = {
          name: '', file: ''
        }
      }
      if (this.customForm.params[paramIndex].form.forms == null) {
        this.customForm.params[paramIndex].form.forms = []
        this.customForm.params[paramIndex].form.forms[0] = {
          name: '', file: ''
        }
      }
      this.customForm.params[paramIndex].form.forms[0].name = file.name
    },
    onLoadAtParam (dataUri, paramIndex) {
      this.customForm.params[paramIndex].form.forms[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    onFileAtParamOption (file, paramIndex, optIndex) {
      if (this.customForm.params[paramIndex].paramHasOptions[optIndex].form === undefined) {
        this.customForm.params[paramIndex].paramHasOptions[optIndex].form = {}
        this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms = []
        this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms[0] = {
          name: '', file: ''
        }
      }
      if (this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms == null) {
        this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms = []
        this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms[0] = {
          name: '', file: ''
        }
      }
      this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms[0].name = file.name
    },
    onLoadAtParamOption (dataUri, paramIndex, optIndex) {
      this.customForm.params[paramIndex].paramHasOptions[optIndex].form.forms[0].file = this.removeHeaderFromBase64Img(dataUri)
    },
    onSizeExceeded (size) {
      alert('Image size too high')
    },
    async sendCreatedForm () {
      await this.$validator.validateAll()
      if (this.errors.items.length > 0) {
        console.log('errors present')
        return false
      }
      console.log('proceeding')
      this.parseParamTitles(this.customForm.params)
      for (let id = 0; id < this.customForm.params.length; id++) {
        this.setNullIfParamFileIsEmpty(id)
      }
      this.setNullIfFileIsEmpty()
      axios.post(`/ajax/templates/save`, this.customForm)
        .then(resp => {
          console.log(resp)
          if (resp.data.responseEnum === 'SUCCESS' && resp.data.errors.length === 0) {
            this.showSuccessMsg()
            // this.$router.push(`/templates/${resp.data.id}`)
            this.$router.push('/templates/')
          } else if (resp.data.errors.length > 0) {
            // validation feedback
            for (let err of resp.data.errors) {
              this.showErrorsMsg({
                message: err.defaultMessage
              })
            }
          } else {
            this.showWarnMsg()
          }
        })
        .catch(err => {
          this.showWarnMsg()
          console.error(err)
        })
    },
    async updateForm () {
      this.parseParamTitles(this.customForm.params)
      await this.$validator.validateAll()
      axios.post(`/ajax/templates/${this.id}/update`, this.customForm)
        .then(resp => {
          if (resp.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.$router.push(`/templates/${this.id}`)
          } else {
            console.log(resp)
            for (let err of resp.data.errors) {
              this.showWarnMsg({
                message: err.defaultMessage
              })
            }
          }
        })
        .catch(err => {
          this.showWarnMsg()
          console.error(err)
        })
    },
    fetchFormToEdit () {
      this.isEditingForm = true
      axios.get(`/ajax/templates/${this.id}/get`)
        .then(response => {
          this.customForm = response.data
          this.customForm.departmentId = response.data.department.id
        })
        .catch(error => console.log(error))
    },

    // ugliest solution ever. but it works.

    removeUsedParams (params) {
      if (typeof this.customForm.params[0] === 'object') {
        let reducedParams = []
        this.customForm.params.forEach(usedParam => {
          _.filter(params, param => {
            if (param.name !== usedParam.name) {
              if (!this.customForm.params.some(el => el.name === param.name)) {
                reducedParams.push(param)
              }
            }
          })
        })
        return _.uniqBy(reducedParams, 'name')
      } else {
        return params
      }
    },
    searchForGivenParam (phrase, params) {
      const unusedParams = this.removeUsedParams(params)
      return unusedParams.filter(el => {
        return el.name.toLowerCase().includes(phrase.toLowerCase())
      })
    },
    isEditing () {
      return this.$router.currentRoute.path.match(/edit/) ? this.fetchFormToEdit() : null
    },
    onSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, self) => {
      axios.get(`/ajax/param/get`)
        .then(response => {
          self.paramsList = []
          const productParameters = response.data.slice()
          // const productParameters = fakeParams.slice()
          self.paramsList = self.searchForGivenParam(search, productParameters)
          loading(false)
        })
        .catch(err => {
          console.log(err)
          loading(false)
        })
    }, 200)
  },
  created () {
    this.isEditing()
    this.getDepartments()
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany błąd.'
    },
    showErrorsMsg: {
      type: VueNotifications.types.error,
      title: 'Źle wypełniony formularz',
      message: 'Popraw formularz i spróbuj ponownie.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano!',
      message: 'Formularz został zapisany!'
    }
  }
}
</script>
<style lang="scss">
.custom-file-input~.custom-file-label::after {
  content: "Wybierz";
}
@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i;
  }
}
.invalid-feedback{
  display: block;
}
</style>
