<template>
  <div>
    <b-table
      hover
      :sort-by.sync="sortBy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
    >
      <template slot="index" slot-scope="data">
        {{ data.index + 1 }}
      </template>
      <template slot="actions" slot-scope="data">
        <router-link class="btn btn-outline-primary btn-sm" :to="'/parameters/'+(data.item.id)">Wyświetl</router-link>
        <router-link class="btn btn-outline-dark btn-sm" :to="'/parameters/'+(data.item.id)+'/edit'">Edytuj</router-link>
        <button class="btn btn-outline-danger btn-sm" @click.stop="deleteParam(data.item.id)">Usuń</button>
      </template>
    </b-table>
    <b-pagination align="center" :total-rows="items.length" v-model="currentPage" prev-text="Poprzednia" next-text="Następna" :per-page="perPage">
    </b-pagination>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Table',
  props: ['items', 'fields', 'sortBy'],
  data () {
    return {
      currentPage: 1,
      perPage: 10
    }
  },
  methods: {
    deleteParam (paramId) {
      if (confirm('Czy na pewno?')) {
        axios.get(`/ajax/param/${paramId}/delete`)
          .then(response => {
            this.$emit('reloadData')
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
}
</script>
