<template>
  <div class="animated fadeIn">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <b-card v-if="!isEditingForm">
          <div slot="header">
            Nowy produkt
          </div>
          <div class="form-group d-flex justify-content-between">
              <span class="align-self-center mr-3">
                Wyszukaj szablon
              </span>
              <v-select @search="onSearch" ref="formsSelect" maxHeight="200px" id="formsSelect" v-model="selectedForm" :options="formsList" class="flex-10 mr-3" placeholder="Wyszukaj formularz"></v-select>
            </div>
        </b-card>
        <b-card v-if="selectedForm">
          <div slot="header">
            <strong>{{ selectedForm.name }}</strong>
          </div>
          <div class="row">
            <b-form-group
              label="Nazwa produktu"
              :label-cols="3"
              :horizontal="true"
              class="col-6"
              >
              <b-form-input type="text" v-model="selectedForm.name"></b-form-input>
            </b-form-group>
            <b-form-group
              label="Dział konstrukcyjny"
              :label-cols="3"
              :horizontal="true"
              class="col-6"
              >
              <b-form-input disabled :value="selectedForm.department.name"></b-form-input>
            </b-form-group>
          </div>
          <div class="row">
            <component v-for="(field, index) in schema"
                       :key="index"
                       :options="field.paramHasOptions"
                       :labelCols="3"
                       :editValue="field.value"
                       v-on:newValue="data => field.value = data"
                       :is="computedFieldType(field.type)"
                       v-bind="field">
            </component>
          </div>
          <div class="row">
            <b-form-group
              label="Cena produktu"
              :label-cols="3"
              :horizontal="true"
              class="col-6"
              >
              <b-form-input type="number" min="0" step="0.01" v-model="productPrice"></b-form-input>
            </b-form-group>
          </div>
        </b-card>
      </div>
    </div>
    <b-row>
      <div class="col-12 d-flex justify-content-center mb-3">
        <b-button v-if="isEditingForm"
          @click="cancelEdit()"
          variant="warning"
          class="mr-3"
        >
          <i class="icon-close mr-1"></i>
          <span>Cofnij</span>
        </b-button>
        <b-button
          @click="saveProduct()"
          variant="info text-white"
          class="mr-3"
        >
        <i class="fa fa-send mr-2"></i>
          <span class="mr-1">Zapisz produkt</span>
        </b-button>
      </div>
    </b-row>
  </div>
</template>
<script>
import TextField from '../templateConfigurator/components/TextField'
import NumField from '../templateConfigurator/components/NumField'
import SelectField from '../templateConfigurator/components/SelectField'
import CheckboxField from '../templateConfigurator/components/CheckboxField'
import RadioField from '../templateConfigurator/components/RadioField'

import vSelect from 'vue-select'
import axios from 'axios'
import _ from 'lodash'

import VueNotifications from 'vue-notifications'

export default {
  name: 'productsConfigurator',
  components: {
    vSelect,
    TextField,
    NumField,
    SelectField,
    CheckboxField,
    RadioField
  },
  data () {
    return {
      id: this.$router.currentRoute.params['id'],
      productName: '',
      productPrice: 0.00,
      selectedForm: null,
      formsList: [],
      schema: [],
      isEditingForm: false
    }
  },
  methods: {
    computedFieldType (type) {
      console.log(type)
      switch (type) {
        case 'VALUE':
          return 'NumField'
        case 'FIELD':
          return 'TextField'
        case 'SCROLL_LIST':
          return 'SelectField'
        case 'ONE':
          return 'RadioField'
        case 'MANY':
          return 'CheckboxField'
        default:
          return 'N/A'
      }
    },
    processDataBeforeSend () { // - now useless, maybe can be improved later (too many parameters passed)
      this.selectedForm.value = this.selectedForm.params[0].value
      delete this.selectedForm.params
      delete this.selectedForm.label
    },
    cancelEdit () {
      this.$router.push(`/products/${this.id}`)
    },
    handleSuccess (response) {
      this.productName = ''
      this.showSuccessMsg()
      this.$router.push(`/products/${response.data.id}`)
    },
    handleError (err) {
      this.showWarnMsg()
      this.$router.push('/products/')
      console.error(err)
    },
    sendProduct () {
      axios.post(`/products`, this.selectedForm)
        .then(response => {
          this.handleSuccess(response)
        })
        .catch(err => {
          this.handleError(err)
        })
    },
    updateProduct () {
      axios.put(`/products/${this.id}`, this.selectedForm)
        .then(response => {
          this.handleSuccess(response)
        })
        .catch(err => {
          this.handleError(err)
        })
    },
    saveProduct () {
      this.selectedForm.productName = this.productName
      this.selectedForm.productPrice = this.productPrice
      delete this.selectedForm.id
      if (this.isEditingForm) {
        this.updateProduct()
      } else {
        this.sendProduct()
      }
    },
    fetchFormToEdit () {
      this.isEditingForm = true
      axios.get(`/products/${this.id}`)
        .then(response => {
          this.selectedForm = response.data
          this.productName = this.selectedForm.productName
          this.productPrice = this.selectedForm.productPrice
        })
        .catch(error => console.log(error))
    },
    fetchProducts () {
      axios.get(`/forms`)
        .then(response => {
          this.formsList = []
          response.data.map(el => {
            el.label = el.formName
            this.formsList.push(el)
          })
        })
        .catch(err => console.log(err))
    },
    isEditing () {
      return this.$router.currentRoute.path.match(/edit/) ? this.fetchFormToEdit() : null
    },
    onSearch (search, loading) {
      loading(true)
      this.search(loading, search, this)
    },
    search: _.debounce((loading, search, vm) => {
      axios.get(`/ajax/templates/get`)
        .then(response => {
          vm.formsList = []
          response.data.map(el => {
            vm.formsList.push(el)
            el.label = el.name
          })
          loading(false)
        })
        .catch(err => console.log(err))
    }, 400) // duration of delay before sending request
  },
  created () {
    this.isEditing()
    if (!this.isEditingForm) {
      this.fetchProducts()
    }
  },
  watch: {
    selectedForm: function (val) {
      this.schema = val.params
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany błąd.'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Wysłano!',
      message: 'Produkt został zapisany!'
    }
  }
}
</script>

<style lang="scss" scoped>
.flex-10{
  flex: 10;
}
</style>
