<template>
  <b-row class="d-flex justify-content-center">
      <b-col lg="10">
        <b-card>
          <div slot="header">
            <strong>{{ caption }}</strong>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <input class="form-control" type="text" v-model="searchText" placeholder="Wyszukaj produkt">
            </div>
          </div>
          <Table :sortBy="sortBy" :items="filteredProducts" :fields="fields" v-on:goToRow="id => navigateToForm(id)" />
        </b-card>
      </b-col>
  </b-row>
</template>

<script>
import Table from '@/views/clients/Table.vue'
import axios from 'axios'
import { SHORT_URL } from '@/shared/sharedData'

export default {
  name: 'productsList',
  components: {
    Table
  },
  data () {
    return {
      sortBy: 'name',
      caption: 'Produkty',
      searchText: '',
      customProducts: [],
      fields: [
        {
          key: 'index',
          label: 'L.p.',
          sortable: true
        },
        {
          key: 'productName',
          label: 'Nazwa',
          sortable: true
        },
        {
          key: 'constructionSection',
          label: 'Dział konstrukcyjny'
        }
      ]
    }
  },
  methods: {
    fetchAllProducts () {
      axios.get(`${SHORT_URL}/products`)
        .then(resp => {
          this.customProducts = resp.data
        })
        .catch(err => console.log(err))
    },
    navigateToForm (id) {
      this.$router.push(`/products/${id}`)
    }
  },
  computed: {
    filteredProducts () {
      return this.customProducts.filter(el => {
        return el.productName.toLowerCase().includes(this.searchText.toLowerCase())
      })
    }
  },
  created () {
    this.fetchAllProducts()
  }
}
</script>
<style lang="css" scoped>
</style>
