<template>
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <b-card>
        <div slot="header">
          <strong>{{ product.productName }}</strong>
          <b-button class="pull-right" @click="removeCustomProduct()" variant="danger" size="sm">Usuń</b-button>
          <b-button class="pull-right mr-3" @click="editCustomProduct()" variant="warning" size="sm">Edytuj</b-button>
        </div>
        <div class="row">
          <b-form-group
            label="Dział konstrukcyjny"
            :label-cols="3"
            :horizontal="true"
            class="col-6"
            >
            <b-form-input disabled :value="product.constructionSection"></b-form-input>
          </b-form-group>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <tbody>
                <tr v-for="(field, index) in schema" :key="index">
                  <template v-if="field.fieldType === 'CheckboxField'">
                    <td class="width-50">{{ field.name }}</td>
                    <td class="width-50">{{ computeCheckboxFields(field.value[0], field.value[1]) }}</td>
                  </template>
                  <template v-else>
                    <td class="width-50">{{ field.name }}</td>
                    <td class="width-50">{{ field.value }}</td>
                  </template>
                </tr>
                <tr>
                  <td class="width-50">Cena produktu</td>
                  <td class="width-50">{{ product.productPrice }} zł</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
import { SHORT_URL } from '@/shared/sharedData'
import axios from 'axios'
import _ from 'lodash'
import TextField from '../templateConfigurator/components/TextField'
import NumField from '../templateConfigurator/components/NumField'
import SelectField from '../templateConfigurator/components/SelectField'
import CheckboxField from '../templateConfigurator/components/CheckboxField'

export default {
  name: 'productGenerator',
  components: {
    TextField,
    NumField,
    SelectField,
    CheckboxField
  },
  data () {
    return {
      product: {},
      schema: [],
      id: this.$router.currentRoute.params['id']
    }
  },
  methods: {
    // https://lodash.com/docs/#pickBy
    computeCheckboxFields (keys, values) {
      let computed = {}
      keys.forEach((el, index) => {
        computed[el] = values[index]
      })
      let result = _.pickBy(computed, el => el === true)
      return Object.keys(result).join(', ')
    },
    fetchProduct () {
      axios.get(`${SHORT_URL}/products/${this.id}`)
        .then(resp => {
          this.product = resp.data
          this.schema = resp.data.params
        })
        .catch(err => console.log(err))
    },
    removeCustomProduct () {
      if (confirm('Czy na pewno chcesz usunąć ten formularz?')) {
        axios.delete(`${SHORT_URL}/products/${this.id}`)
          .then(resp => {
            console.log(resp)
            this.$router.push('/products')
          })
          .catch(err => console.log(err))
      }
    },
    editCustomProduct () {
      this.$router.push(`/products/${this.id}/edit`)
    }
  },
  created () {
    this.fetchProduct()
  }
}
</script>
<style lang="scss" scoped>
.width-50{
  width: 50%!important;
}
</style>
