<template>
<div>
  <h5 class="pb-2">{{ cutter.newToolType }}</h5>
  <table class="table">
    <tbody>
      <tr>
        <td class="eq-width">Średnica zewnętrzna, {{ diameterType(toolParams.outerHole) }}</td>
        <td class="eq-width">{{ toolParams.outerHoleMM }}mm</td>
      </tr>
      <tr>
        <td class="eq-width">Rodzaj obrabianego materiału</td>
        <td class="eq-width">{{ toolParams.materialType }}</td>
      </tr>
      <tr>
        <td class="eq-width">Typ obrabiarki</td>
        <td class="eq-width">{{ defineCutterType(toolParams.cutterType) }}</td>
      </tr>
      <tr>
        <td colspan="2" class="eq-width">Część chwytowa</td>
      </tr>
      <tr>
        <td class="eq-width">Otwór</td>
        <td class="eq-width">{{ toolParams.grippingHole }}</td>
      </tr>
      <tr>
        <td class="eq-width">Walcowa</td>
        <td class="eq-width">{{ toolParams.grippingRoller }}</td>
      </tr>
      <tr>
        <td class="eq-width">Stożkowa</td>
        <td class="eq-width">{{ defineGrippingCone(toolParams.grippingCone) }}</td>
      </tr>
      <tr>
        <td class="eq-width">Z gwintem</td>
        <td class="eq-width">
          {{ defineScrewTypeDirection(toolParams.screwType) }}, {{ defineScrewSubType(toolParams.screwSubType) }}
        </td>
      </tr>
      <tr>
        <td class="eq-width">Materiał ostrza</td>
        <td class="eq-width">{{ defineCutterMaterial(toolParams.cutterMaterial) }}</td>
      </tr>
      <tr>
        <td class="eq-width">Rodzaj posuwu na obrabiarce (frezarce)</td>
        <td class="eq-width">{{ defineMovementType(toolParams.movementType) }}</td>
      </tr>
      <tr>
        <td class="eq-width">Rodzaj ostrzy</td>
        <td class="eq-width">{{ defineBladesType(toolParams.bladesType) }}</td>
      </tr>
      <tr>
        <td class="eq-width">Ilość ostrzy</td>
        <td class="eq-width">{{ toolParams.bladesCount }}</td>
      </tr>
      <tr>
        <td class="eq-width">Materiał korpusu</td>
        <td class="eq-width">{{ defineBodyMaterial(toolParams.bodyMaterial) }}</td>
      </tr>
      <tr>
        <td class="eq-width">Rodzaj zgrzewarki</td>
        <td class="eq-width">{{ defineToolWorkingMechanism(toolParams.toolWorkingMechanism) }}</td>
      </tr>
    </tbody>
  </table>
</div>
</template>
<script>
export default {
  name: 'FrezNasadzany',
  props: ['cutter'],
  data () {
    return {
      toolParams: this.cutter.newToolTypeOptions
    }
  },
  methods: {
    diameterType (cutter) {
      switch (cutter) {
        case '1':
          return 'min'
        case '2':
          return 'bazowa'
        case '3':
          return 'max'
      }
    },
    defineCutterType (cutter) {
      switch (cutter) {
        case '1':
          return 'dolnowrzecionowa'
        case '2':
          return 'trzystronna'
        case '3':
          return 'czterostronna'
        case '4':
          return 'górnowrzecionowa'
      }
    },
    defineGrippingCone (cutter) {
      return cutter ? 'Tak' : 'Nie'
    },
    defineScrewTypeDirection (param) {
      switch (param) {
        case '1':
          return 'lewy'
        case '2':
          return 'prawy'
      }
    },
    defineScrewSubType (param) {
      switch (param) {
        case '1':
          return 'wewn.'
        case '2':
          return 'zewn.'
      }
    },
    defineCutterMaterial (param) {
      switch (param) {
        case '1':
          return 'HSS'
        case '2':
          return 'HM'
        case '3':
          return 'DP'
      }
    },
    defineMovementType (param) {
      return param === '1' ? 'ręczny' : 'maszynowy'
    },
    defineBladesType (param) {
      switch (param) {
        case '1':
          return 'lutowane'
        case '2':
          return 'wymienne'
        case '3':
          return 'narzędzia jednolite'
      }
    },
    defineBodyMaterial (param) {
      return param === '1' ? 'stal' : 'aluminium'
    },
    defineToolWorkingMechanism (param) {
      switch (param) {
        case '1':
          return 'frez lewy, obroty lewe'
        case '2':
          return 'frez prawy, obroty prawe'
        case '3':
          return 'frez prawy, obroty lewe'
        case '4':
          return 'frez lewy, obroty prawe'
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
<style lang="css">
.eq-width{
  width: 50%!important;
}
</style>
