<template>
  <p>{{ cutter }}</p>
</template>

<script>
export default {

  name: 'FrezLutowany',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>
