<template>
  <div>
    <h5 class="pb-2">{{ cutter.newToolType }}</h5>
    <table class="table">
      <tbody>
        <tr>
          <td class="eq-width">System profili</td>
          <td class="eq-width">{{ toolParams.profileSystem }}</td>
        </tr>
        <tr>
          <td colspan="2">Numery profili</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-flex flex-wrap">
              <div class="col-2" v-for="(profile, index) in toolParams.profileNumbers" :key="index">
                <p><small>{{ index }}</small>) {{ profile }}</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="eq-width">Producent</td>
          <td class="eq-width">{{ toolParams.producent }}</td>
        </tr>
        <tr>
          <td class="eq-width">Typ</td>
          <td class="eq-width">{{ toolParams.type }}</td>
        </tr>
        <tr>
          <td class="eq-width">Rok produkcji</td>
          <td class="eq-width">{{ toolParams.productionYear }}</td>
        </tr>
        <tr>
          <td class="eq-width">Numer seryjny</td>
          <td class="eq-width">{{ toolParams.serialNumber }}</td>
        </tr>
        <tr>
          <td class="eq-width">Profile z uszczelką zgrzewalną</td>
          <td class="eq-width">{{ yesOrNo(toolParams.profileTypes) }}</td>
        </tr>
        <tr>
          <td class="eq-width">Ułożenie ramy na blacie oczyszczarki</td>
          <td class="eq-width">
            <img :src="showStakePlacementImage(toolParams.stakePlacement, 'ramy')" alt="Ułożenie słupka">
          </td>
        </tr>
        <tr>
          <td class="eq-width">Ułożenie skrzydła na blacie oczyszczarki</td>
          <td class="eq-width">
            <img :src="showStakePlacementImage(toolParams.wingPlacement, 'skrzydla')" alt="Ułożenie słupka">
          </td>
        </tr>
        <tr>
          <td class="eq-width">Kierunek obrotów</td>
          <td class="eq-width">{{ toolParams.rotationDirection === 1 ? 'Lewe' : 'Prawe' }}</td>
        </tr>
        <tr>
          <td class="eq-width">Średnica otworu</td>
          <td class="eq-width">{{ toolParams.holeDiameter }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Średnica bazowa</td>
          <td class="eq-width">{{ toolParams.baseDiameter }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Max. możliwa średnica narzędzia</td>
          <td class="eq-width">{{ toolParams.maxToolDiameter }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Średnica wew.</td>
          <td class="eq-width">{{ toolParams.innerDiameter }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Średnica zew.</td>
          <td class="eq-width">{{ toolParams.outerDiameter }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Długość</td>
          <td class="eq-width">{{ toolParams.cutterLength }} mm</td>
        </tr>
        <tr>
          <td class="eq-width">Tuleja szybkozmienna</td>
          <td class="eq-width">{{ yesOrNo(toolParams.quickchangeBushing) }}</td>
        </tr>
        <tr>
          <td class="eq-width">Tuleja redukcyjna</td>
          <td class="eq-width">{{ yesOrNo(toolParams.reductionSleeve) }}</td>
        </tr>
        <tr>
          <td class="eq-width">Klin na wale</td>
          <td class="eq-width">{{ yesOrNo(toolParams.wedgeOnShaft) }}</td>
        </tr>
        <tr>
          <td class="eq-width">Dodatkowe informacje</td>
          <td class="eq-width">{{ toolParams.additionalInfo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'OczyszczarkaNarozy',
  props: ['cutter'],
  data () {
    return {
      toolParams: this.cutter.newToolTypeOptions
    }
  },
  methods: {
    showStakePlacementImage (obj, param) {
      return `/static/img/offers/newProducts/oczyszczarka_narozy/ulozenie_${param}_${obj}.png`
    },
    yesOrNo (obj) {
      return obj === '1' ? 'Tak' : 'Nie'
    }
  }
}
</script>
<style lang="css">
.eq-width{
  width: 50%!important;
}
</style>
