<template>
  <div>
    <h5 class="pb-2">{{ cutter.newToolType }}</h5>
    <table class="table">
      <tbody>
        <tr>
          <td class="eq-width">System profili</td>
          <td class="eq-width">{{ toolParams.profileSystem }}</td>
        </tr>
        <tr>
          <td colspan="2">Numery profili</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-flex flex-wrap">
              <div class="col-2" v-for="(profile, index) in toolParams.profileNumbers" :key="index">
                <p><small>{{ index }}</small>) {{ profile }}</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="eq-width">Producent</td>
          <td class="eq-width">{{ toolParams.producent }}</td>
        </tr>
        <tr>
          <td class="eq-width">Typ</td>
          <td class="eq-width">{{ toolParams.type }}</td>
        </tr>
        <tr>
          <td class="eq-width">Rok produkcji</td>
          <td class="eq-width">{{ toolParams.productionYear }}</td>
        </tr>
        <tr>
          <td class="eq-width">Numer seryjny</td>
          <td class="eq-width">{{ toolParams.serialNumber }}</td>
        </tr>
        <tr>
          <td class="eq-width">Ułożenie profilu na blacie piły</td>
          <td class="eq-width">
            <img :src="showProfilePlacementImage(toolParams.stakePlacement)" alt="Ułożenie profilu">
          </td>
        </tr>
        <tr>
          <td class="eq-width">Rodzaj mocowania</td>
          <td class="eq-width">{{ defineMountType(toolParams.mountType) }}</td>
        </tr>
        <tr>
          <td colspan="2">Wymiary</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-flex flex-wrap">
              <div class="col-2" v-for="(profile, index) in toolParams.dimensions" :key="index">
                <p><small>{{ showProperSymbol(index) }}</small>) {{ profile }}</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'PilaDoProfili',
  props: ['cutter'],
  data () {
    return {
      toolParams: this.cutter.newToolTypeOptions
    }
  },
  methods: {
    showProfilePlacementImage (param) {
      return `/static/img/offers/newProducts/pila_do_profili/ulozenie_${param}.png`
    },
    yesOrNo (obj) {
      return obj === '1' ? 'Tak' : 'Nie'
    },
    defineMountType (mType) {
      switch (mType) {
        case '1':
          return 'Śruby'
        case '2':
          return 'Kołki'
        case '3':
          return 'Magnesy'
        case '4':
          return 'Brak'
        case '5':
          return this.toolParams.mountTypeOther
      }
    },
    showProperSymbol (param) {
      switch (param) {
        case '9':
          return 'ϕ'
        case '10':
          return 'M'
        default:
          return param
      }
    }
  }
}
</script>
<style lang="css">
.eq-width{
  width: 50%!important;
}
</style>
