<template>
  <table class="table">
    <tbody>
      <tr>
        <td style="width: 50%;">Typ</td>
        <td style="width: 50%;">{{ cutter.newToolType }}</td>
      </tr>
      <tr>
        <td style="width: 50%;">Podtyp</td>
        <td style="width: 50%;">{{ cutter.newToolSubType }}</td>
      </tr>
      <!-- I suppose there will be more params -->
    </tbody>
  </table>
</template>

<script>
export default {

  name: 'Wiertlo',
  props: ['cutter'],
  data () {
    return {

    }
  }
}
</script>
