<template>
  <div>
    <b-table
      hover
      :sort-by.sync="sortBy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
    >
      <template slot="index" slot-scope="data">
        {{ data.index + 1 }}
      </template>
      <template slot="actions" slot-scope="data">
        <!-- <router-link class="btn btn-outline-primary btn-sm" :to="'/parameters/'+(data.item.id)">Wyświetl</router-link> -->
        <button class="btn btn-outline-dark btn-sm" @click="editDepartment(data.item)">Edytuj</button>
        <button class="btn btn-outline-danger btn-sm" @click.stop="deleteDK(data.item.id)">Usuń</button>
      </template>
    </b-table>
    <b-pagination align="center" :total-rows="items.length" v-model="currentPage" prev-text="Poprzednia" next-text="Następna" :per-page="perPage">
    </b-pagination>
    <b-modal title="Edycja DK" cancel-title="Anuluj" ok-title="Zatwierdź" v-model="isModalShown" @ok="$emit('updateDK', departmentToEdit)">
      <b-form-group
        v-if="departmentToEdit"
        label="Nazwa działu"
        label-for="dkName"
        :label-cols="3"
        :horizontal="true">
        <b-form-input
          id="dkName"
          name="dkName"
          data-vv-as="nazwa DK"
          v-validate="'required'"
          v-model="departmentToEdit.name"
          type="text"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('dkName')">{{ errors.first('dkName') }}</b-form-invalid-feedback>
      </b-form-group>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Table',
  props: ['items', 'fields', 'sortBy'],
  data () {
    return {
      currentPage: 1,
      perPage: 10,
      isModalShown: false,
      departmentToEdit: null
    }
  },
  methods: {
    editDepartment (dk) {
      this.departmentToEdit = {
        id: dk.id,
        name: dk.name
      }
      this.isModalShown = true
    },
    deleteDK (DKId) {
      if (confirm('Czy na pewno?')) {
        axios.get(`/ajax/departments/${DKId}/delete`)
          .then(response => {
            this.$emit('reloadData')
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
}
</script>
