<template>
  <div>
    <b-form-group
      :label="fieldLabel"
      :label-cols="labelCols"
      :horizontal="true"
    >
      <b-form-checkbox-group :id="name">
        <div v-for="(option, index) in options" :key="index" class="custom-control custom-checkbox">
          <input v-model="checked[index]" type="checkbox" class="custom-control-input" :id="option.id" :value="option.name">
          <label class="custom-control-label" :for="option.id">{{ option.name }}
            <img v-if="showImage(option.image)" class="img-thumbnail" :src="`/ajax/static/${option.image[0].path}`" alt="Ilustracja parametru">
          </label>
        </div>
      </b-form-checkbox-group>
    </b-form-group>
  </div>
</template>

<script>
import _ from 'lodash'
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'CheckboxField',
  props: ['name', 'label', 'symbol', 'options', 'labelCols', 'editValue', 'unit'],
  data () {
    return {
      checked: [],
      checkedFieldsToEmit: []
    }
  },
  methods: {
    showImage (image) {
      return !_.isEmpty(image)
    },
    checkedFields () {
      return this.options.filter((el, index) => {
        return this.checked[index]
      }).map(el => el.id)
    },
    computeCheckboxFields (checkboxArray) {
      let values = Array.from(checkboxArray[1])
      values.forEach((el, index) => {
        this.checked[index] = el
      })
    },
    isEditing () {
      return this.editValue ? this.computeCheckboxFields(this.editValue) : []
    }
  },
  created () {
    this.isEditing()
  },
  computed: {
    fieldLabel () {
      let symbol = this.symbol ? `[${this.symbol}]` : ''
      let unit = this.unit ? this.unit : ''
      return `${this.name} ${symbol} ${unit}`
    },
    imagePath (field) {
      return `${IMAGE_PATH}${field}`
    }
  },
  watch: {
    checked: function (val) {
      this.checkedFieldsToEmit = this.checkedFields()
      this.$emit('newValue', { id: this.checkedFieldsToEmit })
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-label-fixed{
  min-width: 150px;
}
</style>
