<template>
  <div>
    <b-form-group
      :label="fieldLabel"
      :label-cols="labelCols"
      :horizontal="true"
    >
      <b-form-input type="text" :name="name" :class="{ 'field-with-unit': unit }" :value="value" disabled></b-form-input>
      <span>{{ unit }}</span>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'FixedValueField',
  props: ['name', 'symbol', 'label', 'labelCols', 'editValue', 'unit'],
  data () {
    return {
      value: null
    }
  },
  mounted () {
    this.value = this.editValue ? this.editValue : null
  },
  computed: {
    fieldLabel () {
      let symbol = this.symbol ? `[${this.symbol}]` : ''
      return `${this.name} ${symbol}`
    }
  }
}
</script>
<style lang="scss">
.field-with-unit{
  width: 90%;
  display: inline-block;
}
</style>
