<template>
  <div>
    <b-form-group
      :label="fieldLabel"
      :label-cols="labelCols"
      :horizontal="true">
      <b-form-radio-group>
        <div v-for="option in options" :key="option.id+1" class="custom-control custom-radio">
          <!-- 'id' and 'for' has to be +1 because of the same ids of field and first parameter (html doesnt like this)  -->
          <input v-on:input="$emit('newValue', { id: [option.id], name: option.name })" v-model="value" type="radio" class="custom-control-input" :id="option.id+1" :value="option.id">
          <label class="custom-control-label" :for="option.id+1">{{ option.name }}
          <img v-if="showImage(option.image)" class="img-thumbnail miniature-image" :src="`/ajax/static/${option.image[0].path}`" alt="Ilustracja parametru">
          </label>
        </div>
      </b-form-radio-group>
    </b-form-group>
  </div>
</template>

<script>
import _ from 'lodash'
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'RadioField',
  props: ['name', 'label', 'symbol', 'options', 'labelCols', 'editValue'],
  data () {
    return {
      value: null
    }
  },
  methods: {
    showImage (image) {
      return !_.isEmpty(image)
    },
    isEditing () {
      this.value = this.editValue ? this.editValue : null
    }
  },
  mounted () {
    this.isEditing()
  },
  computed: {
    fieldLabel () {
      let symbol = this.symbol ? `[${this.symbol}]` : ''
      let unit = this.unit ? this.unit : ''
      return `${this.name} ${symbol} ${unit}`
    },
    imagePath (field) {
      return `${IMAGE_PATH}${field}`
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-label-fixed{
  min-width: 150px;
}
.miniature-image{
  max-width: 100%;
}
</style>
