<template>
  <div>
    <b-form-group
      :label="fieldLabel"
      :label-cols="labelCols"
      :horizontal="true">
      <b-form-select :id="name"
        :class="{ 'field-with-unit': unit }"
        :name="name"
        v-model="value"
        :plain="true"
        required
        :options="selectOptions">
      </b-form-select>
      <span>{{ unit }}</span>
    </b-form-group>
  </div>
</template>

<script>
export default {

  name: 'SelectField',
  props: ['label', 'name', 'options', 'symbol', 'labelCols', 'editValue', 'unit'],
  data () {
    return {
      value: null,
      selectOptions: []
    }
  },
  methods: {
    computeOptions () {
      this.selectOptions = this.options.map(el => {
        return {
          value: el.id,
          text: el.name
        }
      })
    }
  },
  mounted () {
    this.computeOptions()
    this.value = this.editValue ? this.editValue : null
  },
  computed: {
    fieldLabel () {
      let symbol = this.symbol ? `[${this.symbol}]` : ''
      return `${this.name} ${symbol}`
    }
  },
  watch: {
    value: function (val) {
      console.log(val)
      let newVal = { id: [val] }
      this.$emit('newValue', newVal)
    }
  }
}
</script>

<style lang="css" scoped>
.field-with-unit{
  width: 90%;
  display: inline-block;
}
</style>
