<template>
  <div>
    <b-form-group
      :label="fieldLabel"
      :label-cols="labelCols"
      :horizontal="true"
    >
      <b-form-input v-on:input="$emit('newValue', value)" :class="{ 'field-with-unit': unit }"
        v-model="value" type="text" required :name="name" :placeholder="symbol"></b-form-input>
    </b-form-group>
    <span>{{ unit }}</span>
  </div>
</template>

<script>
export default {
  name: 'TextField',
  props: ['name', 'symbol', 'label', 'labelCols', 'editValue', 'unit'],
  data () {
    return {
      value: null
    }
  },
  mounted () {
    this.value = this.editValue ? this.editValue : null
  },
  computed: {
    fieldLabel () {
      let symbol = this.symbol ? `[${this.symbol}]` : ''
      return `${this.name} ${symbol}`
    }
  }
}
</script>
<style lang="css">
.field-with-unit{
  width: 90%;
  display: inline-block;
}
</style>
