<template>
  <div class="animated fadeIn">
    <b-form-group
      description="Imię"
      label="Imię"
      :label-for="`additionalContactName`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactName`" required name="additionalContactName" type="text" v-model="client.name"></b-form-input>
    </b-form-group>
    <b-form-group
      description="Nazwisko"
      label="Nazwisko"
      :label-for="`additionalContactSurname`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactSurname`" required name="additionalContactSurname" type="text" v-model="client.surname"></b-form-input>
    </b-form-group>
    <b-form-group
      description="Numer telefonu"
      label="Telefon"
      :label-for="`additionalContactPhone`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactPhone`" required name="additionalContactPhone" type="email" v-model="client.phone"></b-form-input>
    </b-form-group>
    <b-form-group
      description="Adres email"
      label="Adres email"
      :label-for="`additionalContactEmail`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactEmail`" required name="additionalContactEmail" type="email" v-model="client.email"></b-form-input>
    </b-form-group>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'EditClientData',
  data () {
    return {
      client: {
        id: null,
        name: null,
        surname: null,
        phone: null,
        email: null
      }
    }
  },
  methods: {
    fetchCompanyData () {
      const id = this.$router.currentRoute.params['id']
      axios.get(`/ajax/company/${id}/get`)
        .then(resp => {
          const clientId = parseInt(this.$route.params[0].substr(7))
          this.client = resp.data.clients.filter(item => {
            return item.id === clientId
          })[0]
        })
        .catch(err => console.log(err))
    }
  },
  mounted () {
    this.fetchCompanyData()
  },
  watch: {
    client: {
      handler: function () {
        this.$emit('updateData', this.client)
      },
      deep: true
    }
  }
}
</script>
