<template>
  <div class="animated fadeIn">
    <b-form-group
      label="Nazwa"
      label-for="addressName"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressName`" required v-validate="'required|min:3'" :class="{'is-invalid': errors.has(`addressName`)}"
        :name="`addressName`" type="text" v-model="address.name" data-vv-as="adres" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressName`)">
        {{ errors.first(`addressName`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Państwo siedziby"
      label="Państwo"
      label-for="addressCountry"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressCountry`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressCountry`)}"
        :name="`addressCountry`" type="text" v-model="address.country" data-vv-as="adres" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressCountry`)">
        {{ errors.first(`addressCountry`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Miasto siedziby"
      label="Miasto"
      label-for="addressCity"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressCity`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressCity`)}"
        :name="`addressCity`" type="text" v-model="address.city" data-vv-as="adres" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressCity`)">
        {{ errors.first(`addressCity`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Kod pocztowy siedziby"
      label="Kod pocztowy"
      label-for="addressPostal"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressPostal`" required v-validate="'required: true'"
      :class="{'is-invalid': errors.has(`addressPostal`)}" :name="`addressPostal`" type="text" v-model="address.postal"
        data-vv-as="adres" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressPostal`)">
        {{ errors.first(`addressPostal`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Adres siedziby"
      label="Ulica"
      :label-for="`addressStreet`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressStreet`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressStreet`)}"
      :name="`addressStreet`" type="text" v-model="address.street" data-vv-as="adres" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressStreet`)">
        {{ errors.first(`addressStreet`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Numer telefonu"
      label="Numer telefonu"
      :label-for="`addressPhone`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressPhone`" required :name="`addressPhone`" type="text" v-model="address.phone"></b-form-input>
    </b-form-group>
    <b-form-group
      label="Adres główny?"
      label-for="mainAddress"
      :label-cols="3"
      :horizontal="true">
      <c-switch class="m-1" id="mainAddress" v-model="address.main" color="primary" variant="pill" />
    </b-form-group>
  </div>
</template>
<script>
import axios from 'axios'
import { Switch as cSwitch } from '@coreui/vue'

export default {
  name: 'EditAddress',
  components: {
    cSwitch
  },
  data () {
    return {
      isMainAddress: null,
      address: {
        street: null,
        postal: null,
        city: null,
        phone: null,
        country: null
      }
    }
  },
  methods: {
    getAddress () {
      // "address/".lenght === 10
      const companyId = this.$route.params['id']
      const addressId = parseInt(this.$route.params[0].substr(10))
      axios.get(`/ajax/company/${companyId}/addresses/get`)
        .then(response => {
          this.address = response.data.filter(item => {
            return item.id === addressId
          })[0]
          this.isMainAddress = this.address.main
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  created () {
    this.getAddress()
  },
  watch: {
    address: {
      handler: function () {
        this.$emit('updateData', this.address)
      },
      deep: true
    }
  }
}
</script>
