<template>
  <div class="animated fadeIn">
      <b-form-group
        label="Nazwa"
        description="Pełne imię i nazwisko lub nazwa firmy."
        label-for="companyName"
        :label-cols="3"
        :horizontal="true">
        <b-form-input required v-validate="'required|min:1'" :class="{'is-invalid': errors.has('companyName')}" name="companyName"
          id="companyName" type="text" v-model="company.name" data-vv-as="nazwa" autocomplete="name"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('companyName')">
          {{ errors.first('companyName') }}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        label="NIP"
        description="Numer NIP"
        label-for="nip"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="nip" required v-validate="'required|min:8'" :class="{'is-invalid': errors.has('clientNip')}" name="clientNip"
          type="text" v-model="company.taxId" data-vv-as="adres" autocomplete="nip"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('clientNip')">
          {{ errors.first('clientNip') }}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        label="KRS"
        description="Numer KRS"
        label-for="krs"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="krs" name="clientKrs"
          type="text" v-model="company.krs" autocomplete="nip"></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'EditMainData',
  data () {
    return {
      company: {
        name: null,
        taxId: null,
        krs: null
      }
    }
  },
  methods: {
    getCompanyData () {
      const id = this.$route.params['id']
      axios.get(`/ajax/company/${id}/get`)
        .then(resp => {
          this.company = {
            name: resp.data.name,
            krs: resp.data.krs,
            taxId: resp.data.taxId
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  created () {
    this.getCompanyData()
  },
  watch: {
    company: {
      handler: function () {
        this.$emit('updateData', this.company)
      },
      deep: true
    }
  }
}
</script>
