<template>
  <table class="table">
    <tbody>
      <tr>
        <td style="width: 50%">Nazwa</td>
        <td style="width: 50%">{{ company.name }}</td>
      </tr>
      <tr>
        <td style="width: 50%;">NIP</td>
        <td style="width: 50%;">{{ company.taxId }}</td>
      </tr>
      <tr>
        <td style="width: 50%;">KRS</td>
        <td style="width: 50%;">{{ company.krs }}</td>
      </tr>
      <tr v-if="company.addresses.length > 0">
        <td style="width: 50%">Adres główny: {{ mainCompanyAddress.name }}</td>
        <td style="width: 50%">{{ mainAddress(company.addresses) }}</td>
      </tr>
      <tr v-else>
        <td style="width: 50%">Adres: brak</td>
        <td style="width: 50%">Odbiór osobisty</td>
      </tr>
      <template v-if="client">
        <tr>
          <td style="width: 50%;">Osoba kontaktowa</td>
          <td style="width: 50%;">{{ `${client.name} ${client.surname}` }}</td>
        </tr>
        <tr>
          <td style="width: 50%">Numer telefonu</td>
          <td style="width: 50%">{{ client.phone }}</td>
        </tr>
        <tr>
          <td style="width: 50%">Email</td>
          <td style="width: 50%">{{ client.email }}</td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default{
  name: 'ClientData',
  props: ['client', 'company', 'deliveryAddress'],
  data () {
    return {
      mainCompanyAddress: ''
    }
  },
  methods: {
    getMainCompanyAddress (addresses) {
      this.mainCompanyAddress = addresses.filter(address => address.main)[0]
    },
    mainAddress (data) {
      let mainAddr = data.filter(el => el.main)[0]
      return `${mainAddr.street ? mainAddr.street : ''}, ${mainAddr.postal ? mainAddr.postal : ''} ${mainAddr.city ? mainAddr.city : ''}`
    }
  },
  mounted () {
    this.getMainCompanyAddress(this.company.addresses)
  }
}
</script>
