<template>
    <div>
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 50%;">{{ `${field.name} [${field.symbol}]` }}</td>
          <td style="width: 50%;">{{ field.value ? field.value : printManyValues(field.productParamHasOptions) }}</td>
        </tr>
      </tbody>
    </table>
<!--     <template v-if="field.image.length > 0">
      <p>Obraz parametru:</p>
      <img class="param-img" :src="`${image_path}/static/${field.image[0].path}`" alt="">
    </template> -->
  </div>
</template>
<script>
import { IMAGE_PATH } from '@/shared/sharedData'

export default {
  name: 'ProductView',
  props: ['field'],
  data () {
    return {
      image_path: IMAGE_PATH
    }
  },
  methods: {
    printManyValues (arrayOfSelectedOptions) {
      let paramsNames = []
      arrayOfSelectedOptions.forEach(el => {
        paramsNames.push(el.name)
      })
      return paramsNames.join(', ')
    },
    computedFieldType: function (type) {
      switch (type) {
        case 'VALUE':
          return 'Wartość liczbowa'
        case 'FIELD':
          return 'Pole tekstowe'
        case 'SCROLL_LIST':
          return 'Lista rozwijana'
        case 'ONE':
          return 'Jeden z wielu'
        case 'MANY':
          return 'Wiele z wielu'
        case 'SET':
          return 'Pole z wartością'
        default:
          return 'N/A'
      }
    }
  }
}
</script>
<style lang="scss">
.param{
  &-img{
    max-width: 300px;
    max-height: 400px;
    margin: 20px;
  }
  &-item-img{
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
  }
}
</style>
