<template>
  <div>
    <div v-if="loading" class="d-flex justify-content-center align-items-center loader-block">
      <h3>Pobieram dane...</h3>
      <i class="fa fa-spinner fa-3x spinner"></i>
    </div>
    <router-view v-else></router-view>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'app',
  data () {
    return {
      loading: false
    }
  },
  methods: {
    fetchUserRole () {
      axios.get('/')
        .then(response => {
          const userRole = response.data.userRole
          switch (userRole) {
            case 'ADMIN':
              this.$root.$data.store.setUserRole('ADMIN')
              break
            case 'USER':
              this.$root.$data.store.setUserRole('USER')
              break
            default:
              this.$root.$data.store.setUserRole('USER')
              break
          }
        })
        .catch(error => {
          console.error(error)
        })
    }
  },
  created () {
    // TODO get user role from backend
    // this.fetchUserRole()

    // for testing only
    this.$root.$data.store.setUserRole('ADMIN')
  }
}
</script>

<style lang="scss">
  // CoreUI Icons Set
  @import '../node_modules/@coreui/icons/css/coreui-icons.min.css';
  /* Import Font Awesome Icons Set */
  $fa-font-path: '~font-awesome/fonts/';
  @import '~font-awesome/scss/font-awesome.scss';
  /* Import Simple Line Icons Set */
  $simple-line-font-path: '~simple-line-icons/fonts/';
  @import '~simple-line-icons/scss/simple-line-icons.scss';
  /* Import Flag Icons Set */
  @import '../node_modules/flag-icon-css/css/flag-icon.min.css';
  /* Import Bootstrap Vue Styles */
  @import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
  // Import Main styles for this application
  @import 'assets/scss/style';

  .loader-block{
    flex-direction: column;
    height: 100vh;
  }
  .spinner{
    animation: spin 1.7s ease-in-out infinite;
  }

  @keyframes spin{
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
</style>
