<template>
  <div class="animated fadeIn">
    <b-form-group
      description="Imię"
      label="Imię"
      :label-for="`additionalContactName`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactName`"
        v-validate="'required'" data-vv-as="imię"
        :class="{ 'is-invalid': errors.has('additionalContactName') }"
        required name="additionalContactName" type="text" v-model="client.name"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('additionalContactName')">
        {{ errors.first('additionalContactName') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      description="Nazwisko"
      label="Nazwisko"
      :label-for="`additionalContactSurname`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactSurname`"
        v-validate="'required'" data-vv-as="nazwisko"
        :class="{ 'is-invalid': errors.has('additionalContactSurname') }"
        required name="additionalContactSurname" type="text" v-model="client.surname"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('additionalContactSurname')">
        {{ errors.first('additionalContactSurname') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      description="Numer telefonu"
      label="Telefon"
      :label-for="`additionalContactPhone`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`additionalContactPhone`"
        v-validate="'required'" data-vv-as="numer telefonu"
        :class="{ 'is-invalid': errors.has('additionalContactPhone') }"
        required name="additionalContactPhone" type="phone" v-model="client.phone"></b-form-input>
        <b-form-invalid-feedback v-if="errors.has('additionalContactPhone')">
        {{ errors.first('additionalContactPhone') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      description="Adres email"
      label="Adres email"
      :label-for="`additionalContactEmail`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input
        :id="`additionalContactEmail`"
        v-validate="{ required: true, regex: emailValidationRule }" name="additionalContactEmail"
        data-vv-as="email"
        type="email" v-model="client.email"
        :class="{ 'is-invalid': errors.has('additionalContactEmail') }"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has('additionalContactEmail')">
        {{ errors.first('additionalContactEmail') }}
      </b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'ClientClient',
  // make validator work in nested components
  inject: ['$validator'],
  data () {
    return {
      emailValidationRule: /^([a-zA-Z0-9_\-.]+)@([a-zA-Z0-9_\-.]+)\.([a-zA-Z]{2,5})$/,
      client: {
        name: '',
        surname: '',
        phone: '',
        email: ''
      }
    }
  },
  watch: {
    client: {
      handler: function () {
        this.$emit('updateData', this.client)
      },
      deep: true
    }
  }
}
</script>
