<template>
  <div class="animated fadeIn d-flex justify-content-center">
    <b-col  lg="12" xl="6">
      <b-card>
        <div slot="header">
          <strong>
            Dodawanie osoby kontaktowej
          </strong>
        </div>
        <ClientClient v-on:updateData="clientData => updateClientParams(clientData)" />
      </b-card>
      <b-button @click="goBack" variant="primary text-white mr-2" class="pull-left"><i class="fa fa-undo mr-2"></i> Wróć</b-button>
      <b-button variant="success text-white" @click="submitNewClient"><i class="fa fa-save mr-2"></i>Dodaj nową osobę</b-button>
    </b-col>
  </div>
</template>
<script>
import ClientClient from './ClientClient'
import axios from 'axios'
import VueNotifications from 'vue-notifications'

export default {
  name: 'ClientNew',
  components: {
    ClientClient
  },
  data () {
    return {
      companyId: this.$route.params.id,
      client: null
    }
  },
  methods: {
    // NOT WORKING
    updateClientParams (clientData) {
      this.client = clientData
    },
    submitNewClient () {
      axios.post(`/ajax/company/${this.companyId}/client/add`, this.client)
        .then(response => {
          if (response.data.responseEnum === 'SUCCESS') {
            this.showSuccessMsg()
            this.client = {}
            this.$router.push(`/clients/${this.companyId}`)
          } else {
            this.showErrorMsg()
          }
        })
        .catch(error => {
          this.showErrorMsg()
          console.log(error)
        })
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Sukces!',
      message: 'Dodano nowy adres'
    }
  }
}
</script>
