<template>
  <div class="animated fadeIn d-flex justify-content-center">
    <b-col  lg="12" xl="6">
      <b-card>
        <div slot="header">
          <strong>
            Dodawanie nowego adresu
          </strong>
        </div>
        <ClientAddress v-on:addresParamUpdate="addressData => updateAddressParams(addressData)" />
      </b-card>
      <b-button @click="goBack" variant="primary text-white mr-2" class="pull-left"><i class="fa fa-undo mr-2"></i> Wróć</b-button>
      <b-button variant="success text-white" @click="submitNewAddress"><i class="fa fa-save mr-2"></i>Dodaj nowy adres</b-button>
    </b-col>
  </div>
</template>
<script>
import ClientAddress from './ClientAddress'
import axios from 'axios'
import VueNotifications from 'vue-notifications'

export default {
  name: 'ClientAddressNew',
  components: {
    ClientAddress
  },
  data () {
    return {
      companyId: this.$route.params.id,
      address: null
    }
  },
  methods: {
    updateAddressParams (addressData) {
      this.address = addressData
    },
    submitNewAddress () {
      if (this.errors.items.length > 0) {
        this.showWarnMsg()
      } else {
        axios.post(`/ajax/company/${this.companyId}/addresses/add`, this.address)
          .then(response => {
            console.log(response)
            if (response.data.responseEnum === 'SUCCESS') {
              this.showSuccessMsg()
              this.address = {}
              this.$router.push(`/clients/${this.companyId}`)
            } else {
              this.showErrorMsg()
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Popraw formularz',
      message: 'W formularzu znajdują się niepoprawnie wypełnione pola'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Błąd',
      message: 'Pojawił się nieoczekiwany bład. Spróbuj ponownie'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Sukces!',
      message: 'Dodano nowy adres'
    }
  }
}
</script>
