<template>
  <div class="animated fadeIn">
    <b-form-group
      label="Nazwa"
      description="Nazwa dla adresu siedziby"
      label-for="addressName"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressName`" required v-validate="'required|min:3'" :class="{'is-invalid': errors.has(`addressName`)}"
        :name="`addressName`" type="text" v-model="address.name" data-vv-as="nazwa" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressName`)">
        {{ errors.first(`addressName`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Państwo siedziby"
      label="Państwo"
      label-for="addressCountry"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressCountry`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressCountry`)}"
        :name="`addressCountry`" type="text" v-model="address.country" data-vv-as="państwo" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressCountry`)">
        {{ errors.first(`addressCountry`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Miasto siedziby"
      label="Miasto"
      label-for="addressCity"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressCity`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressCity`)}"
        :name="`addressCity`" type="text" v-model="address.city" data-vv-as="miasto" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressCity`)">
        {{ errors.first(`addressCity`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Kod pocztowy siedziby"
      label="Kod pocztowy"
      label-for="addressPostal"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressPostal`" required v-validate="'required: true'"
      :class="{'is-invalid': errors.has(`addressPostal`)}" :name="`addressPostal`" type="text" v-model="address.postal"
        data-vv-as="kod pocztowy" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressPostal`)">
        {{ errors.first(`addressPostal`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Adres siedziby"
      label="Ulica i numer lokalu"
      :label-for="`addressStreet`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressStreet`" required v-validate="'required|min:1'" :class="{'is-invalid': errors.has(`addressStreet`)}"
      :name="`addressStreet`" type="text" v-model="address.street" data-vv-as="ulica" autocomplete="address"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressStreet`)">
        {{ errors.first(`addressStreet`) }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      description="Numer telefonu"
      label="Numer telefonu"
      :label-for="`addressPhone`"
      :label-cols="3"
      :horizontal="true">
      <b-form-input :id="`addressPhone`" v-validate="'required|min:9'" :class="{'is-invalid': errors.has(`addressPhone`)}"
      data-vv-as="telefon" required :name="`addressPhone`" type="text" v-model="address.phone"></b-form-input>
      <b-form-invalid-feedback v-if="errors.has(`addressPhone`)">
        {{ errors.first(`addressPhone`) }}
      </b-form-invalid-feedback>
    </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'ClientAddress',
  // make validator work in nested components
  inject: ['$validator'],
  data () {
    return {
      address: {
        street: null,
        postal: null,
        city: null,
        phone: null,
        country: null
      }
    }
  },
  watch: {
    address: {
      handler: function () {
        this.$emit('addresParamUpdate', this.address)
      },
      deep: true
    }
  }
}
</script>
