<template>
  <div class="animated fadeIn">
    <!-- System profili  input-->
    <b-form-group
    label="System profili"
    label-for="systemProfili"
    :label-cols="3"
    :horizontal="true">
      <b-form-input id="profileSystem" v-model="cutter.profileSystem" type="text" placeholder="Wpisz..."></b-form-input>
    </b-form-group>
    <!-- numery profili  -->

    <div class="form-group">
          <b-row class="pb-2">
          <span class="text-center col-12 pb-2">Numery profili</span>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[0]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[1]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[2]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[3]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[4]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[5]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[6]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[7]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[8]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[9]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[10]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[11]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

    <!-- Frezarka:
          - producent
          - typ
          - rok produkcji
          - numer seryjny
        -->
      <div class="form-group">
          <b-row>
            <b-col sm="3">
              <label for="producent">Producent</label>
              <b-form-input type="text" v-model="cutter.producent" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="type">Typ</label>
              <b-form-input type="text" v-model="cutter.type" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="productionYear">Rok produkcji</label>
              <b-form-input type="text" v-model="cutter.productionYear" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="serialNumber">Numer seryjny</label>
              <b-form-input type="text" v-model="cutter.serialNumber" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

       <!-- Ulozenie slupka na blacie frezarki (2x radio + 2x img) -->
      <div class="row">
        <div class="col-6">
          <b-form-radio-group
            id="stakePlacement"
            class="text-center mt-3 mb-3"
            name="stakePlacement"
            >
              <label class="text-center col-12" for="stakePlacement"><strong>Ułożenie słupka na blacie frezarki</strong></label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stakePlacement1" v-model="cutter.stakePlacement" value="1" name="stakePlacement" class="custom-control-input" checked>
                <label class="custom-control-label" for="stakePlacement1">
                  <img src="static/img/offers/newProducts/frezarka_do_slupkow/slupek1.png" alt="Ulozenie slupka 1">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stakePlacement2" v-model="cutter.stakePlacement" value="2" name="stakePlacement" class="custom-control-input">
                <label class="custom-control-label" for="stakePlacement2">
                  <img src="static/img/offers/newProducts/frezarka_do_slupkow/slupek2.png" alt="Ulozenie slupka 2">
                </label>
              </div>
            </b-form-radio-group>
          </div>
        <!-- Kierunek obrotów (2x radio + 2x img) -->
        <div class="col-6">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="rotationDirection"
            name="rotationDirection">
            <label class="text-center col-12" for="rotationDirection"><strong>Kierunek obrotów (patrząc z góry)</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="rotationDirection1" v-model="cutter.rotationDirection" value="1" name="rotationDirection" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="rotationDirection1">
                <img src="static/img/offers/newProducts/frezarka_do_slupkow/kier_obrotu1.png" title="Przeciwnie do ruchu wskazówek zegara" alt="Przeciwnie do ruchu wskazówek zegara">
                <small>Lewe</small>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="rotationDirection2" v-model="cutter.rotationDirection" value="2" name="rotationDirection" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="rotationDirection2">
                <img src="static/img/offers/newProducts/frezarka_do_slupkow/kier_obrotu2.png" alt="Zgodnie z ruchami wskazówek zegara" title="Zgodnie z ruchami wskazówek zegara">
                <small>Prawe</small>
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>

     <!-- Parametry frezów
          /- srednica otworu ϕ [mm],
          /- srednica bazowa ϕ [mm],
          /- srednica najwiekszego freza ϕ [mm],
          - max. mozliwa srednica narzedzia [mm]
          - srednica wew. [mm]
          - srednica zew. [mm]
          - dlugosc [mm],
          - tuleja szybkozmienna [tak / nie]
          - tuleja redukcyjna [tak / nie]

          + img
        -->
        <!-- validate template
              <field>
                  :class="{ 'is-invalid': errors.has('FIELD_NAME') }"
                  name="FIELD_NAME"
                  v-validate="'required'"
                  data-vv-as="SHOW AS"
              <eofield
              <b-form-invalid-feedback v-if="errors.has('FIELD_NAME')">{{ errors.first('FIELD_NAME') }}</b-form-invalid-feedback>
         -->
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">Średnica otworu ϕ [mm]</label>
            <b-form-input
              v-model="cutter.holeDiameter"
              type="number"
              :class="{ 'is-invalid': errors.has('holeDiameter') }"
              name="holeDiameter"
              v-validate="'required'"
              data-vv-as="średnicy otworu"
              placeholder="ϕw"></b-form-input>
          <b-form-invalid-feedback v-if="errors.has('holeDiameter')">{{ errors.first('holeDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">Średnica bazowa ϕ [mm]</label>
            <b-form-input
              :class="{ 'is-invalid': errors.has('baseDiameter') }"
              name="baseDiameter"
              v-validate="'required'"
              data-vv-as="średnicy bazowej"
              v-model="cutter.baseDiameter"
              type="number"
              placeholder="ϕb"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('baseDiameter')">{{ errors.first('baseDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxCutterDiameter">Średnica największego freza ϕ [mm]</label>
            <b-form-input
              v-model="cutter.maxCutterDiameter"
              type="number"
              name="maxCutterDiameter"
              :class="{ 'is-invalid': errors.has('maxCutterDiameter') }"
              v-validate="'required'"
              data-vv-as="średnicy największego freza"
              placeholder="ϕmax"></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('maxCutterDiameter')">{{ errors.first('maxCutterDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row  class="d-flex align-items-baseline">
        <b-col sm="3">
          <b-form-group >
            <label for="maxToolDiameter">Max. możliwa średnica narzędzia [mm]</label>
            <b-form-input
              v-model="cutter.maxToolDiameter"
              name="maxToolDiameter"
              :class="{ 'is-invalid': errors.has('maxToolDiameter') }"
              v-validate="'required'"
              data-vv-as="średnicy największego freza"
              type="number"
              placeholder="..."></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('maxToolDiameter')">{{ errors.first('maxToolDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="innerDiameter">Średnica wew. [mm]</label>
            <b-form-input
              v-model="cutter.innerDiameter"
              name="innerDiameter"
              :class="{ 'is-invalid': errors.has('innerDiameter') }"
              v-validate="'required'"
              data-vv-as="średnicy największego freza"
              type="number"
              placeholder="..."></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('innerDiameter')">{{ errors.first('innerDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="outerDiameter">Średnica zew. [mm]</label>
            <b-form-input
              v-model="cutter.outerDiameter"
              name="outerDiameter"
              :class="{ 'is-invalid': errors.has('outerDiameter') }"
              v-validate="'required'"
              data-vv-as="średnicy największego freza"
              type="number"
              placeholder="..."></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('outerDiameter')">{{ errors.first('outerDiameter') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="cutterLength">Długość [mm]</label>
            <b-form-input
              name="cutterLength"
              :class="{ 'is-invalid': errors.has('cutterLength') }"
              v-validate="'required'"
              data-vv-as="średnicy największego freza"
              v-model="cutter.cutterLength"
              type="number"
              placeholder="..."></b-form-input>
            <b-form-invalid-feedback v-if="errors.has('cutterLength')">{{ errors.first('cutterLength') }}</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>

      <div class="row">
        <div class="col-6">
          <b-form-radio-group
            id="quickchangeBushing"
            class="text-center mt-3 mb-3"
            name="quickchangeBushing">
              <label class="text-center col-12" for="quickchangeBushing">Tuleja szybkozmienna</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cutter.quickchangeBushing" id="quickchangeBushing1" value="1" name="quickchangeBushing" class="custom-control-input" checked>
                <label class="custom-control-label" for="quickchangeBushing1">
                  Tak
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cutter.quickchangeBushing" id="quickchangeBushing2" value="2" name="quickchangeBushing" class="custom-control-input">
                <label class="custom-control-label" for="quickchangeBushing2">
                  Nie
                </label>
              </div>
            </b-form-radio-group>
          </div>
        <!-- Kierunek obrotów (2x radio + 2x img) -->
        <div class="col-6">
          <b-form-radio-group
            id="reductionSleeve"
            class="text-center mt-3 mb-3"
            name="reductionSleeve">
              <label class="text-center col-12" for="reductionSleeve">Tuleja redukcyjna</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cutter.reductionSleeve" id="reductionSleeve1" value="1" name="reductionSleeve" class="custom-control-input" checked>
                <label class="custom-control-label" for="reductionSleeve1">
                  Tak
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cutter.reductionSleeve" id="reductionSleeve2" value="2" name="reductionSleeve" class="custom-control-input">
                <label class="custom-control-label" for="reductionSleeve2">
                  Nie
                </label>
              </div>
            </b-form-radio-group>
        </div>
      </div>
      <b-row>
        <b-col sm="12" class="text-center">
          <img src="static/img/offers/newProducts/frezarka_do_slupkow/parametry_frezow.png" alt="">
        </b-col>
      </b-row>
      <!-- Dodatkowe informacje -->
      <b-form-group
        class="mt-3"
        label="Dodatkowe informacje"
        label-for="additionalInfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="additionalInfo" v-model="cutter.additionalInfo" type="text" placeholder="Inne..."></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'FrezarkaDoSlupkow',
  props: ['cutter'],
  inject: ['$validator']
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
