<template>
  <div class="animated fadeIn">
    <!-- ksztalt czesci tnacej [radio] -->
        <!-- [] walcowy -->
        <!-- [] stozkowy -->
    <div class="row text-center">
      <div class="col-12">
        <strong>Kształt części tnącej</strong>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <b-form-radio-group
          class="text-center mb-3"
          id="cuttingShape"
          name="cuttingShape">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cuttingShape1" v-model="cuttingShape" value="1" name="cuttingShape" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cuttingShape1">
              <span>walcowy</span>
              <img src="static/img/offers/newProducts/frez_monolityczny/ksztalt_czesci_tnacej_walc.png" alt="ksztalt walcowy">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline mt-3">
            <input type="radio" id="cuttingShape2" v-model="cuttingShape" value="2" name="cuttingShape" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cuttingShape2">
              <span>stożkowy</span>
              <img src="static/img/offers/newProducts/frez_monolityczny/ksztalt_czesci_tnacej_stozk.png" alt="ksztalt stozkowy">
            </label>
          </div>
        </b-form-radio-group>
       </div>
       <div class="col-6">
        <b-form-group
          label="d = "
          label-for="cuttingShapeDimensions"
          :label-cols="2"
          :horizontal="true">
          <b-form-input name="cuttingShapeDimensions" type="text" v-model="cutter.cuttingShapeDimensions[0]" placeholder="..."></b-form-input>
        </b-form-group>
        <b-form-group
          label="ds = "
          label-for="cuttingShapeDimensions"
          :label-cols="2"
          :horizontal="true">
          <b-form-input name="cuttingShapeDimensions" type="text" v-model="cutter.cuttingShapeDimensions[1]" placeholder="..."></b-form-input>
        </b-form-group>
        <b-form-group
          label="l = "
          label-for="cuttingShapeDimensions"
          :label-cols="2"
          :horizontal="true">
          <b-form-input name="cuttingShapeDimensions" type="text" v-model="cutter.cuttingShapeDimensions[2]" placeholder="..."></b-form-input>
        </b-form-group>
        <!-- FIXME: conditionaly rendering -->
        <!-- <b-form-group v-if="cutter.cuttingShape == '2'" -->
        <b-form-group v-if="cuttingShape == '2'"
          label="α = "
          label-for="cuttingShapeDimensions"
          :label-cols="2"
          :horizontal="true">
          <b-form-input name="cuttingShapeDimensions" type="text" v-model="cutter.cuttingShapeDimensions[3]" placeholder="..."></b-form-input>
        </b-form-group>
       </div>
    </div>
    <!-- rodzaj chwytu 3x radio + 1 input do kazdego (jesli aktywny) -->
    <div class="row d-flex align-items-center">
      <div class="col-12 text-center">
        <strong class="mt-3">Rodzaj uchwytu</strong>
      </div>
      <div class="col-5 mb-3">
        <b-form-radio-group
          class="text-center d-flex flex-column float-right"
          id="grippingPart"
          name="grippingPart">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="grippingPart1" v-model="grippingPart" value="1" name="grippingPart" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="grippingPart1">
              walcowy gładki
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="grippingPart2" v-model="grippingPart" value="2" name="grippingPart" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="grippingPart2">
              walcowy z płaską
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="grippingPart3" v-model="grippingPart" value="3" name="grippingPart" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="grippingPart3">
              stożkowy Morse'a
            </label>
          </div>
        </b-form-radio-group>
      </div>
        <div class="col-6">
          <b-form inline>
          <label class="col-2" for="grippingPartValue" v-if="grippingPart == '3'">nr</label>
          <label class="col-2" for="grippingPartValue" v-else>ϕ</label>
          <b-input  name="grippingPartValue" type="number" v-model="cutter.grippingPartValue" placeholder="..."></b-input>
          </b-form>
        </div>
    </div>

    <!-- rodzaj obrabianego materialu [input] -->
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <b-form-group
          label="Rodzaj obrabianego materiału"
          label-for="forMaterial"
          class="text-center">
          <b-form-input name="forMaterial" type="text" v-model="cutter.forMaterial" placeholder="..."></b-form-input>
        </b-form-group>
      </div>
      <div class="col-6">
        <p>Przeznaczony do obróbki</p>
        <b-form-radio-group
          class="text-center d-flex flex-column"
          id="processingType"
          name="processingType">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="processingType1" v-model="cutter.processingType" value="1" name="processingType" class="custom-control-input" checked>
            <label class="custom-control-label d-flex justify-content-center mb-1" for="processingType1">
              <span>wykańczającej (1)</span>
              <img src="static/img/offers/newProducts/frez_monolityczny/obrobka_wykancz_1.png" alt="ksztalt stozkowy" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="processingType2" v-model="cutter.processingType" value="2" name="processingType" class="custom-control-input">
            <label class="custom-control-label d-flex justify-content-center mb-1" for="processingType2">
              <span>wykańczającej (2)</span>
              <img src="static/img/offers/newProducts/frez_monolityczny/obrobka_wykancz_2.png" alt="ksztalt stozkowy" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="processingType3" v-model="cutter.processingType" value="3" name="processingType" class="custom-control-input">
            <label class="custom-control-label d-flex justify-content-center mb-1" for="processingType3">
              <span>zgrubnej</span>
              <img src="static/img/offers/newProducts/frez_monolityczny/obrobka_zgrubna.png" alt="ksztalt stozkowy" class="ml-3">
            </label>
          </div>
        </b-form-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-center">
      <!-- kierunek skrawania 2x radio + 2x img -->
        <p>Kierunek skrawania</p>
        <b-form-radio-group
          class="text-center"
          id="rotationDirection"
          name="rotationDirection">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="rotationDirection1" v-model="cutter.rotationDirection" value="1" name="rotationDirection" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="rotationDirection1">
              <img src="static/img/offers/newProducts/frez_monolityczny/kierunek_lewy.png" alt="kierunek_lewy" class="ml-3">
              <span>lewy</span>
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="rotationDirection2" v-model="cutter.rotationDirection" value="2" name="rotationDirection" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="rotationDirection2">
              <img src="static/img/offers/newProducts/frez_monolityczny/kierunek_prawy.png" alt="kierunek_prawy" class="ml-3">
              <span>prawy</span>
            </label>
          </div>
        </b-form-radio-group>
      </div>

      <!-- kat pochylenia linii srubowej 3x radio + 1 input -> lambda = []-->
      <div class="col-6">
        <p>Kąt pochylenia linii śrubowej</p>
        <b-form-radio-group
          class="text-center d-flex flex-column"
          id="slopeAngle"
          name="slopeAngle">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="slopeAngle1" v-model="cutter.slopeAngle" value="1" name="slopeAngle" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="slopeAngle1">
              <img src="static/img/offers/newProducts/frez_monolityczny/linia_srubowa_prosta.png" alt="prosta" class="ml-3">
              <span>prosta</span>
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="slopeAngle2" v-model="cutter.slopeAngle" value="2" name="slopeAngle" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="slopeAngle2">
              <img src="static/img/offers/newProducts/frez_monolityczny/linia_srubowa_lewa.png" alt="lewa" class="ml-3">
              <span>lewa</span>
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="slopeAngle3" v-model="cutter.slopeAngle" value="3" name="slopeAngle" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="slopeAngle3">
              <img src="static/img/offers/newProducts/frez_monolityczny/linia_srubowa_prawa.png" alt="prawa" class="ml-3">
              <span>prawa</span>
            </label>
          </div>
        </b-form-radio-group>
        <b-form-group
          label="λ = "
          label-for="slopeLambda"
          class="mt-3"
          :label-cols="2"
          :horizontal="true">
          <b-form-input name="slopeLambda" type="text" v-model="cutter.slopeLambda" placeholder="..."></b-form-input>
        </b-form-group>
      </div>
    </div>

    <!-- ostrza czole 4 linijki, radio inputy z obrazkami + 1 number input -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <strong>Ostrza na czole</strong>
      </div>
      <div class="col-3">
        <p>z pogłębieniem</p>
        <b-form-radio-group
          class="text-center d-flex flex-column align-items-center"
          id="bladesOnTop"
          name="bladesOnTop">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop1" v-model="cutter.bladesOnTop" value="1" name="bladesOnTop" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop1">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_poglebienie_1.png" alt="prosta" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop2" v-model="cutter.bladesOnTop" value="2" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop2">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_poglebienie_2.png" alt="lewa" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop3" v-model="cutter.bladesOnTop" value="3" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop3">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_poglebienie_3.png" alt="prawa" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop4" v-model="cutter.bladesOnTop" value="4" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop4">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_poglebienie_4.png" alt="prawa" class="ml-3">
            </label>
          </div>
        </b-form-radio-group>
      </div>
      <div class="col-3">
        <p>centralnie symetryczne</p>
        <b-form-radio-group
          class="text-center d-flex flex-column align-items-center"
          id="bladesOnTop"
          name="bladesOnTop">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop5" v-model="cutter.bladesOnTop" value="5" name="bladesOnTop" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop5">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_symetryczne_1.png" alt="prosta" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop6" v-model="cutter.bladesOnTop" value="6" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop6">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_symetryczne_2.png" alt="lewa" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop7" v-model="cutter.bladesOnTop" value="7" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop7">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_symetryczne_3.png" alt="prawa" class="ml-3">
            </label>
          </div>
        </b-form-radio-group>
      </div>
      <div class="col-3">
        <p>centralnie asymetryczne</p>
        <b-form-radio-group
          class="text-center d-flex flex-column align-items-center"
          id="bladesOnTop"
          name="bladesOnTop">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop8" v-model="cutter.bladesOnTop" value="8" name="bladesOnTop" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop8">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_asymetryczne_1.png" alt="prosta" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop9" v-model="cutter.bladesOnTop" value="9" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop9">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_asymetryczne_2.png" alt="lewa" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop10" v-model="cutter.bladesOnTop" value="10" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop10">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_asymetryczne_3.png" alt="prawa" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop11" v-model="cutter.bladesOnTop" value="11" name="bladesOnTop" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop11">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_asymetryczne_4.png" alt="prosta" class="ml-3">
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop12" v-model="cutter.bladesOnTop" value="12" name="bladesOnTop" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop12">
              <img src="static/img/offers/newProducts/frez_monolityczny/ostrze_cen_asymetryczne_5.png" alt="lewa" class="ml-3">
            </label>
          </div>
        </b-form-radio-group>
      </div>
      <div class="col-3">
        <b-form-radio-group
          class="text-center d-flex flex-column align-items-center"
          id="bladesOnTop"
          name="bladesOnTop">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesOnTop13" v-model="cutter.bladesOnTop" value="13" name="bladesOnTop" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesOnTop13">
              bez ostrza na czole
            </label>
          </div>
        </b-form-radio-group>
      </div>
    </div>
    <!-- material na czesci skrawajacej 3x radio (w tym jeden input) -->

    <div class="row mt-4">
      <div class="col-6 text-center">
        <strong>Materiał na części skrawającej</strong>
        <b-form-radio-group
          class="text-center"
          id="cuttingElementMaterial"
          name="cuttingElementMaterial">
          <div class="custom-control custom-radio custom-control-inline m-3">
            <input type="radio" id="cuttingElementMaterial1" v-model="cuttingElementMaterial" value="1" name="cuttingElementMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cuttingElementMaterial1">
              HSS
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline m-3">
            <input type="radio" id="cuttingElementMaterial2" v-model="cuttingElementMaterial" value="2" name="cuttingElementMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cuttingElementMaterial2">
              HSS-E
            </label>
          </div>
          <br />
          <div class="custom-control custom-radio custom-control-inline m-3">
            <input type="radio" id="cuttingElementMaterial3" v-model="cuttingElementMaterial" value="3" name="cuttingElementMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cuttingElementMaterial3">
              Inny
            </label>
        <b-form inline class="col-2">
          <b-input :disabled="isCuttingElementMaterialDisabled" name="cuttingElementMaterial" type="text" v-model="cuttingElementMaterialOther" placeholder="..."></b-input>
        </b-form>
          </div>
        </b-form-radio-group>
      </div>
      <div class="col-6">
        <!-- rodzaj pokrycia 5x radio (w tym jeden input) -->
        <strong>Rodzaj pokrycia </strong>
        <b-form-radio-group
          class=""
          id="coverMaterial"
          name="coverMaterial">
          <div class="custom-control custom-radio custom-control-inline m-3 col-4">
            <input type="radio" id="coverMaterial1" v-model="coverMaterial" value="1" name="coverMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="coverMaterial1">
              TiN
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline m-3 col-4">
            <input type="radio" id="coverMaterial2" v-model="coverMaterial" value="2" name="coverMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="coverMaterial2">
              TiCN
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline m-3 col-4">
            <input type="radio" id="coverMaterial3" v-model="coverMaterial" value="3" name="coverMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="coverMaterial3">
              TiAIN
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline m-3 col-4">
            <input type="radio" id="coverMaterial4" v-model="coverMaterial" value="4" name="coverMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="coverMaterial4">
              Bez pokrycia
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline m-3 col-4">
            <input type="radio" id="coverMaterial5" v-model="coverMaterial" value="5" name="coverMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="coverMaterial5">
              Inne
            </label>
        <b-form class="col-2" inline>
          <b-input :disabled="isCoverMaterialDisabled" name="coverMaterial" type="text" v-model="coverMaterialOther" placeholder="..."></b-input>
        </b-form>
          </div>
        </b-form-radio-group>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FrezMonolityczny',
  props: ['cutter'],
  data () {
    return {
      cuttingShape: '1',
      grippingPart: '1',
      cuttingElementMaterial: '1',
      cuttingElementMaterialOther: null,
      isCuttingElementMaterialDisabled: true,
      coverMaterial: '1',
      coverMaterialOther: null,
      isCoverMaterialDisabled: true
    }
  },
  watch: {
    cuttingShape: function (val) {
      this.cutter.cuttingShape = val
    },
    grippingPart: function (val) {
      this.cutter.grippingPart = val
    },
    cuttingElementMaterial: function (val) {
      this.cutter.cuttingElementMaterial = val
      if (val === '3') {
        this.isCuttingElementMaterialDisabled = false
      } else {
        this.cuttingElementMaterialOther = ''
        this.isCuttingElementMaterialDisabled = true
      }
    },
    cuttingElementMaterialOther: function (val) {
      this.cutter.cuttingElementMaterialOther = val
    },
    coverMaterial: function (val) {
      this.cutter.coverMaterial = val
      if (val === '5') {
        this.isCoverMaterialDisabled = false
      } else {
        this.coverMaterialOther = ''
        this.isCoverMaterialDisabled = true
      }
    },
    coverMaterialOther: function (val) {
      this.cutter.coverMaterialOther = val
    }
  }
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
