<template>
  <div class="animated fadeIn">
    <!-- Średnica zewnętrzna 3x radio (min, bazowa, max) + 1 input (D = []mm) -->

    <div class="row">
        <div class="col-12">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="outerHole"
            name="outerHole">
            <label class="text-center col-12" for="outerHole"><strong>Średnica zewnętrzna</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="outerHole1" v-model="cutter.outerHole" value="1" name="outerHole" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="outerHole1">
                Min
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="outerHole2" v-model="cutter.outerHole" value="2" name="outerHole" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="outerHole2">
                Bazowa
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="outerHole3" v-model="cutter.outerHole" value="3" name="outerHole" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="outerHole3">
                Max
              </label>
            </div>
          <b-form-group
            class="custom-control-inline"
            label="D ="
            label-for="outerHoleMM"
            :label-cols="3"
            :horizontal="true">
            <b-form-input name="outerHoleMM" type="text" v-model="cutter.outerHoleMM" placeholder="mm"></b-form-input>
          </b-form-group>
          </b-form-radio-group>
        </div>
      </div>

    <!-- Rodzaj obrabianego materiału INPUT -->

    <b-form-group
      label="Rodzaj obrabianego materiału"
      label-for="materialType"
      :label-cols="4"
      :horizontal="true">
      <b-form-input name="materialType" type="text" v-model="cutter.materialType" placeholder="..."></b-form-input>
    </b-form-group>

    <!-- Typ obrabiarki 4x radio -->

    <div class="row">
      <div class="col-12">
        <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="cutterType"
          name="cutterType">
          <label class="text-center col-12" for="cutterType"><strong>Typ obrabiarki (frezarki)</strong></label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterType1" v-model="cutter.cutterType" value="1" name="cutterType" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cutterType1">
              dolnowrzecionowa
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterType2" v-model="cutter.cutterType" value="2" name="cutterType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cutterType2">
              trzystronna
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterType3" v-model="cutter.cutterType" value="3" name="cutterType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cutterType3">
              czterostronna
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterType4" v-model="cutter.cutterType" value="4" name="cutterType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cutterType4">
              górnowrzecionowa
            </label>
          </div>
        </b-form-radio-group>
      </div>
    </div>

    <!-- Część chwytowa
      - otwór [input],
      - walcowa [input],
      - stożkowa [input, z checkboxem?],
      - ...z gwintem:
          - radio x2 [prawy, lewy],
          - radio x2 [wewn., zewn.]
     -->

     <div class="row d-flex align-items-baseline">
       <div class="col-6">
        <label class="text-center col-12"><strong>Część chwytowa</strong></label>
         <b-form-group
            label="otwór"
            label-for="hole"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="hole" type="text" v-model="cutter.grippingHole"></b-form-input>
          </b-form-group>
          <b-form-group
            label="walcowa"
            label-for="roll"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="roll" type="text" v-model="cutter.grippingRoller"></b-form-input>
          </b-form-group>
          <div class="col-12 text-center">
            <b-form-checkbox-group id="cone">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input v-model="cutter.grippingCone" type="checkbox" class="custom-control-input" id="cone1" value="stożkowa">
                <label class="custom-control-label" for="cone1">stożkowa</label>
              </div>
            </b-form-checkbox-group>
          </div>
        </div>
       <div class="col-6">
          <label class="text-center col-12" for="screwType"><strong>Z gwintem</strong></label>
        <div class="col-12">
          <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="screwType"
          name="screwType">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="screwType1" v-model="cutter.screwType" value="1" name="screwType" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="screwType1">
              prawy
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="screwType2" v-model="cutter.screwType" value="2" name="screwType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="screwType2">
              lewy
            </label>
          </div>
        </b-form-radio-group>
       </div>
       <div class="col-12">
          <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="screwSubType"
          name="screwSubType">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="screwSubType1" v-model="cutter.screwSubType" value="1" name="screwSubType" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="screwSubType1">
              wewn.
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="screwSubType2" v-model="cutter.screwSubType" value="2" name="screwSubType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="screwSubType2">
              zewn.
            </label>
          </div>
        </b-form-radio-group>
       </div>
     </div>
     </div>

     <!-- Materiał ostrza 3x radio i rodzaj posuwu-->

    <div class="row">
      <div class="col-6">
        <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="cutterMaterial"
          name="cutterMaterial">
          <label class="text-center col-12" for="cutterMaterial"><strong>Materiał ostrza</strong></label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterMaterial1" v-model="cutter.cutterMaterial" value="1" name="cutterMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="cutterMaterial1">
              HSS
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterMaterial2" v-model="cutter.cutterMaterial" value="2" name="cutterMaterial" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cutterMaterial2">
              HM
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="cutterMaterial3" v-model="cutter.cutterMaterial" value="3" name="cutterMaterial" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="cutterMaterial3">
              DP
            </label>
          </div>
        </b-form-radio-group>
      </div>

     <!-- Rodzaj posuwu na obrabiarce (frezarce)  2x radio-->

      <div class="col-6">
        <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="movementType"
          name="movementType">
          <label class="text-center col-12" for="movementType"><strong>Rodzaj posuwu na obrabiarce (frezarce)</strong></label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="movementType1" v-model="cutter.movementType" value="1" name="movementType" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="movementType1">
              ręczny
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="movementType2" v-model="cutter.movementType" value="2" name="movementType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="movementType2">
              maszynowy
            </label>
          </div>
        </b-form-radio-group>
      </div>
    </div>

     <!-- Rodzaj ostrzy 3x radio -->

     <div class="row d-flex align-items-baseline">
      <div class="col-8">
        <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="bladesType"
          name="bladesType">
          <label class="text-center col-12" for="bladesType"><strong>Rodzaj ostrzy</strong></label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesType1" v-model="cutter.bladesType" value="1" name="bladesType" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bladesType1">
              lutowane
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesType2" v-model="cutter.bladesType" value="2" name="bladesType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesType2">
              wymienne
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bladesType3" v-model="cutter.bladesType" value="3" name="bladesType" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bladesType3">
              narzędzia jednolite
            </label>
          </div>
        </b-form-radio-group>
      </div>

     <!-- Ilość ostrzy input -->

      <div class="col-4">
        <strong>
        <b-form-group
          label="Ilość ostrzy"
          label-for="bladesCount"
          :label-cols="5"
          :horizontal="true">
          <b-form-input name="bladesCount" type="text" v-model="cutter.bladesCount" placeholder="Z = ..."></b-form-input>
        </b-form-group>
      </strong>
      </div>
    </div>

     <!-- Materiał korpusu 2x radio -->

     <div class="row">
      <div class="col-6">
        <b-form-radio-group
          class="text-center mt-3 mb-3"
          id="bodyMaterial"
          name="bodyMaterial">
          <label class="text-center col-12" for="bodyMaterial"><strong>Materiał korpusu</strong></label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bodyMaterial1" v-model="cutter.bodyMaterial" value="1" name="bodyMaterial" class="custom-control-input" checked>
            <label class="custom-control-label image-label-with-caption" for="bodyMaterial1">
              stal
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="bodyMaterial2" v-model="cutter.bodyMaterial" value="2" name="bodyMaterial" class="custom-control-input">
            <label class="custom-control-label image-label-with-caption" for="bodyMaterial2">
              aluminium
            </label>
          </div>
        </b-form-radio-group>
      </div>

     <!-- Sposób pracy narzędzia 5x radio -->

      <div class="col-6">
        <b-form-radio-group
          id="toolWorkingMechanism"
          class=" mt-3 mb-3"
          name="toolWorkingMechanism"
          >
          <label class="" for="toolWorkingMechanism"><strong>Rodzaj zgrzewarki</strong></label>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" id="toolWorkingMechanism1" v-model="cutter.toolWorkingMechanism" value="1" name="toolWorkingMechanism" class="custom-control-input" checked>
            <label class="custom-control-label" for="toolWorkingMechanism1">
              frez do frezowania bocznego
            </label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" id="toolWorkingMechanism2" v-model="cutter.toolWorkingMechanism" value="2" name="toolWorkingMechanism" class="custom-control-input">
            <label class="custom-control-label" for="toolWorkingMechanism2">
              frez do wiercenia
            </label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" id="toolWorkingMechanism3" v-model="cutter.toolWorkingMechanism" value="3" name="toolWorkingMechanism" class="custom-control-input">
            <label class="custom-control-label" for="toolWorkingMechanism3">
              frez do frezowania czołowo-bocznego
            </label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" id="toolWorkingMechanism4" v-model="cutter.toolWorkingMechanism" value="4" name="toolWorkingMechanism" class="custom-control-input">
            <label class="custom-control-label" for="toolWorkingMechanism4">
              frez do wiercenia i frezowania
            </label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" id="toolWorkingMechanism5" v-model="cutter.toolWorkingMechanism" value="5" name="toolWorkingMechanism" class="custom-control-input">
            <label class="custom-control-label" for="toolWorkingMechanism5">
              frez do frezowania podczas toczenia
            </label>
          </div>
        </b-form-radio-group>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  name: 'FrezLutowany',
  props: ['cutter']
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
