<template>
  <div class="animated fadeIn">
    <!-- System profili  input-->
    <b-form-group
    label="System profili"
    label-for="systemProfili"
    :label-cols="3"
    :horizontal="true">
      <b-form-input id="profileSystem" v-model="cleaner.profileSystem" type="text" placeholder="Wpisz..."></b-form-input>
    </b-form-group>
    <!-- numery profili  -->

    <div class="form-group">
          <b-row class="pb-2">
          <span class="text-center col-12 pb-2">Numery profili</span>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[0]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[1]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[2]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[3]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[4]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[5]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[6]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[7]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[8]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[9]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[10]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cleaner.profileNumbers[11]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

      <b-form-group
        class="pt-3 text-center col-12"
        :label-cols="1"
        :horizontal="true">
        <div class="pt-2 custom-control custom-radio custom-control-inline">
          <input type="radio" v-model="cleaner.profileTypes" id="profileTypes1" name="profileTypes1" class="custom-control-input" value="1">
          <label class="custom-control-label" for="profileTypes1">Profile z uszczelką zgrzewalną</label>
        </div>
        <div class="pt-2 custom-control custom-radio custom-control-inline">
          <input type="radio" v-model="cleaner.profileTypes" id="profileTypes2" name="profileTypes1" class="custom-control-input" value="2" checked>
          <label class="custom-control-label" for="profileTypes2">Profile bez uszczelki zgrzewalnej</label>
        </div>
      </b-form-group>

    <!-- Oczyszczarka:
          - producent
          - typ
          - rok produkcji
          - numer seryjny
        -->
      <div class="form-group">
          <b-row>
            <b-col sm="3">
              <label for="producent">Producent</label>
              <b-form-input type="text" v-model="cleaner.producent" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="type">Typ</label>
              <b-form-input type="text" v-model="cleaner.type" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="productionYear">Rok produkcji</label>
              <b-form-input type="text" v-model="cleaner.productionYear" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="serialNumber">Numer seryjny</label>
              <b-form-input type="text" v-model="cleaner.serialNumber" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

       <!-- Ulozenie ramy na blacie oczyszczarki (2x radio + 2x img) -->
      <div class="row">
        <div class="col-6">
          <b-form-radio-group
            id="stakePlacement"
            class="text-center mt-3 mb-3"
            name="stakePlacement"
            >
              <label class="text-center col-12" for="stakePlacement"><strong>Ułożenie ramy na blacie oczyszczarki</strong></label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stakePlacement1" v-model="cleaner.stakePlacement" value="1" name="stakePlacement" class="custom-control-input" checked>
                <label class="custom-control-label" for="stakePlacement1">
                  <img src="static/img/offers/newProducts/oczyszczarka_narozy/ulozenie_ramy_1.png" alt="Ulozenie ramy 1">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stakePlacement2" v-model="cleaner.stakePlacement" value="2" name="stakePlacement" class="custom-control-input">
                <label class="custom-control-label" for="stakePlacement2">
                  <img src="static/img/offers/newProducts/oczyszczarka_narozy/ulozenie_ramy_2.png" alt="Ulozenie ramy 2">
                </label>
              </div>
            </b-form-radio-group>
          </div>
          <div class="col-6">
          <b-form-radio-group
            id="wingPlacement"
            class="text-center mt-3 mb-3"
            name="wingPlacement"
            >
              <label class="text-center col-12" for="wingPlacement"><strong>Ułożenie skrzydła na blacie oczyszczarki</strong></label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="wingPlacement1" v-model="cleaner.wingPlacement" value="1" name="wingPlacement" class="custom-control-input" checked>
                <label class="custom-control-label" for="wingPlacement1">
                  <img src="static/img/offers/newProducts/oczyszczarka_narozy/ulozenie_skrzydla_1.png" alt="Ulozenie skrzydła 1">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="wingPlacement2" v-model="cleaner.wingPlacement" value="2" name="wingPlacement" class="custom-control-input">
                <label class="custom-control-label" for="wingPlacement2">
                  <img src="static/img/offers/newProducts/oczyszczarka_narozy/ulozenie_skrzydla_2.png" alt="Ulozenie skrzydła 2">
                </label>
              </div>
            </b-form-radio-group>
          </div>
        <!-- Kierunek obrotów (2x radio + 2x img) -->
        <div class="col-12">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="rotationDirection"
            name="rotationDirection">
            <label class="text-center col-12" for="rotationDirection"><strong>Kierunek obrotów (patrząc z góry)</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="rotationDirection1" v-model="cleaner.rotationDirection" value="1" name="rotationDirection" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="rotationDirection1">
                <img src="static/img/offers/newProducts/frezarka_do_slupkow/kier_obrotu1.png" title="Przeciwnie do ruchu wskazówek zegara" alt="Przeciwnie do ruchu wskazówek zegara">
              <small>Lewe</small>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="rotationDirection2" v-model="cleaner.rotationDirection" value="2" name="rotationDirection" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="rotationDirection2">
                <img src="static/img/offers/newProducts/frezarka_do_slupkow/kier_obrotu2.png" alt="Zgodnie z ruchami wskazówek zegara" title="Zgodnie z ruchami wskazówek zegara">
              <small>Prawe</small>
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>

     <!-- Parametry frezów
          /- srednica otworu ϕ [mm],
          /- srednica bazowa ϕ [mm],
          /- srednica najwiekszego freza ϕ [mm],
          - max. mozliwa srednica narzedzia [mm]
          - srednica wew. [mm]
          - srednica zew. [mm]
          - dlugosc [mm],
          - tuleja szybkozmienna [tak / nie]
          - tuleja redukcyjna [tak / nie]

          + img
        -->

      <b-row class="d-flex align-items-baseline">
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">Średnica otworu ϕ [mm]</label>
            <b-form-input v-model="cleaner.holeDiameter" type="number" placeholder="ϕw"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">Średnica bazowa ϕ [mm]</label>
            <b-form-input v-model="cleaner.baseDiameter" type="number" placeholder="ϕb"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxToolDiameter">Max. możliwa średnica narzędzia [mm]</label>
            <b-form-input v-model="cleaner.maxToolDiameter" type="number" placeholder="..."></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="innerDiameter">Średnica wew. [mm]</label>
            <b-form-input v-model="cleaner.innerDiameter" type="number" placeholder="..."></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="outerDiameter">Średnica zew. [mm]</label>
            <b-form-input v-model="cleaner.outerDiameter" type="number" placeholder="..."></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="cleanerLength">Długość [mm]</label>
            <b-form-input v-model="cleaner.cleanerLength" type="number" placeholder="..."></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6" class="text-center">
          <img src="static/img/offers/newProducts/oczyszczarka_narozy/param_frez_1.png" alt="">
        </b-col>
        <b-col sm="6" class="text-center">
          <img src="static/img/offers/newProducts/oczyszczarka_narozy/param_frez_2.png" alt="">
        </b-col>
      </b-row>
      <div class="row">
        <div class="col-4">
          <b-form-radio-group
            id="quickchangeBushing"
            class="text-center mt-3 mb-3"
            name="quickchangeBushing">
              <label class="text-center col-12" for="quickchangeBushing">Tuleja szybkozmienna</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.quickchangeBushing" id="quickchangeBushing1" value="1" name="quickchangeBushing" class="custom-control-input" checked>
                <label class="custom-control-label" for="quickchangeBushing1">
                  Tak
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.quickchangeBushing" id="quickchangeBushing2" value="2" name="quickchangeBushing" class="custom-control-input">
                <label class="custom-control-label" for="quickchangeBushing2">
                  Nie
                </label>
              </div>
            </b-form-radio-group>
          </div>
        <div class="col-4">
          <b-form-radio-group
            id="reductionSleeve"
            class="text-center mt-3 mb-3"
            name="reductionSleeve">
              <label class="text-center col-12" for="reductionSleeve">Tuleja redukcyjna</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.reductionSleeve" id="reductionSleeve1" value="1" name="reductionSleeve" class="custom-control-input" checked>
                <label class="custom-control-label" for="reductionSleeve1">
                  Tak
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.reductionSleeve" id="reductionSleeve2" value="2" name="reductionSleeve" class="custom-control-input">
                <label class="custom-control-label" for="reductionSleeve2">
                  Nie
                </label>
              </div>
            </b-form-radio-group>
        </div>
        <div class="col-4">
          <b-form-radio-group
            id="wedgeOnShaft"
            class="text-center mt-3 mb-3"
            name="wedgeOnShaft">
              <label class="text-center col-12" for="wedgeOnShaft">Klin na wale</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.wedgeOnShaft" id="wedgeOnShaft1" value="1" name="wedgeOnShaft" class="custom-control-input" checked>
                <label class="custom-control-label" for="wedgeOnShaft1">
                  Tak
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" v-model="cleaner.wedgeOnShaft" id="wedgeOnShaft2" value="2" name="wedgeOnShaft" class="custom-control-input">
                <label class="custom-control-label" for="wedgeOnShaft2">
                  Nie
                </label>
              </div>
            </b-form-radio-group>
        </div>
      </div>
      <!-- Dodatkowe informacje -->
      <b-form-group
        class="mt-3"
        label="Dodatkowe informacje"
        label-for="additionalInfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="additionalInfo" v-model="cleaner.additionalInfo" type="text" placeholder="Inne..."></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'OczyszczarkaNarozy',
  props: ['cleaner']
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
