<template>
  <div class="animated fadeIn">
    <!-- System profili  input-->
    <b-form-group
    label="System profili"
    label-for="systemProfili"
    :label-cols="3"
    :horizontal="true">
      <b-form-input id="profileSystem" v-model="cutter.profileSystem" type="text" placeholder="Wpisz..."></b-form-input>
    </b-form-group>
    <!-- numery profili  -->

    <div class="form-group">
          <b-row class="pb-2">
          <span class="text-center col-12 pb-2">Numery profili</span>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[0]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[1]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[2]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[3]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[4]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[5]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[6]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[7]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[8]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[9]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[10]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[11]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

    <!-- Pila do profili:
          - producent
          - typ
          - rok produkcji
          - numer seryjny
        -->
      <div class="form-group">
          <b-row>
            <b-col sm="3">
              <label for="producent">Producent</label>
              <b-form-input type="text" v-model="cutter.producent" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="type">Typ</label>
              <b-form-input type="text" v-model="cutter.type" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="productionYear">Rok produkcji</label>
              <b-form-input type="text" min=0 v-model="cutter.productionYear" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="serialNumber">Numer seryjny</label>
              <b-form-input type="text" v-model="cutter.serialNumber" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            id="stabilization"
            class="text-center mt-3 mb-3"
            name="stabilization"
            >
            <label class="text-center col-12" for="stabilization"><strong>Sposób stabilizowania listew</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="stabilization1" v-model="cutter.stabilization" value="1" name="stabilization" class="custom-control-input" checked>
              <label class="custom-control-label" for="stabilization1">
                <img src="static/img/offers/newProducts/pila_do_listew_przyszybowych/stabilizacja_1.png" alt="Sposób stabilizacji 1">
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="stabilization2" v-model="cutter.stabilization" value="2" name="stabilization" class="custom-control-input">
              <label class="custom-control-label" for="stabilization2">
                <img src="static/img/offers/newProducts/pila_do_listew_przyszybowych/stabilizacja_2.png" alt="Sposób stabilizacji 1">
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            id="cuttingMethod"
            class="text-center mt-3 mb-3"
            name="cuttingMethod"
            >
            <label class="text-center col-12" for="cuttingMethod"><strong>Sposób cięcia listew</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="cuttingMethod1" v-model="cutter.cuttingMethod" value="1" name="cuttingMethod" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="cuttingMethod1">
                <img src="static/img/offers/newProducts/pila_do_listew_przyszybowych/pionowo.png" alt="Cięcie pionowo">
                <small>Pionowo</small>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="cuttingMethod2" v-model="cutter.cuttingMethod" value="2" name="cuttingMethod" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="cuttingMethod2">
                <img src="static/img/offers/newProducts/pila_do_listew_przyszybowych/poziomo.png" alt="Cięcie poziomo">
                <small>Poziomo</small>
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="mountType"
            name="mountType">
            <label class="text-center col-12" for="mountType"><strong>Rodzaj mocowania</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType1" v-model="mountType" value="1" name="mountType" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="mountType1">
                Śruby
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType2" v-model="mountType" value="2" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType2">
                Kołki
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType3" v-model="mountType" value="3" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType3">
                Magnesy
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType4" v-model="mountType" value="4" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType4">
                Brak
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType5" v-model="mountType" value="5" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType5">
                Inne
              </label>
            </div>
          </b-form-radio-group>
              <label for="mountType6">Inne mocowanie</label>
              <b-form-input type="text" v-model="mountTypeOther" :disabled="isDisabled" placeholder="..."></b-form-input>
        </div>
      </div>

      <b-row>
        <label class="text-center col-12 mt-3"><strong>Wymiary</strong></label>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">B</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[1]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">1</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[1]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">2</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[2]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="maxCutterDiameter">3</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[3]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxToolDiameter">4</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[4]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="innerDiameter">5</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[5]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="outerDiameter">6</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[6]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="cutterLength">7</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[7]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">8</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[8]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Dodatkowe informacje -->
      <b-form-group
        class="mt-3"
        label="Dodatkowe informacje"
        label-for="additionalInfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="additionalInfo" v-model="cutter.additionalInfo" type="text" placeholder="Inne..."></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'PilaDoListewPrzyszybowych',
  props: ['cutter'],
  data () {
    return {
      isDisabled: true,
      mountType: '1',
      mountTypeOther: null
    }
  },
  watch: {
    mountType: function (val) {
      this.cutter.mountType = val
      if (val === '5') {
        this.isDisabled = false
      } else {
        this.mountTypeOther = ''
        this.isDisabled = true
      }
    },
    mountTypeOther: function (val) {
      this.cutter.mountTypeOther = val
    }
  }
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
