<template>
  <div class="animated fadeIn">
    <!-- System profili  input-->
    <b-form-group
    label="System profili"
    label-for="systemProfili"
    :label-cols="3"
    :horizontal="true">
      <b-form-input id="profileSystem" v-model="cutter.profileSystem" type="text" placeholder="Wpisz..."></b-form-input>
    </b-form-group>
    <!-- numery profili  -->

    <div class="form-group">
          <b-row class="pb-2">
          <span class="text-center col-12 pb-2">Numery profili</span>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[0]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[1]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[2]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[3]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[4]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[5]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[6]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[7]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[8]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[9]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[10]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="cutter.profileNumbers[11]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

    <!-- Pila do profili:
          - producent
          - typ
          - rok produkcji
          - numer seryjny
        -->
      <div class="form-group">
          <b-row>
            <b-col sm="3">
              <label for="producent">Producent</label>
              <b-form-input type="text" v-model="cutter.producent" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="type">Typ</label>
              <b-form-input type="text" v-model="cutter.type" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="productionYear">Rok produkcji</label>
              <b-form-input type="number" min=0 v-model="cutter.productionYear" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="serialNumber">Numer seryjny</label>
              <b-form-input type="text" v-model="cutter.serialNumber" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

       <!-- Ulozenie profilu na blacie pily (2x radio + 2x img) -->
      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            id="stakePlacement"
            class="text-center mt-3 mb-3"
            name="stakePlacement"
            >
              <label class="text-center col-12" for="stakePlacement"><strong>Ułożenie profilu na blacie piły</strong></label>
              <div class="custom-control custom-radio custom-control-inline col-lg-4">
                <input type="radio" id="stakePlacement1" v-model="cutter.stakePlacement" value="1" name="stakePlacement" class="custom-control-input" checked>
                <label class="custom-control-label" for="stakePlacement1">
                  <img src="static/img/offers/newProducts/pila_do_profili/ulozenie_1.png" alt="Ulozenie slupka 1">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-lg-4">
                <input type="radio" id="stakePlacement2" v-model="cutter.stakePlacement" value="2" name="stakePlacement" class="custom-control-input">
                <label class="custom-control-label" for="stakePlacement2">
                  <img src="static/img/offers/newProducts/pila_do_profili/ulozenie_2.png" alt="Ulozenie slupka 2">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-lg-4">
                <input type="radio" id="stakePlacement3" v-model="cutter.stakePlacement" value="3" name="stakePlacement" class="custom-control-input">
                <label class="custom-control-label" for="stakePlacement3">
                  <img src="static/img/offers/newProducts/pila_do_profili/ulozenie_3.png" alt="Ulozenie slupka 3">
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline col-lg-4">
                <input type="radio" id="stakePlacement4" v-model="cutter.stakePlacement" value="4" name="stakePlacement" class="custom-control-input">
                <label class="custom-control-label" for="stakePlacement4">
                  <img src="static/img/offers/newProducts/pila_do_profili/ulozenie_4.png" alt="Ulozenie slupka 4">
                </label>
              </div>
            </b-form-radio-group>
          </div>

        <div class="col-12">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="mountType"
            name="mountType">
            <label class="text-center col-12" for="mountType"><strong>Rodzaj mocowania</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType1" v-model="mountType" value="1" name="mountType" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="mountType1">
                Śruby
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType2" v-model="mountType" value="2" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType2">
                Kołki
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType3" v-model="mountType" value="3" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType3">
                Magnesy
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType4" v-model="mountType" value="4" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType4">
                Brak
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType5" v-model="mountType" value="5" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType5">
                Inne
              </label>
            </div>
          </b-form-radio-group>
              <label for="mounType6">Inne mocowanie</label>
              <b-form-input type="text" v-model="mountTypeOther" :disabled="isDisabled" placeholder="..."></b-form-input>
        </div>
      </div>

      <b-row>
        <label class="text-center col-12 mt-3"><strong>Wymiary</strong></label>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">1</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[0]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">2</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[1]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxCutterDiameter">3</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[2]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="3">
          <b-form-group >
            <label for="maxToolDiameter">4</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[3]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="innerDiameter">5</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[4]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="outerDiameter">6</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[5]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="cutterLength">7</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[6]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="holeDiameter">8</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[7]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">ϕ</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[8]" type="number" placeholder="ϕ" />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxCutterDiameter">M</label>
            <input class="form-control" step=0.01 min=0 v-model="cutter.dimensions[9]" type="number" placeholder="M" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="12" class="text-center">
          <img src="static/img/offers/newProducts/pila_do_profili/rysunek_prawego_blatu.png" alt="Rysunek prawego blatu" title="Rysunek prawego blatu">
        </b-col>
      </b-row>
      <!-- Dodatkowe informacje -->
      <b-form-group
        class="mt-3"
        label="Dodatkowe informacje"
        label-for="additionalInfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="additionalInfo" v-model="cutter.additionalInfo" type="text" placeholder="Inne..."></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'PilaDoProfili',
  props: ['cutter'],
  data () {
    return {
      isDisabled: true,
      mountType: '1',
      mountTypeOther: null
    }
  },
  watch: {
    mountType: function (val) {
      this.cutter.mountType = val
      if (val === '5') {
        this.isDisabled = false
      } else {
        this.mountTypeOther = ''
        this.isDisabled = true
      }
    },
    mountTypeOther: function (val) {
      this.cutter.mountTypeOther = val
    }
  }
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
