<template>
  <div class="animated fadeIn">
    <!-- System profili  input-->
    <b-form-group
    label="System profili"
    label-for="systemProfili"
    :label-cols="3"
    :horizontal="true">
      <b-form-input id="profileSystem" v-model="welder.profileSystem" type="text" placeholder="Wpisz..."></b-form-input>
    </b-form-group>
    <!-- numery profili  -->

    <div class="form-group">
          <b-row class="pb-2">
          <span class="text-center col-12 pb-2">Numery profili</span>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[0]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[1]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[2]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[3]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[4]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[5]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[6]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[7]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[8]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[9]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[10]" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="welder.profileNumbers[11]" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

      <b-form-group
        class="pt-3 text-center col-12"
        :label-cols="1"
        :horizontal="true">
        <div class="pt-2 custom-control custom-radio custom-control-inline">
          <input type="radio" v-model="welder.profileTypes" id="profileTypes1" name="profileTypes1" class="custom-control-input" value="1">
          <label class="custom-control-label" for="profileTypes1">Profile z uszczelką zgrzewalną</label>
        </div>
        <div class="pt-2 custom-control custom-radio custom-control-inline">
          <input type="radio" v-model="welder.profileTypes" id="profileTypes2" name="profileTypes1" class="custom-control-input" value="2" checked>
          <label class="custom-control-label" for="profileTypes2">Profile bez uszczelki zgrzewalnej</label>
        </div>
      </b-form-group>

    <!-- Pila do profili:
          - producent
          - typ
          - rok produkcji
          - numer seryjny
        -->
      <div class="form-group">
          <b-row>
            <b-col sm="3">
              <label for="producent">Producent</label>
              <b-form-input type="text" v-model="welder.producent" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="type">Typ</label>
              <b-form-input type="text" v-model="welder.type" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="productionYear">Rok produkcji</label>
              <b-form-input type="number" min=0 v-model="welder.productionYear" placeholder="..."></b-form-input>
            </b-col>
            <b-col sm="3">
              <label for="serialNumber">Numer seryjny</label>
              <b-form-input type="text" v-model="welder.serialNumber" placeholder="..."></b-form-input>
            </b-col>
          </b-row>
      </div>

      <div class="row">
        <div class="col-6">
          <b-form-radio-group
            id="stakePlacement"
            class="text-center mt-3 mb-3"
            name="stakePlacement"
            >
            <label class="text-center col-12" for="stakePlacement"><strong>Ułożenie ramy na blacie zgrzewarki</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="stakePlacement1" v-model="welder.stakePlacement" value="1" name="stakePlacement" class="custom-control-input" checked>
              <label class="custom-control-label" for="stakePlacement1">
                <img src="static/img/offers/newProducts/zgrzewarka/ulozenie_1.png" alt="Ulozenie slupka 1">
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="stakePlacement2" v-model="welder.stakePlacement" value="2" name="stakePlacement" class="custom-control-input">
              <label class="custom-control-label" for="stakePlacement2">
                <img src="static/img/offers/newProducts/zgrzewarka/ulozenie_2.png" alt="Ulozenie slupka 2">
              </label>
            </div>
          </b-form-radio-group>
        </div>
        <div class="col-6">
          <b-form-radio-group
            id="wingPlacement"
            class="text-center mt-3 mb-3"
            name="wingPlacement"
            >
            <label class="text-center col-12" for="wingPlacement"><strong>Ułożenie skrzydła na blacie zgrzewarki</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="wingPlacement1" v-model="welder.wingPlacement" value="1" name="wingPlacement" class="custom-control-input" checked>
              <label class="custom-control-label" for="wingPlacement1">
                <img src="static/img/offers/newProducts/zgrzewarka/ulozenie_skrzydla_1.png" alt="Ulozenie slupka 1">
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="wingPlacement2" v-model="welder.wingPlacement" value="2" name="wingPlacement" class="custom-control-input">
              <label class="custom-control-label" for="wingPlacement2">
                <img src="static/img/offers/newProducts/zgrzewarka/ulozenie_skrzydla_2.png" alt="Ulozenie slupka 2">
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            id="welderType"
            class="text-center mt-3 mb-3"
            name="welderType"
            >
            <label class="text-center col-12" for="welderType"><strong>Rodzaj zgrzewarki</strong></label>
            <div class="custom-control custom-radio custom-control-inline col-3">
              <input type="radio" id="welderType1" v-model="welder.welderType" value="1" name="welderType" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="welderType1">
                <img src="static/img/offers/newProducts/zgrzewarka/glowica_1.png" alt="Ulozenie slupka 1">
                <small>1 głowicowa</small>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline col-3">
              <input type="radio" id="welderType2" v-model="welder.welderType" value="2" name="welderType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="welderType2">
                <img src="static/img/offers/newProducts/zgrzewarka/glowica_2.png" alt="Ulozenie slupka 2">
                <small>2 głowicowa</small>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline col-3">
              <input type="radio" id="welderType3" v-model="welder.welderType" value="3" name="welderType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="welderType3">
                <img src="static/img/offers/newProducts/zgrzewarka/glowica_3.png" alt="Ulozenie slupka 3">
                <small>4 głowicowa</small>
              </label>
            </div>
          </b-form-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b-form-radio-group
            class="text-center mt-3 mb-3"
            id="mountType"
            name="mountType">
            <label class="text-center col-12" for="mountType"><strong>Rodzaj mocowania</strong></label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType1" v-model="mountType" value="1" name="mountType" class="custom-control-input" checked>
              <label class="custom-control-label image-label-with-caption" for="mountType1">
                Magnesy
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType2" v-model="mountType" value="2" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType2">
                Nakrętka teowa
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType3" v-model="mountType" value="3" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType3">
                Szpilki, śruby
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType4" v-model="mountType" value="4" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType4">
                Specjalne
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType5" v-model="mountType" value="5" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType5">
                Brak
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mountType6" v-model="mountType" value="6" name="mountType" class="custom-control-input">
              <label class="custom-control-label image-label-with-caption" for="mountType6">
                Inne
              </label>
            </div>
          </b-form-radio-group>
              <label for="mounType6">Inne mocowanie</label>
              <b-form-input type="text" v-model="mountTypeOther" :disabled="isDisabled" placeholder="..."></b-form-input>
        </div>
      </div>

      <b-row>
        <label class="text-center col-12 mt-3"><strong>Wymiary [mm]</strong></label>
        <b-col sm="3">
          <b-form-group >
            <label for="holeDiameter">1</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[0]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="baseDiameter">2</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[1]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="maxwelderDiameter">3</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[2]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="maxToolDiameter">4</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[3]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="3">
          <b-form-group >
            <label for="innerDiameter">5</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[4]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="outerDiameter">6</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[5]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="welderLength">7</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[6]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="3">
          <b-form-group >
            <label for="holeDiameter">8</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[7]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="4">
          <b-form-group >
            <label for="baseDiameter">9</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[8]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxwelderDiameter">10</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[9]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group >
            <label for="maxwelderDiameter">B</label>
            <input step=0.01 min=0 class="form-control" v-model="welder.dimensions[10]" type="number" placeholder="..." />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="12" class="text-center">
          <img src="static/img/offers/newProducts/zgrzewarka/wymiary.png" alt="Rysunek prawego blatu" title="Rysunek prawego blatu">
        </b-col>
      </b-row>
      <!-- Dodatkowe informacje -->
      <b-form-group
        class="mt-3"
        label="Dodatkowe informacje"
        label-for="additionalInfo"
        :label-cols="3"
        :horizontal="true">
        <b-form-input id="additionalInfo" v-model="welder.additionalInfo" type="text" placeholder="Inne..."></b-form-input>
      </b-form-group>
  </div>
</template>
<script>
export default {
  name: 'Zgrzewarka',
  props: ['welder'],
  data () {
    return {
      isDisabled: true,
      mountType: '1',
      mountTypeOther: null
    }
  },
  watch: {
    mountType: function (val) {
      this.welder.mountType = val
      if (val === '6') {
        this.isDisabled = false
      } else {
        this.mountTypeOther = ''
        this.isDisabled = true
      }
    },
    mountTypeOther: function (val) {
      this.welder.mountTypeOther = val
    }
  }
}
</script>
<style>
.image-label-with-caption{
  display: flex;
  flex-direction: column;
}
</style>
